<table class="comments">
   <tr>
      <th class="tip_header">Comments</th>
      <th class="created_header">Created</th>
   </tr>
   <%= render :partial => "comment", :collection => @items %>
</table>
<%= will_paginate @items %>