<table>
   <tr>
      <th>Pitch</th>
      <th>Donated</th>
      <th>Donation</th>
      <th>Status</th>
   </tr>
	<%= render :partial => "/profiles/donation", :collection => @items %>
</table>
<%= will_paginate @items %>