<table>
   <tr>
      <th>Pitches</th>
      <th>Created</th>
      <th>Donations</th>
   </tr>
   <%= render :partial => "/profiles/pitch", :collection => @items %>
</table>
<%= will_paginate @items %>