- @title = "Spot.us - Member Profile"
.block-spacer

#equalize

  - # first column content 
  .span-605.box_white
    = render :partial => 'profiles/profile'

  - # second column content   
  .span-270.box_white
    = render :partial => 'layouts/common_questions'
  

.clear
.block-spacer

