<% @title = "Spot.us - Member Profile" %>
<%= render :partial => 'layouts/common_questions' %>
<div id="public_profile">
   <h3>User Profile: <%= @profile.full_name %></h3>
   <%= render :partial =>'user_dashboard_nav', :locals => {:selected_tab => @tab} %>
   <div id="content_wrapper">
      <%= render :partial =>  @tab %>
   </div>
</div>