%h2 Sorry about that.
%p Check below to see what happened:
%ul
  %li Invalid E-mail Address or Password
%p 
  If you're experiencing a persistent problem, email
  = mail_to get_email(:info, true), nil, :encode => "hex"