.login-boxer
  - form_tag session_url do
    .span-6.or_login
    %h3 Thanks for joining us!
    = link_to "New users: REGISTER HERE", new_user_path
    %br
    %span.small.quieter
      If we already know you - login below.
    %br
    .double_content_border
      = render :partial => 'sessions/form'
      .clear
      .double_content_border
      .float_right
        %input{:type => 'image', :src=>'/images/login.png', :alt => "Login"}
.clear
