<div id="login_modal">
   <% form_tag session_url(:protocol => 'http'), :class => "login" do %>
      <div id="login_form">
         <div class="float-right"><strong><span style="color:red"><a href="" class='popup_link show_register_form'>&raquo; REGISTER FOR SPOT.US</a><span></strong></div>
         <h3>Thanks for joining us!</h3> 
         <%= render :partial => 'sessions/popup_form' %>
         <input type='image' src='/images/login.png' alt="Login" onclick="processLoginForm();"> 
      </div>
   <% end %>
   <%= render :partial => "users/popup_form" %>
</div>