<div class="headerTitle">
	<h1>Welcome back.</h1>
	<p>If we already know you, log in below.</p>
</div>
<div class="joinContainer">
	<a href="/user/new" title='Register' rel="nofollow">Or Register &rsaquo;</a>
</div>