<div class="headerTitle">
	<h1>Welcome.</h1>
	<p>If you're new, register. If we already know you, log in.</p>
</div>
<div class="joinContainer">
	<a href="/user/new" title='Register' rel="nofollow">Or Register &rsaquo;</a>
</div>