- @title = "Spot.us - Login"
#login
  - if login_failed?
    - content_for :error do
      %h2 Sorry about that.
      %p Check below to see what happened:
      %ul
        %li Was it an invalid E-mail address or password?
        %li 
          Have you registered yet?
          = link_to "Register now", new_user_path
      %p
        If you're experiencing a persistent problem, email
        = mail_to 'david@spot.us', nil, :encode => "hex"
        %br
        Seriously, this guy doesn't sleep and he wants the site to work for you!!!
  #spotusForm
    - form_tag session_url do
      = link_to "&raquo; NEW USERS: REGISTER HERE", new_user_path, :class => "float-right"
      %h3 Thanks for joining us!
      %br
      %span.small.quieter
        If we already know you - login below.
      %br
      .double_content_border
      = render :partial => 'sessions/form'
      .float-right.clearfix
        %input{:type => 'image', :src=>'/images/login.png', :alt => "Login", :onclick=>"processLoginForm();"}


