- @title = "Spot.us - Login"
#loginNull
  - if login_failed?
    - content_for :error do
      %h2 Sorry about that.
      %p Check below to see what happened:
      %ul
        %li Was it an invalid E-mail address or password?
        %li 
          Have you registered yet?
          = link_to "Register now", new_user_path
      %p
        If you're experiencing a persistent problem, email
        = mail_to 'david@spot.us', nil, :encode => "hex"
        %br
        Seriously, this guy doesn't sleep and he wants the site to work for you!!!
  #spotusForm
    - form_tag session_url do
      .double_content_border
      = render :partial => 'sessions/form'


