<% @title = "Spot.us - Member Dashboard" %>

<div id="myspot_dashboard">
   <%= render :partial => "myspot/nav", :locals => {:selected_tab => "dashboard"} %>
   <div id="profile_container">
      <%= render :partial => "myspot/dashboard_nav", :locals => {:selected_tab => "comments"} %>
      <div id="dashboard_content">
         <table class="comments">
          <tr>
            <th class="tip_header">Comment</th>
            <th class="created_header">Created</th>
          </tr>
          <tr>
            <td colspan="4">
               <%= render :partial => "myspot/comments/comment", :collection => @comments, :spacer_template => "myspot/comments/comment_spacer" %>
            </td>
          </tr>
   		<tr>
   			<td colspan='4'><%=will_paginate @comments%></td>
   		</tr>
         </table>
      </div>
   </div>
</div>
