- @title = "Spot.us - Member Profile"
.block-spacer
%h3 My Spot

= render :partial => 'myspot/nav'

#equalize

  - # first column content 
  .span-605.box_white
    - if @profile.is_a?(Organization)
      = render :partial => 'profiles/news_org_profile'
    - else
      = render :partial => 'profiles/profile'

  - # second column content   
  .span-270.box_white
    = render :partial => 'layouts/common_questions'
  

.clear
.block-spacer

