<% @title = "Spot.us - Member Profile" %>
<%= render :partial => "layouts/common_questions" %>
<div id="myspot_dashboard">
   <h3>My Spot</h3>
   <%= render :partial => "/myspot/nav", :locals => {:selected_tab => "profile"}%>
   
   <% if @profile.is_a?(Organization) %>
      <%= render :partial => 'profiles/news_org_profile' %>
   <% else %>
      <%= render :partial => 'profiles/profile' %>
   <% end %>
</div>
  

