<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'blogs', :action => 'index', :format => 'rss'}) %>
<% end %>

<% @title = "Spot.us - Fund A Story" %>
<% @filter = ""%>
<div id="fund_a_story">
	<div id="navigation">
		<h5>Browse Blog Posts:</h5>
	</div>
	<div id="stories">
		<%= link_to image_tag("/images/new_design/rss_16.png"), "/blogs.rss", :class => "rss_button" %>	
		<h3 class="display_inline">NOW VIEWING:</h3> 
		<h4 class="display_inline">Blog Posts <%=get_inside_network_text(@network).titleize%></h4>
		<div style="height: 5px; background-color: rgb(204, 204, 204); margin-bottom: 10px;">&nbsp;</div>
		<%=render :partial=>"shared/lists", :locals=>{ 
			:items=>@posts, 
			:no_items_message=>"Oops, there are no blog posts here." 
		}%>
	</div>
</div>