<% @title = "Spot.us - Member Dashboard" %>

<div id="myspot_dashboard">
   <%= render :partial => "myspot/nav", :locals => {:selected_tab => "dashboard"} %>
   <div id="profile_container">
      <%= render :partial => "myspot/dashboard_nav", :locals => {:selected_tab => "pitches"} %>
      <div id="dashboard_content">
         <table class="pitches">
          <tr>
            <th class="pitch_header">Pitches</th>
            <th class="created_header">Created</th>
            <th class="donations_header">Donations</th>
            <th class="actions_header">Actions</th>
          </tr>
          <tr>
            <td colspan="4">
               <%= render :partial => "myspot/pitches/pitch", :collection => @pitches, :spacer_template => "myspot/pitches/pitch_spacer" %>
            </td>
          </tr>
         </table>
      </div>
   </div>
</div>