<%= render :partial => "pitches/pitch_head" %>
<% @title = "Spot.us - #{h @assignment.title} - Pitch: #{h @assignment.pitch.headline}" %>

<%=render :partial => "pitches/tabs"%>

<% if @subscriber && @subscriber.errors.any? %>
	<div class="error">
		<%= error_messages_for :subscriber %>
	</div>
<% end %>

<%#=render :partial => "admin_menu"%>

<div class="pitchContainer">
	<%=render :partial => "pitches/sidebars/narrow"%>
</div>