.row
  =# ckeditor_textarea('comment', 'body', :toolbar => 'Basic', :height => '100px')
  = f.text_area :body
.row
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type
  = submit_tag "Post Comment", {:class => 'submitButton'}
