= link_to image_tag("pledge_added.png"), myspot_pledges_url
.small.uppcased_button_text 
  = link_to "Go To My Pledges Page &raquo;", myspot_pledges_url
= render :partial => "shared/hey_reporters", :locals => {:tip => tip}