= link_to image_tag("pledge_added.png"), myspot_pledges_url
.small.uppcased_button_text 
  Go To My Pledges Page &raquo;
  .double_content_border
.shared_progress_bar.progress_bar
    
  .quieter.small-spotus Hey Reporters: build this pitch!
  %p.small-spotus
    There's already
    %strong= number_to_currency(100)
    worth of interest!