/ Create Pitch
.span-3
  CREATE PITCH
.span-5
  = link_to "Initial", "../ui/create_pitch_initial"
.span-6
  = link_to "ui/create_pitch_initial.html.haml", "#{@ui_url}/create_pitch_initial.html.haml"
.clear{:style=>"margin-bottom:15px;"}