/ Dashboard
.span-3.red
  DASHBOARD
.span-5
  My Donations
  %br/
  My Donations, Donation Added, Zero Credit
  %br/
  My Pledges
  %br/
  My Pitches
  %br/
  My Pitches - Cancelled Pitch
  %br/
  My Stories
.span-6
.clear{:style=>"margin-bottom:15px;"}