/ Edit Profile
.span-3.red
  EDIT PROFILE
.span-5
  Community Member
  %br/
  News Org
  %br/
  Journalist, Basic Info
  %br/
  Journalist, Resume, Populated, Comment
  %br/
  Journalist, Resume, Initial
  %br/
  Webclips
  %br/
  Webcliips, Initial
.span-6
.clear{:style=>"margin-bottom:15px;"}