%p{:style=>"float:left;"}
  == Copyright &copy; #{Time.now.year} Hashrocket.
%p{:style=>"float:right;margin-top:0px;"}
  If you have any questions about the mark-up files and styling, please email:
  %a{:href=>"mailto: carmelyne@hashrocket.com", :style=>"margin-top:-1.5em;"} carmelyne@hashrocket.com