%hr/
%ul
  %li Status: Fixed / home page boxing (ie6 & ie7)  - via spotus_ie_pixel.gif image
  %li Status: Fixed / png issue (ie6)  - via  jquery.pngFix.js
  %li 
    Status: Unresolved / create a tip iconized section (ie6)
    %br/ 
    TODO: embed the icon instead of using it as a background in the li block
  %li 
    Status: Unresolved / header tags like h1, h2, h3, h4, h5 over lapping with p tags if the length covers more than 2 rows.
    %br/ 
    TODO: truncate words to limit it within two rows. 
