%hr/
%h3 Image Buttons
%div.image_items
  %img{:src=>"../images/preview_tip.png"}
  %img{:src=>"../images/fully_funded.png"}
  %img{:src=>"../images/create_a_pitch.png"}
  %img{:src=>"../images/save.png"}
  %img{:src=>"../images/save_draft.png"}
  %img{:src=>"../images/preview.png"}
  %img{:src=>"../images/send_to_editor.png"}
  %img{:src=>"../images/publish.png"}
  %img{:src=>"../images/login.png"}
  %img{:src=>"../images/register.png"}
  %img{:src=>"../images/next.png"}
  %img{:src=>"../images/read_more.png"}
  %img{:src=>"../images/donation_added.png"}
  %img{:src=>"../images/pledge_added.png"}
  %img{:src=>"../images/search_button.png"}
  %img{:src=>"../images/donate_25.png"}
  %img{:src=>"../images/pledge_25.png"}

%hr/
%h3 Image Icons
%div.image_items
  %img{:src=>"../images/blue_info.png"}
  %img{:src=>"../images/pledgester.png"}
  %img{:src=>"../images/pitcher.png"}
  %img{:src=>"../images/tipster.png"}
  %img{:src=>"../images/pencil_cluster.png"}
  %img{:src=>"../images/lite_teal_one.png"}
  %img{:src=>"../images/lite_teal_two.png"}
  %img{:src=>"../images/dark_teal_one.png"}
  %img{:src=>"../images/dark_teal_two.png"}