%hr/
%h3 Image Buttons
%div.image_items
  %img{:src=>"../images/preview_tip.png"}
  %img{:src=>"../images/fully_funded.png"}
  %img{:src=>"../images/create_a_pitch.png"}
  %img{:src=>"../images/save.png"}
  %img{:src=>"../images/save_draft.png"}
  %img{:src=>"../images/preview.png"}
  %img{:src=>"../images/send_to_editor.png"}
  %img{:src=>"../images/publish.png"}
  %img{:src=>"../images/login.png"}
  %img{:src=>"../images/register.png"}
  %img{:src=>"../images/next.png"}
  %img{:src=>"../images/read_more.png"}
  %img{:src=>"../images/donation_added.png"}
  %img{:src=>"../images/pledge_added.png"}
  %img{:src=>"../images/search_button.png"}
  %img{:src=>"../images/donate_25.png"}
  %img{:src=>"../images/donate_25_short.png"}
  %img{:src=>"../images/pledge_25.png"}
  %img{:src=>"../images/copy.png"}
  %img{:src=>"../images/edit_this_tip.png"}
  %img{:src=>"../images/post_this_tip.png"}
  %img{:src=>"../images/cancel.png"}
  %img{:src=>"../images/preview_testimonial.png"}
  %img{:src=>"../images/send.png"}
  %img{:src=>"../images/purchase.png"}
  %img{:src=>"../images/submit.png"}
  %img{:src=>"../images/go_to_cart.png"}
  %img{:src=>"../images/purchase_credits.png"}
  %img{:src=>"../images/leave_feedback.png"}
  %img{:src=>"../images/report_abuse.png"}
  %img{:src=>"../images/add_job.png"}
  %img{:src=>"../images/add.png"}
%hr/
%h3 Image Icons
%div.image_items
  %img{:src=>"../images/blue_info.png"}
  %img{:src=>"../images/pledgester.png"}
  %img{:src=>"../images/pitcher.png"}
  %img{:src=>"../images/tipster.png"}
  %img{:src=>"../images/pencil_cluster.png"}
  %img{:src=>"../images/lite_teal_one.png"}
  %img{:src=>"../images/lite_teal_two.png"}
  %img{:src=>"../images/lite_teal_three.png"}
  %img{:src=>"../images/lite_teal_four.png"}
  %img{:src=>"../images/dark_teal_one.png"}
  %img{:src=>"../images/dark_teal_two.png"}
  %img{:src=>"../images/yellow_note.png"}
  %img{:src=>"../images/bullet_square_arrow.png"}
  %img{:src=>"../images/share_this.png"}
  %img{:src=>"../images/default_avatar.png"}
  %img{:src=>"../images/preview_icon.png"}
  %img{:src=>"../images/story.png"}
  %img{:src=>"../images/people.png"}
  %img{:src=>"../images/people_funding.png"}
  %img{:src=>"../images/progress_bar.png"}
  %img{:src=>"../images/open_quotes.png"}
  %img{:src=>"../images/close_quotes.png"}
  %img{:src=>"../images/new_york_times.png"}
  %img{:src=>"../images/spotus_recommended.png"}
  %img{:src=>"../images/washington_post.png"}
  %img{:src=>"../images/icon_boston_globe.png"}
  %img{:src=>"../images/icon_new_york_times.png"}
  %img{:src=>"../images/icon_wall_street_journal.png"}
  %img{:src=>"../images/icon_nowheresville.png"}
  %img{:src=>"../images/icon_wired.png"}
  %img{:src=>"../images/icon_abc.png"}
  %img{:src=>"../images/nav_dark_teal_bg.png"}
  %img{:src=>"../images/creative_commons_license.png"}
  %img{:src=>"../images/sorter_down.png"}
  %img{:src=>"../images/close_square.png"}
  %img{:src=>"../images/support_spotus.png"}
  %img{:src=>"../images/check_donate.png"}
  %img{:src=>"../images/credit_cards.png"}
  %img{:src=>"../images/reporter_update.png"}
  %img{:src=>"../images/anonymous.png"}
  %img{:src=>"../images/checked.png"}
  %img{:src=>"../images/remove.png"}
  %img{:src=>"../images/icon_spotus.png"}
  %img{:src=>"../images/speak_to_reporters.png"}
.block_padding