%hr/
%h3 Image Buttons
%div.image_items
  %img{:src=>"../images/preview_tip.png"}
  %img{:src=>"../images/fully_funded.png"}
  %img{:src=>"../images/create_a_pitch.png"}
  %img{:src=>"../images/save.png"}
  %img{:src=>"../images/save_draft.png"}
  %img{:src=>"../images/preview.png"}
  %img{:src=>"../images/send_to_editor.png"}
  %img{:src=>"../images/publish.png"}
  %img{:src=>"../images/login.png"}
  %img{:src=>"../images/register.png"}
  %img{:src=>"../images/next.png"}
  %img{:src=>"../images/read_more.png"}
  %img{:src=>"../images/donation_added.png"}
  %img{:src=>"../images/pledge_added.png"}
  %img{:src=>"../images/search_button.png"}
  %img{:src=>"../images/donate_25.png"}
  %img{:src=>"../images/donate_25_short.png"}
  %img{:src=>"../images/donate_25_shorter.png"}
  %img{:src=>"../images/pledge_25.png"}
  %img{:src=>"../images/copy.png"}
  %img{:src=>"../images/edit_this_tip.png"}
  %img{:src=>"../images/post_this_tip.png"}
  %img{:src=>"../images/cancel.png"}
  %img{:src=>"../images/preview_testimonial.png"}
  %img{:src=>"../images/send.png"}
  %img{:src=>"../images/purchase.png"}
  %img{:src=>"../images/submit.png"}
  %img{:src=>"../images/go_to_cart.png"}
  %img{:src=>"../images/purchase_credits.png"}
  %img{:src=>"../images/leave_feedback.png"}
  %img{:src=>"../images/report_abuse.png"}
  %img{:src=>"../images/add_job.png"}
  %img{:src=>"../images/add.png"}
  %img{:src=>"../images/edit_this_pitch_arrow.png"}
  %img{:src=>"../images/edit_this_pitch.png"}
%hr/
%h3 Image Icons
%div.image_items
  %img{:src=>"../images/blue_info.png"}
  %img{:src=>"../images/pledgester.png"}
  %img{:src=>"../images/pitcher.png"}
  %img{:src=>"../images/tipster.png"}
  %img{:src=>"../images/pencil_cluster.png"}
  %img{:src=>"../images/lite_teal_one.png"}
  %img{:src=>"../images/lite_teal_two.png"}
  %img{:src=>"../images/lite_teal_three.png"}
  %img{:src=>"../images/lite_teal_four.png"}
  %img{:src=>"../images/dark_teal_one.png"}
  %img{:src=>"../images/dark_teal_two.png"}
  %img{:src=>"../images/yellow_note.png"}
  %img{:src=>"../images/bullet_square_arrow.png"}
  %img{:src=>"../images/share_this.png"}
  %img{:src=>"../images/default_avatar.png"}
  %img{:src=>"../images/preview_icon.png"}
  %img{:src=>"../images/story.png"}
  %img{:src=>"../images/people.png"}
  %img{:src=>"../images/people_funding.png"}
  %img{:src=>"../images/progress_bar.png"}
  %img{:src=>"../images/open_quotes.png"}
  %img{:src=>"../images/close_quotes.png"}
  %img{:src=>"../images/new_york_times.png"}
  %img{:src=>"../images/spotus_recommended.png"}
  %img{:src=>"../images/washington_post.png"}
  %img{:src=>"../images/icon_boston_globe.png"}
  %img{:src=>"../images/icon_new_york_times.png"}
  %img{:src=>"../images/icon_wall_street_journal.png"}
  %img{:src=>"../images/icon_nowheresville.png"}
  %img{:src=>"../images/icon_wired.png"}
  %img{:src=>"../images/icon_abc.png"}
  %img{:src=>"../images/nav_dark_teal_bg.png"}
  %img{:src=>"../images/creative_commons_license.png"}
  %img{:src=>"../images/sorter_down.png"}
  %img{:src=>"../images/close_square.png"}
  %img{:src=>"../images/support_spotus.png"}
  %img{:src=>"../images/check_donate.png"}
  %img{:src=>"../images/credit_cards.png"}
  %img{:src=>"../images/reporter_update.png"}
  %img{:src=>"../images/anonymous.png"}
  %img{:src=>"../images/checked.png"}
  %img{:src=>"../images/remove.png"}
  %img{:src=>"../images/icon_spotus.png"}
  %img{:src=>"../images/speak_to_reporters.png"}
  %img{:src=>"../images/email.png"}
  %img{:src=>"../images/globe.png"}
  %img{:src=>"../images/url_globe.png"}
  %img{:src=>"../images/spotus_logo_small.png"}
  %img{:src=>"../images/spotus_logo.png"}
%hr
%h3 The Sprites - %span.ss_sprite.#{ICON_NAME}
%div.image_items
  %span.ss_sprite.ss_accept ss_accept
  %br/
  %span.ss_sprite.ss_add ss_add
  %br/
  %span.ss_sprite.ss_anchor ss_anchor
  %br/
  %span.ss_sprite.ss_application ss_application
  %br/
  %span.ss_sprite.ss_application_add ss_application_add
  %br/
  %span.ss_sprite.ss_application_cascade ss_application_cascade
  %br/
  %span.ss_sprite.ss_application_delete ss_application_delete
  %br/
  %span.ss_sprite.ss_application_double ss_application_double
  %br/
  %span.ss_sprite.ss_application_edit ss_application_edit
  %br/
  %span.ss_sprite.ss_application_error ss_application_error
  %br/
  %span.ss_sprite.ss_application_form ss_application_form
  %br/
  %span.ss_sprite.ss_application_form_add ss_application_form_add
  %br/
  %span.ss_sprite.ss_application_form_delete ss_application_form_delete
  %br/
  %span.ss_sprite.ss_application_form_edit ss_application_form_edit
  %br/
  %span.ss_sprite.ss_application_form_magnify ss_application_form_magnify
  %br/
  %span.ss_sprite.ss_application_get ss_application_get
  %br/
  %span.ss_sprite.ss_application_go ss_application_go
  %br/
  %span.ss_sprite.ss_application_home ss_application_home
  %br/
  %span.ss_sprite.ss_application_key ss_application_key
  %br/
  %span.ss_sprite.ss_application_lightning ss_application_lightning
  %br/
  %span.ss_sprite.ss_application_link ss_application_link
  %br/
  %span.ss_sprite.ss_application_osx ss_application_osx
  %br/
  %span.ss_sprite.ss_application_osx_terminal ss_application_osx_terminal
  %br/
  %span.ss_sprite.ss_application_put ss_application_put
  %br/
  %span.ss_sprite.ss_application_side_boxes ss_application_side_boxes
  %br/
  %span.ss_sprite.ss_application_side_contract ss_application_side_contract
  %br/
  %span.ss_sprite.ss_application_side_expand ss_application_side_expand
  %br/
  %span.ss_sprite.ss_application_side_list ss_application_side_list
  %br/
  %span.ss_sprite.ss_application_side_tree ss_application_side_tree
  %br/
  %span.ss_sprite.ss_application_split ss_application_split
  %br/
  %span.ss_sprite.ss_application_tile_horizontal ss_application_tile_horizontal
  %br/
  %span.ss_sprite.ss_application_tile_vertical ss_application_tile_vertical
  %br/
  %span.ss_sprite.ss_application_view_columns ss_application_view_columns
  %br/
  %span.ss_sprite.ss_application_view_detail ss_application_view_detail
  %br/
  %span.ss_sprite.ss_application_view_gallery ss_application_view_gallery
  %br/
  %span.ss_sprite.ss_application_view_icons ss_application_view_icons
  %br/
  %span.ss_sprite.ss_application_view_list ss_application_view_list
  %br/
  %span.ss_sprite.ss_application_view_tile ss_application_view_tile
  %br/
  %span.ss_sprite.ss_application_xp ss_application_xp
  %br/
  %span.ss_sprite.ss_application_xp_terminal ss_application_xp_terminal
  %br/
  %span.ss_sprite.ss_arrow_branch ss_arrow_branch
  %br/
  %span.ss_sprite.ss_arrow_divide ss_arrow_divide
  %br/
  %span.ss_sprite.ss_arrow_down ss_arrow_down
  %br/
  %span.ss_sprite.ss_arrow_in ss_arrow_in
  %br/
  %span.ss_sprite.ss_arrow_inout ss_arrow_inout
  %br/
  %span.ss_sprite.ss_arrow_join ss_arrow_join
  %br/
  %span.ss_sprite.ss_arrow_left ss_arrow_left
  %br/
  %span.ss_sprite.ss_arrow_merge ss_arrow_merge
  %br/
  %span.ss_sprite.ss_arrow_out ss_arrow_out
  %br/
  %span.ss_sprite.ss_arrow_redo ss_arrow_redo
  %br/
  %span.ss_sprite.ss_arrow_refresh ss_arrow_refresh
  %br/
  %span.ss_sprite.ss_arrow_refresh_small ss_arrow_refresh_small
  %br/
  %span.ss_sprite.ss_arrow_right ss_arrow_right
  %br/
  %span.ss_sprite.ss_arrow_rotate_anticlockwise ss_arrow_rotate_anticlockwise
  %br/
  %span.ss_sprite.ss_arrow_rotate_clockwise ss_arrow_rotate_clockwise
  %br/
  %span.ss_sprite.ss_arrow_switch ss_arrow_switch
  %br/
  %span.ss_sprite.ss_arrow_turn_left ss_arrow_turn_left
  %br/
  %span.ss_sprite.ss_arrow_turn_right ss_arrow_turn_right
  %br/
  %span.ss_sprite.ss_arrow_undo ss_arrow_undo
  %br/
  %span.ss_sprite.ss_arrow_up ss_arrow_up
  %br/
  %span.ss_sprite.ss_asterisk_orange ss_asterisk_orange
  %br/
  %span.ss_sprite.ss_asterisk_yellow ss_asterisk_yellow
  %br/
  %span.ss_sprite.ss_attach ss_attach
  %br/
  %span.ss_sprite.ss_award_star_add ss_award_star_add
  %br/
  %span.ss_sprite.ss_award_star_bronze_1 ss_award_star_bronze_1
  %br/
  %span.ss_sprite.ss_award_star_bronze_2 ss_award_star_bronze_2
  %br/
  %span.ss_sprite.ss_award_star_bronze_3 ss_award_star_bronze_3
  %br/
  %span.ss_sprite.ss_award_star_delete ss_award_star_delete
  %br/
  %span.ss_sprite.ss_award_star_gold_1 ss_award_star_gold_1
  %br/
  %span.ss_sprite.ss_award_star_gold_2 ss_award_star_gold_2
  %br/
  %span.ss_sprite.ss_award_star_gold_3 ss_award_star_gold_3
  %br/
  %span.ss_sprite.ss_award_star_silver_1 ss_award_star_silver_1
  %br/
  %span.ss_sprite.ss_award_star_silver_2 ss_award_star_silver_2
  %br/
  %span.ss_sprite.ss_award_star_silver_3 ss_award_star_silver_3
  %br/
  %span.ss_sprite.ss_basket ss_basket
  %br/
  %span.ss_sprite.ss_basket_add ss_basket_add
  %br/
  %span.ss_sprite.ss_basket_delete ss_basket_delete
  %br/
  %span.ss_sprite.ss_basket_edit ss_basket_edit
  %br/
  %span.ss_sprite.ss_basket_error ss_basket_error
  %br/
  %span.ss_sprite.ss_basket_go ss_basket_go
  %br/
  %span.ss_sprite.ss_basket_put ss_basket_put
  %br/
  %span.ss_sprite.ss_basket_remove ss_basket_remove
  %br/
  %span.ss_sprite.ss_bell ss_bell
  %br/
  %span.ss_sprite.ss_bell_add ss_bell_add
  %br/
  %span.ss_sprite.ss_bell_delete ss_bell_delete
  %br/
  %span.ss_sprite.ss_bell_error ss_bell_error
  %br/
  %span.ss_sprite.ss_bell_go ss_bell_go
  %br/
  %span.ss_sprite.ss_bell_link ss_bell_link
  %br/
  %span.ss_sprite.ss_bin ss_bin
  %br/
  %span.ss_sprite.ss_bin_closed ss_bin_closed
  %br/
  %span.ss_sprite.ss_bin_empty ss_bin_empty
  %br/
  %span.ss_sprite.ss_bomb ss_bomb
  %br/
  %span.ss_sprite.ss_book ss_book
  %br/
  %span.ss_sprite.ss_book_add ss_book_add
  %br/
  %span.ss_sprite.ss_book_addresses ss_book_addresses
  %br/
  %span.ss_sprite.ss_book_delete ss_book_delete
  %br/
  %span.ss_sprite.ss_book_edit ss_book_edit
  %br/
  %span.ss_sprite.ss_book_error ss_book_error
  %br/
  %span.ss_sprite.ss_book_go ss_book_go
  %br/
  %span.ss_sprite.ss_book_key ss_book_key
  %br/
  %span.ss_sprite.ss_book_link ss_book_link
  %br/
  %span.ss_sprite.ss_book_next ss_book_next
  %br/
  %span.ss_sprite.ss_book_open ss_book_open
  %br/
  %span.ss_sprite.ss_book_previous ss_book_previous
  %br/
  %span.ss_sprite.ss_box ss_box
  %br/
  %span.ss_sprite.ss_brick ss_brick
  %br/
  %span.ss_sprite.ss_brick_add ss_brick_add
  %br/
  %span.ss_sprite.ss_brick_delete ss_brick_delete
  %br/
  %span.ss_sprite.ss_brick_edit ss_brick_edit
  %br/
  %span.ss_sprite.ss_brick_error ss_brick_error
  %br/
  %span.ss_sprite.ss_brick_go ss_brick_go
  %br/
  %span.ss_sprite.ss_brick_link ss_brick_link
  %br/
  %span.ss_sprite.ss_bricks ss_bricks
  %br/
  %span.ss_sprite.ss_briefcase ss_briefcase
  %br/
  %span.ss_sprite.ss_bug ss_bug
  %br/
  %span.ss_sprite.ss_bug_add ss_bug_add
  %br/
  %span.ss_sprite.ss_bug_delete ss_bug_delete
  %br/
  %span.ss_sprite.ss_bug_edit ss_bug_edit
  %br/
  %span.ss_sprite.ss_bug_error ss_bug_error
  %br/
  %span.ss_sprite.ss_bug_go ss_bug_go
  %br/
  %span.ss_sprite.ss_bug_link ss_bug_link
  %br/
  %span.ss_sprite.ss_building ss_building
  %br/
  %span.ss_sprite.ss_building_add ss_building_add
  %br/
  %span.ss_sprite.ss_building_delete ss_building_delete
  %br/
  %span.ss_sprite.ss_building_edit ss_building_edit
  %br/
  %span.ss_sprite.ss_building_error ss_building_error
  %br/
  %span.ss_sprite.ss_building_go ss_building_go
  %br/
  %span.ss_sprite.ss_building_key ss_building_key
  %br/
  %span.ss_sprite.ss_building_link ss_building_link
  %br/
  %span.ss_sprite.ss_bullet_add ss_bullet_add
  %br/
  %span.ss_sprite.ss_bullet_arrow_bottom ss_bullet_arrow_bottom
  %br/
  %span.ss_sprite.ss_bullet_arrow_down ss_bullet_arrow_down
  %br/
  %span.ss_sprite.ss_bullet_arrow_top ss_bullet_arrow_top
  %br/
  %span.ss_sprite.ss_bullet_arrow_up ss_bullet_arrow_up
  %br/
  %span.ss_sprite.ss_bullet_black ss_bullet_black
  %br/
  %span.ss_sprite.ss_bullet_blue ss_bullet_blue
  %br/
  %span.ss_sprite.ss_bullet_delete ss_bullet_delete
  %br/
  %span.ss_sprite.ss_bullet_disk ss_bullet_disk
  %br/
  %span.ss_sprite.ss_bullet_error ss_bullet_error
  %br/
  %span.ss_sprite.ss_bullet_feed ss_bullet_feed
  %br/
  %span.ss_sprite.ss_bullet_go ss_bullet_go
  %br/
  %span.ss_sprite.ss_bullet_green ss_bullet_green
  %br/
  %span.ss_sprite.ss_bullet_key ss_bullet_key
  %br/
  %span.ss_sprite.ss_bullet_orange ss_bullet_orange
  %br/
  %span.ss_sprite.ss_bullet_picture ss_bullet_picture
  %br/
  %span.ss_sprite.ss_bullet_pink ss_bullet_pink
  %br/
  %span.ss_sprite.ss_bullet_purple ss_bullet_purple
  %br/
  %span.ss_sprite.ss_bullet_red ss_bullet_red
  %br/
  %span.ss_sprite.ss_bullet_star ss_bullet_star
  %br/
  %span.ss_sprite.ss_bullet_toggle_minus ss_bullet_toggle_minus
  %br/
  %span.ss_sprite.ss_bullet_toggle_plus ss_bullet_toggle_plus
  %br/
  %span.ss_sprite.ss_bullet_white ss_bullet_white
  %br/
  %span.ss_sprite.ss_bullet_wrench ss_bullet_wrench
  %br/
  %span.ss_sprite.ss_bullet_yellow ss_bullet_yellow
  %br/
  %span.ss_sprite.ss_cake ss_cake
  %br/
  %span.ss_sprite.ss_calculator ss_calculator
  %br/
  %span.ss_sprite.ss_calculator_add ss_calculator_add
  %br/
  %span.ss_sprite.ss_calculator_delete ss_calculator_delete
  %br/
  %span.ss_sprite.ss_calculator_edit ss_calculator_edit
  %br/
  %span.ss_sprite.ss_calculator_error ss_calculator_error
  %br/
  %span.ss_sprite.ss_calculator_link ss_calculator_link
  %br/
  %span.ss_sprite.ss_calendar ss_calendar
  %br/
  %span.ss_sprite.ss_calendar_add ss_calendar_add
  %br/
  %span.ss_sprite.ss_calendar_delete ss_calendar_delete
  %br/
  %span.ss_sprite.ss_calendar_edit ss_calendar_edit
  %br/
  %span.ss_sprite.ss_calendar_link ss_calendar_link
  %br/
  %span.ss_sprite.ss_calendar_view_day ss_calendar_view_day
  %br/
  %span.ss_sprite.ss_calendar_view_month ss_calendar_view_month
  %br/
  %span.ss_sprite.ss_calendar_view_week ss_calendar_view_week
  %br/
  %span.ss_sprite.ss_camera ss_camera
  %br/
  %span.ss_sprite.ss_camera_add ss_camera_add
  %br/
  %span.ss_sprite.ss_camera_delete ss_camera_delete
  %br/
  %span.ss_sprite.ss_camera_edit ss_camera_edit
  %br/
  %span.ss_sprite.ss_camera_error ss_camera_error
  %br/
  %span.ss_sprite.ss_camera_go ss_camera_go
  %br/
  %span.ss_sprite.ss_camera_link ss_camera_link
  %br/
  %span.ss_sprite.ss_camera_small ss_camera_small
  %br/
  %span.ss_sprite.ss_cancel ss_cancel
  %br/
  %span.ss_sprite.ss_car ss_car
  %br/
  %span.ss_sprite.ss_car_add ss_car_add
  %br/
  %span.ss_sprite.ss_car_delete ss_car_delete
  %br/
  %span.ss_sprite.ss_cart ss_cart
  %br/
  %span.ss_sprite.ss_cart_add ss_cart_add
  %br/
  %span.ss_sprite.ss_cart_delete ss_cart_delete
  %br/
  %span.ss_sprite.ss_cart_edit ss_cart_edit
  %br/
  %span.ss_sprite.ss_cart_error ss_cart_error
  %br/
  %span.ss_sprite.ss_cart_go ss_cart_go
  %br/
  %span.ss_sprite.ss_cart_put ss_cart_put
  %br/
  %span.ss_sprite.ss_cart_remove ss_cart_remove
  %br/
  %span.ss_sprite.ss_cd ss_cd
  %br/
  %span.ss_sprite.ss_cd_add ss_cd_add
  %br/
  %span.ss_sprite.ss_cd_burn ss_cd_burn
  %br/
  %span.ss_sprite.ss_cd_delete ss_cd_delete
  %br/
  %span.ss_sprite.ss_cd_edit ss_cd_edit
  %br/
  %span.ss_sprite.ss_cd_eject ss_cd_eject
  %br/
  %span.ss_sprite.ss_cd_go ss_cd_go
  %br/
  %span.ss_sprite.ss_chart_bar ss_chart_bar
  %br/
  %span.ss_sprite.ss_chart_bar_add ss_chart_bar_add
  %br/
  %span.ss_sprite.ss_chart_bar_delete ss_chart_bar_delete
  %br/
  %span.ss_sprite.ss_chart_bar_edit ss_chart_bar_edit
  %br/
  %span.ss_sprite.ss_chart_bar_error ss_chart_bar_error
  %br/
  %span.ss_sprite.ss_chart_bar_link ss_chart_bar_link
  %br/
  %span.ss_sprite.ss_chart_curve ss_chart_curve
  %br/
  %span.ss_sprite.ss_chart_curve_add ss_chart_curve_add
  %br/
  %span.ss_sprite.ss_chart_curve_delete ss_chart_curve_delete
  %br/
  %span.ss_sprite.ss_chart_curve_edit ss_chart_curve_edit
  %br/
  %span.ss_sprite.ss_chart_curve_error ss_chart_curve_error
  %br/
  %span.ss_sprite.ss_chart_curve_go ss_chart_curve_go
  %br/
  %span.ss_sprite.ss_chart_curve_link ss_chart_curve_link
  %br/
  %span.ss_sprite.ss_chart_line ss_chart_line
  %br/
  %span.ss_sprite.ss_chart_line_add ss_chart_line_add
  %br/
  %span.ss_sprite.ss_chart_line_delete ss_chart_line_delete
  %br/
  %span.ss_sprite.ss_chart_line_edit ss_chart_line_edit
  %br/
  %span.ss_sprite.ss_chart_line_error ss_chart_line_error
  %br/
  %span.ss_sprite.ss_chart_line_link ss_chart_line_link
  %br/
  %span.ss_sprite.ss_chart_organisation ss_chart_organisation
  %br/
  %span.ss_sprite.ss_chart_organisation_add ss_chart_organisation_add
  %br/
  %span.ss_sprite.ss_chart_organisation_delete ss_chart_organisation_delete
  %br/
  %span.ss_sprite.ss_chart_pie ss_chart_pie
  %br/
  %span.ss_sprite.ss_chart_pie_add ss_chart_pie_add
  %br/
  %span.ss_sprite.ss_chart_pie_delete ss_chart_pie_delete
  %br/
  %span.ss_sprite.ss_chart_pie_edit ss_chart_pie_edit
  %br/
  %span.ss_sprite.ss_chart_pie_error ss_chart_pie_error
  %br/
  %span.ss_sprite.ss_chart_pie_link ss_chart_pie_link
  %br/
  %span.ss_sprite.ss_clock ss_clock
  %br/
  %span.ss_sprite.ss_clock_add ss_clock_add
  %br/
  %span.ss_sprite.ss_clock_delete ss_clock_delete
  %br/
  %span.ss_sprite.ss_clock_edit ss_clock_edit
  %br/
  %span.ss_sprite.ss_clock_error ss_clock_error
  %br/
  %span.ss_sprite.ss_clock_go ss_clock_go
  %br/
  %span.ss_sprite.ss_clock_link ss_clock_link
  %br/
  %span.ss_sprite.ss_clock_pause ss_clock_pause
  %br/
  %span.ss_sprite.ss_clock_play ss_clock_play
  %br/
  %span.ss_sprite.ss_clock_red ss_clock_red
  %br/
  %span.ss_sprite.ss_clock_stop ss_clock_stop
  %br/
  %span.ss_sprite.ss_cog ss_cog
  %br/
  %span.ss_sprite.ss_cog_add ss_cog_add
  %br/
  %span.ss_sprite.ss_cog_delete ss_cog_delete
  %br/
  %span.ss_sprite.ss_cog_edit ss_cog_edit
  %br/
  %span.ss_sprite.ss_cog_error ss_cog_error
  %br/
  %span.ss_sprite.ss_cog_go ss_cog_go
  %br/
  %span.ss_sprite.ss_coins ss_coins
  %br/
  %span.ss_sprite.ss_coins_add ss_coins_add
  %br/
  %span.ss_sprite.ss_coins_delete ss_coins_delete
  %br/
  %span.ss_sprite.ss_color_swatch ss_color_swatch
  %br/
  %span.ss_sprite.ss_color_wheel ss_color_wheel
  %br/
  %span.ss_sprite.ss_comment ss_comment
  %br/
  %span.ss_sprite.ss_comment_add ss_comment_add
  %br/
  %span.ss_sprite.ss_comment_delete ss_comment_delete
  %br/
  %span.ss_sprite.ss_comment_edit ss_comment_edit
  %br/
  %span.ss_sprite.ss_comments ss_comments
  %br/
  %span.ss_sprite.ss_comments_add ss_comments_add
  %br/
  %span.ss_sprite.ss_comments_delete ss_comments_delete
  %br/
  %span.ss_sprite.ss_compress ss_compress
  %br/
  %span.ss_sprite.ss_computer ss_computer
  %br/
  %span.ss_sprite.ss_computer_add ss_computer_add
  %br/
  %span.ss_sprite.ss_computer_delete ss_computer_delete
  %br/
  %span.ss_sprite.ss_computer_edit ss_computer_edit
  %br/
  %span.ss_sprite.ss_computer_error ss_computer_error
  %br/
  %span.ss_sprite.ss_computer_go ss_computer_go
  %br/
  %span.ss_sprite.ss_computer_key ss_computer_key
  %br/
  %span.ss_sprite.ss_computer_link ss_computer_link
  %br/
  %span.ss_sprite.ss_connect ss_connect
  %br/
  %span.ss_sprite.ss_contrast ss_contrast
  %br/
  %span.ss_sprite.ss_contrast_decrease ss_contrast_decrease
  %br/
  %span.ss_sprite.ss_contrast_high ss_contrast_high
  %br/
  %span.ss_sprite.ss_contrast_increase ss_contrast_increase
  %br/
  %span.ss_sprite.ss_contrast_low ss_contrast_low
  %br/
  %span.ss_sprite.ss_control_eject ss_control_eject
  %br/
  %span.ss_sprite.ss_control_eject_blue ss_control_eject_blue
  %br/
  %span.ss_sprite.ss_control_end ss_control_end
  %br/
  %span.ss_sprite.ss_control_end_blue ss_control_end_blue
  %br/
  %span.ss_sprite.ss_control_equalizer ss_control_equalizer
  %br/
  %span.ss_sprite.ss_control_equalizer_blue ss_control_equalizer_blue
  %br/
  %span.ss_sprite.ss_control_fastforward ss_control_fastforward
  %br/
  %span.ss_sprite.ss_control_fastforward_blue ss_control_fastforward_blue
  %br/
  %span.ss_sprite.ss_control_pause ss_control_pause
  %br/
  %span.ss_sprite.ss_control_pause_blue ss_control_pause_blue
  %br/
  %span.ss_sprite.ss_control_play ss_control_play
  %br/
  %span.ss_sprite.ss_control_play_blue ss_control_play_blue
  %br/
  %span.ss_sprite.ss_control_repeat ss_control_repeat
  %br/
  %span.ss_sprite.ss_control_repeat_blue ss_control_repeat_blue
  %br/
  %span.ss_sprite.ss_control_rewind ss_control_rewind
  %br/
  %span.ss_sprite.ss_control_rewind_blue ss_control_rewind_blue
  %br/
  %span.ss_sprite.ss_control_start ss_control_start
  %br/
  %span.ss_sprite.ss_control_start_blue ss_control_start_blue
  %br/
  %span.ss_sprite.ss_control_stop ss_control_stop
  %br/
  %span.ss_sprite.ss_control_stop_blue ss_control_stop_blue
  %br/
  %span.ss_sprite.ss_controller ss_controller
  %br/
  %span.ss_sprite.ss_controller_add ss_controller_add
  %br/
  %span.ss_sprite.ss_controller_delete ss_controller_delete
  %br/
  %span.ss_sprite.ss_controller_error ss_controller_error
  %br/
  %span.ss_sprite.ss_creditcards ss_creditcards
  %br/
  %span.ss_sprite.ss_cross ss_cross
  %br/
  %span.ss_sprite.ss_css ss_css
  %br/
  %span.ss_sprite.ss_css_add ss_css_add
  %br/
  %span.ss_sprite.ss_css_delete ss_css_delete
  %br/
  %span.ss_sprite.ss_css_go ss_css_go
  %br/
  %span.ss_sprite.ss_css_valid ss_css_valid
  %br/
  %span.ss_sprite.ss_cup ss_cup
  %br/
  %span.ss_sprite.ss_cup_add ss_cup_add
  %br/
  %span.ss_sprite.ss_cup_delete ss_cup_delete
  %br/
  %span.ss_sprite.ss_cup_edit ss_cup_edit
  %br/
  %span.ss_sprite.ss_cup_error ss_cup_error
  %br/
  %span.ss_sprite.ss_cup_go ss_cup_go
  %br/
  %span.ss_sprite.ss_cup_key ss_cup_key
  %br/
  %span.ss_sprite.ss_cup_link ss_cup_link
  %br/
  %span.ss_sprite.ss_cursor ss_cursor
  %br/
  %span.ss_sprite.ss_cut ss_cut
  %br/
  %span.ss_sprite.ss_cut_red ss_cut_red
  %br/
  %span.ss_sprite.ss_database ss_database
  %br/
  %span.ss_sprite.ss_database_add ss_database_add
  %br/
  %span.ss_sprite.ss_database_connect ss_database_connect
  %br/
  %span.ss_sprite.ss_database_delete ss_database_delete
  %br/
  %span.ss_sprite.ss_database_edit ss_database_edit
  %br/
  %span.ss_sprite.ss_database_error ss_database_error
  %br/
  %span.ss_sprite.ss_database_gear ss_database_gear
  %br/
  %span.ss_sprite.ss_database_go ss_database_go
  %br/
  %span.ss_sprite.ss_database_key ss_database_key
  %br/
  %span.ss_sprite.ss_database_lightning ss_database_lightning
  %br/
  %span.ss_sprite.ss_database_link ss_database_link
  %br/
  %span.ss_sprite.ss_database_refresh ss_database_refresh
  %br/
  %span.ss_sprite.ss_database_save ss_database_save
  %br/
  %span.ss_sprite.ss_database_table ss_database_table
  %br/
  %span.ss_sprite.ss_date ss_date
  %br/
  %span.ss_sprite.ss_date_add ss_date_add
  %br/
  %span.ss_sprite.ss_date_delete ss_date_delete
  %br/
  %span.ss_sprite.ss_date_edit ss_date_edit
  %br/
  %span.ss_sprite.ss_date_error ss_date_error
  %br/
  %span.ss_sprite.ss_date_go ss_date_go
  %br/
  %span.ss_sprite.ss_date_link ss_date_link
  %br/
  %span.ss_sprite.ss_date_magnify ss_date_magnify
  %br/
  %span.ss_sprite.ss_date_next ss_date_next
  %br/
  %span.ss_sprite.ss_date_previous ss_date_previous
  %br/
  %span.ss_sprite.ss_delete ss_delete
  %br/
  %span.ss_sprite.ss_disconnect ss_disconnect
  %br/
  %span.ss_sprite.ss_disk ss_disk
  %br/
  %span.ss_sprite.ss_disk_multiple ss_disk_multiple
  %br/
  %span.ss_sprite.ss_door ss_door
  %br/
  %span.ss_sprite.ss_door_in ss_door_in
  %br/
  %span.ss_sprite.ss_door_open ss_door_open
  %br/
  %span.ss_sprite.ss_door_out ss_door_out
  %br/
  %span.ss_sprite.ss_drink ss_drink
  %br/
  %span.ss_sprite.ss_drink_empty ss_drink_empty
  %br/
  %span.ss_sprite.ss_drive ss_drive
  %br/
  %span.ss_sprite.ss_drive_add ss_drive_add
  %br/
  %span.ss_sprite.ss_drive_burn ss_drive_burn
  %br/
  %span.ss_sprite.ss_drive_cd ss_drive_cd
  %br/
  %span.ss_sprite.ss_drive_cd_empty ss_drive_cd_empty
  %br/
  %span.ss_sprite.ss_drive_delete ss_drive_delete
  %br/
  %span.ss_sprite.ss_drive_disk ss_drive_disk
  %br/
  %span.ss_sprite.ss_drive_edit ss_drive_edit
  %br/
  %span.ss_sprite.ss_drive_error ss_drive_error
  %br/
  %span.ss_sprite.ss_drive_go ss_drive_go
  %br/
  %span.ss_sprite.ss_drive_key ss_drive_key
  %br/
  %span.ss_sprite.ss_drive_link ss_drive_link
  %br/
  %span.ss_sprite.ss_drive_magnify ss_drive_magnify
  %br/
  %span.ss_sprite.ss_drive_network ss_drive_network
  %br/
  %span.ss_sprite.ss_drive_rename ss_drive_rename
  %br/
  %span.ss_sprite.ss_drive_user ss_drive_user
  %br/
  %span.ss_sprite.ss_drive_web ss_drive_web
  %br/
  %span.ss_sprite.ss_dvd ss_dvd
  %br/
  %span.ss_sprite.ss_dvd_add ss_dvd_add
  %br/
  %span.ss_sprite.ss_dvd_delete ss_dvd_delete
  %br/
  %span.ss_sprite.ss_dvd_edit ss_dvd_edit
  %br/
  %span.ss_sprite.ss_dvd_error ss_dvd_error
  %br/
  %span.ss_sprite.ss_dvd_go ss_dvd_go
  %br/
  %span.ss_sprite.ss_dvd_key ss_dvd_key
  %br/
  %span.ss_sprite.ss_dvd_link ss_dvd_link
  %br/
  %span.ss_sprite.ss_email ss_email
  %br/
  %span.ss_sprite.ss_email_add ss_email_add
  %br/
  %span.ss_sprite.ss_email_attach ss_email_attach
  %br/
  %span.ss_sprite.ss_email_delete ss_email_delete
  %br/
  %span.ss_sprite.ss_email_edit ss_email_edit
  %br/
  %span.ss_sprite.ss_email_error ss_email_error
  %br/
  %span.ss_sprite.ss_email_go ss_email_go
  %br/
  %span.ss_sprite.ss_email_link ss_email_link
  %br/
  %span.ss_sprite.ss_email_open ss_email_open
  %br/
  %span.ss_sprite.ss_email_open_image ss_email_open_image
  %br/
  %span.ss_sprite.ss_emoticon_evilgrin ss_emoticon_evilgrin
  %br/
  %span.ss_sprite.ss_emoticon_grin ss_emoticon_grin
  %br/
  %span.ss_sprite.ss_emoticon_happy ss_emoticon_happy
  %br/
  %span.ss_sprite.ss_emoticon_smile ss_emoticon_smile
  %br/
  %span.ss_sprite.ss_emoticon_surprised ss_emoticon_surprised
  %br/
  %span.ss_sprite.ss_emoticon_tongue ss_emoticon_tongue
  %br/
  %span.ss_sprite.ss_emoticon_unhappy ss_emoticon_unhappy
  %br/
  %span.ss_sprite.ss_emoticon_waii ss_emoticon_waii
  %br/
  %span.ss_sprite.ss_emoticon_wink ss_emoticon_wink
  %br/
  %span.ss_sprite.ss_error ss_error
  %br/
  %span.ss_sprite.ss_error_add ss_error_add
  %br/
  %span.ss_sprite.ss_error_delete ss_error_delete
  %br/
  %span.ss_sprite.ss_error_go ss_error_go
  %br/
  %span.ss_sprite.ss_exclamation ss_exclamation
  %br/
  %span.ss_sprite.ss_eye ss_eye
  %br/
  %span.ss_sprite.ss_feed ss_feed
  %br/
  %span.ss_sprite.ss_feed_add ss_feed_add
  %br/
  %span.ss_sprite.ss_feed_delete ss_feed_delete
  %br/
  %span.ss_sprite.ss_feed_disk ss_feed_disk
  %br/
  %span.ss_sprite.ss_feed_edit ss_feed_edit
  %br/
  %span.ss_sprite.ss_feed_error ss_feed_error
  %br/
  %span.ss_sprite.ss_feed_go ss_feed_go
  %br/
  %span.ss_sprite.ss_feed_key ss_feed_key
  %br/
  %span.ss_sprite.ss_feed_link ss_feed_link
  %br/
  %span.ss_sprite.ss_feed_magnify ss_feed_magnify
  %br/
  %span.ss_sprite.ss_female ss_female
  %br/
  %span.ss_sprite.ss_film ss_film
  %br/
  %span.ss_sprite.ss_film_add ss_film_add
  %br/
  %span.ss_sprite.ss_film_delete ss_film_delete
  %br/
  %span.ss_sprite.ss_film_edit ss_film_edit
  %br/
  %span.ss_sprite.ss_film_error ss_film_error
  %br/
  %span.ss_sprite.ss_film_go ss_film_go
  %br/
  %span.ss_sprite.ss_film_key ss_film_key
  %br/
  %span.ss_sprite.ss_film_link ss_film_link
  %br/
  %span.ss_sprite.ss_film_save ss_film_save
  %br/
  %span.ss_sprite.ss_find ss_find
  %br/
  %span.ss_sprite.ss_flag_blue ss_flag_blue
  %br/
  %span.ss_sprite.ss_flag_green ss_flag_green
  %br/
  %span.ss_sprite.ss_flag_orange ss_flag_orange
  %br/
  %span.ss_sprite.ss_flag_pink ss_flag_pink
  %br/
  %span.ss_sprite.ss_flag_purple ss_flag_purple
  %br/
  %span.ss_sprite.ss_flag_red ss_flag_red
  %br/
  %span.ss_sprite.ss_flag_yellow ss_flag_yellow
  %br/
  %span.ss_sprite.ss_folder ss_folder
  %br/
  %span.ss_sprite.ss_folder_add ss_folder_add
  %br/
  %span.ss_sprite.ss_folder_bell ss_folder_bell
  %br/
  %span.ss_sprite.ss_folder_brick ss_folder_brick
  %br/
  %span.ss_sprite.ss_folder_bug ss_folder_bug
  %br/
  %span.ss_sprite.ss_folder_camera ss_folder_camera
  %br/
  %span.ss_sprite.ss_folder_database ss_folder_database
  %br/
  %span.ss_sprite.ss_folder_delete ss_folder_delete
  %br/
  %span.ss_sprite.ss_folder_edit ss_folder_edit
  %br/
  %span.ss_sprite.ss_folder_error ss_folder_error
  %br/
  %span.ss_sprite.ss_folder_explore ss_folder_explore
  %br/
  %span.ss_sprite.ss_folder_feed ss_folder_feed
  %br/
  %span.ss_sprite.ss_folder_find ss_folder_find
  %br/
  %span.ss_sprite.ss_folder_go ss_folder_go
  %br/
  %span.ss_sprite.ss_folder_heart ss_folder_heart
  %br/
  %span.ss_sprite.ss_folder_image ss_folder_image
  %br/
  %span.ss_sprite.ss_folder_key ss_folder_key
  %br/
  %span.ss_sprite.ss_folder_lightbulb ss_folder_lightbulb
  %br/
  %span.ss_sprite.ss_folder_link ss_folder_link
  %br/
  %span.ss_sprite.ss_folder_magnify ss_folder_magnify
  %br/
  %span.ss_sprite.ss_folder_page ss_folder_page
  %br/
  %span.ss_sprite.ss_folder_page_white ss_folder_page_white
  %br/
  %span.ss_sprite.ss_folder_palette ss_folder_palette
  %br/
  %span.ss_sprite.ss_folder_picture ss_folder_picture
  %br/
  %span.ss_sprite.ss_folder_star ss_folder_star
  %br/
  %span.ss_sprite.ss_folder_table ss_folder_table
  %br/
  %span.ss_sprite.ss_folder_user ss_folder_user
  %br/
  %span.ss_sprite.ss_folder_wrench ss_folder_wrench
  %br/
  %span.ss_sprite.ss_font ss_font
  %br/
  %span.ss_sprite.ss_font_add ss_font_add
  %br/
  %span.ss_sprite.ss_font_delete ss_font_delete
  %br/
  %span.ss_sprite.ss_font_go ss_font_go
  %br/
  %span.ss_sprite.ss_group ss_group
  %br/
  %span.ss_sprite.ss_group_add ss_group_add
  %br/
  %span.ss_sprite.ss_group_delete ss_group_delete
  %br/
  %span.ss_sprite.ss_group_edit ss_group_edit
  %br/
  %span.ss_sprite.ss_group_error ss_group_error
  %br/
  %span.ss_sprite.ss_group_gear ss_group_gear
  %br/
  %span.ss_sprite.ss_group_go ss_group_go
  %br/
  %span.ss_sprite.ss_group_key ss_group_key
  %br/
  %span.ss_sprite.ss_group_link ss_group_link
  %br/
  %span.ss_sprite.ss_heart ss_heart
  %br/
  %span.ss_sprite.ss_heart_add ss_heart_add
  %br/
  %span.ss_sprite.ss_heart_delete ss_heart_delete
  %br/
  %span.ss_sprite.ss_help ss_help
  %br/
  %span.ss_sprite.ss_hourglass ss_hourglass
  %br/
  %span.ss_sprite.ss_hourglass_add ss_hourglass_add
  %br/
  %span.ss_sprite.ss_hourglass_delete ss_hourglass_delete
  %br/
  %span.ss_sprite.ss_hourglass_go ss_hourglass_go
  %br/
  %span.ss_sprite.ss_hourglass_link ss_hourglass_link
  %br/
  %span.ss_sprite.ss_house ss_house
  %br/
  %span.ss_sprite.ss_house_go ss_house_go
  %br/
  %span.ss_sprite.ss_house_link ss_house_link
  %br/
  %span.ss_sprite.ss_html ss_html
  %br/
  %span.ss_sprite.ss_html_add ss_html_add
  %br/
  %span.ss_sprite.ss_html_delete ss_html_delete
  %br/
  %span.ss_sprite.ss_html_go ss_html_go
  %br/
  %span.ss_sprite.ss_html_valid ss_html_valid
  %br/
  %span.ss_sprite.ss_image ss_image
  %br/
  %span.ss_sprite.ss_image_add ss_image_add
  %br/
  %span.ss_sprite.ss_image_delete ss_image_delete
  %br/
  %span.ss_sprite.ss_image_edit ss_image_edit
  %br/
  %span.ss_sprite.ss_image_link ss_image_link
  %br/
  %span.ss_sprite.ss_images ss_images
  %br/
  %span.ss_sprite.ss_information ss_information
  %br/
  %span.ss_sprite.ss_ipod ss_ipod
  %br/
  %span.ss_sprite.ss_ipod_cast ss_ipod_cast
  %br/
  %span.ss_sprite.ss_ipod_cast_add ss_ipod_cast_add
  %br/
  %span.ss_sprite.ss_ipod_cast_delete ss_ipod_cast_delete
  %br/
  %span.ss_sprite.ss_ipod_sound ss_ipod_sound
  %br/
  %span.ss_sprite.ss_joystick ss_joystick
  %br/
  %span.ss_sprite.ss_joystick_add ss_joystick_add
  %br/
  %span.ss_sprite.ss_joystick_delete ss_joystick_delete
  %br/
  %span.ss_sprite.ss_joystick_error ss_joystick_error
  %br/
  %span.ss_sprite.ss_key ss_key
  %br/
  %span.ss_sprite.ss_key_add ss_key_add
  %br/
  %span.ss_sprite.ss_key_delete ss_key_delete
  %br/
  %span.ss_sprite.ss_key_go ss_key_go
  %br/
  %span.ss_sprite.ss_keyboard ss_keyboard
  %br/
  %span.ss_sprite.ss_keyboard_add ss_keyboard_add
  %br/
  %span.ss_sprite.ss_keyboard_delete ss_keyboard_delete
  %br/
  %span.ss_sprite.ss_keyboard_magnify ss_keyboard_magnify
  %br/
  %span.ss_sprite.ss_layers ss_layers
  %br/
  %span.ss_sprite.ss_layout ss_layout
  %br/
  %span.ss_sprite.ss_layout_add ss_layout_add
  %br/
  %span.ss_sprite.ss_layout_content ss_layout_content
  %br/
  %span.ss_sprite.ss_layout_delete ss_layout_delete
  %br/
  %span.ss_sprite.ss_layout_edit ss_layout_edit
  %br/
  %span.ss_sprite.ss_layout_error ss_layout_error
  %br/
  %span.ss_sprite.ss_layout_header ss_layout_header
  %br/
  %span.ss_sprite.ss_layout_link ss_layout_link
  %br/
  %span.ss_sprite.ss_layout_sidebar ss_layout_sidebar
  %br/
  %span.ss_sprite.ss_lightbulb ss_lightbulb
  %br/
  %span.ss_sprite.ss_lightbulb_add ss_lightbulb_add
  %br/
  %span.ss_sprite.ss_lightbulb_delete ss_lightbulb_delete
  %br/
  %span.ss_sprite.ss_lightbulb_off ss_lightbulb_off
  %br/
  %span.ss_sprite.ss_lightning ss_lightning
  %br/
  %span.ss_sprite.ss_lightning_add ss_lightning_add
  %br/
  %span.ss_sprite.ss_lightning_delete ss_lightning_delete
  %br/
  %span.ss_sprite.ss_lightning_go ss_lightning_go
  %br/
  %span.ss_sprite.ss_link ss_link
  %br/
  %span.ss_sprite.ss_link_add ss_link_add
  %br/
  %span.ss_sprite.ss_link_break ss_link_break
  %br/
  %span.ss_sprite.ss_link_delete ss_link_delete
  %br/
  %span.ss_sprite.ss_link_edit ss_link_edit
  %br/
  %span.ss_sprite.ss_link_error ss_link_error
  %br/
  %span.ss_sprite.ss_link_go ss_link_go
  %br/
  %span.ss_sprite.ss_lock ss_lock
  %br/
  %span.ss_sprite.ss_lock_add ss_lock_add
  %br/
  %span.ss_sprite.ss_lock_break ss_lock_break
  %br/
  %span.ss_sprite.ss_lock_delete ss_lock_delete
  %br/
  %span.ss_sprite.ss_lock_edit ss_lock_edit
  %br/
  %span.ss_sprite.ss_lock_go ss_lock_go
  %br/
  %span.ss_sprite.ss_lock_open ss_lock_open
  %br/
  %span.ss_sprite.ss_lorry ss_lorry
  %br/
  %span.ss_sprite.ss_lorry_add ss_lorry_add
  %br/
  %span.ss_sprite.ss_lorry_delete ss_lorry_delete
  %br/
  %span.ss_sprite.ss_lorry_error ss_lorry_error
  %br/
  %span.ss_sprite.ss_lorry_flatbed ss_lorry_flatbed
  %br/
  %span.ss_sprite.ss_lorry_go ss_lorry_go
  %br/
  %span.ss_sprite.ss_lorry_link ss_lorry_link
  %br/
  %span.ss_sprite.ss_magifier_zoom_out ss_magifier_zoom_out
  %br/
  %span.ss_sprite.ss_magnifier ss_magnifier
  %br/
  %span.ss_sprite.ss_magnifier_zoom_in ss_magnifier_zoom_in
  %br/
  %span.ss_sprite.ss_male ss_male
  %br/
  %span.ss_sprite.ss_map ss_map
  %br/
  %span.ss_sprite.ss_map_add ss_map_add
  %br/
  %span.ss_sprite.ss_map_delete ss_map_delete
  %br/
  %span.ss_sprite.ss_map_edit ss_map_edit
  %br/
  %span.ss_sprite.ss_map_go ss_map_go
  %br/
  %span.ss_sprite.ss_map_magnify ss_map_magnify
  %br/
  %span.ss_sprite.ss_medal_bronze_1 ss_medal_bronze_1
  %br/
  %span.ss_sprite.ss_medal_bronze_2 ss_medal_bronze_2
  %br/
  %span.ss_sprite.ss_medal_bronze_3 ss_medal_bronze_3
  %br/
  %span.ss_sprite.ss_medal_bronze_add ss_medal_bronze_add
  %br/
  %span.ss_sprite.ss_medal_bronze_delete ss_medal_bronze_delete
  %br/
  %span.ss_sprite.ss_medal_gold_1 ss_medal_gold_1
  %br/
  %span.ss_sprite.ss_medal_gold_2 ss_medal_gold_2
  %br/
  %span.ss_sprite.ss_medal_gold_3 ss_medal_gold_3
  %br/
  %span.ss_sprite.ss_medal_gold_add ss_medal_gold_add
  %br/
  %span.ss_sprite.ss_medal_gold_delete ss_medal_gold_delete
  %br/
  %span.ss_sprite.ss_medal_silver_1 ss_medal_silver_1
  %br/
  %span.ss_sprite.ss_medal_silver_2 ss_medal_silver_2
  %br/
  %span.ss_sprite.ss_medal_silver_3 ss_medal_silver_3
  %br/
  %span.ss_sprite.ss_medal_silver_add ss_medal_silver_add
  %br/
  %span.ss_sprite.ss_medal_silver_delete ss_medal_silver_delete
  %br/
  %span.ss_sprite.ss_money ss_money
  %br/
  %span.ss_sprite.ss_money_add ss_money_add
  %br/
  %span.ss_sprite.ss_money_delete ss_money_delete
  %br/
  %span.ss_sprite.ss_money_dollar ss_money_dollar
  %br/
  %span.ss_sprite.ss_money_euro ss_money_euro
  %br/
  %span.ss_sprite.ss_money_pound ss_money_pound
  %br/
  %span.ss_sprite.ss_money_yen ss_money_yen
  %br/
  %span.ss_sprite.ss_monitor ss_monitor
  %br/
  %span.ss_sprite.ss_monitor_add ss_monitor_add
  %br/
  %span.ss_sprite.ss_monitor_delete ss_monitor_delete
  %br/
  %span.ss_sprite.ss_monitor_edit ss_monitor_edit
  %br/
  %span.ss_sprite.ss_monitor_error ss_monitor_error
  %br/
  %span.ss_sprite.ss_monitor_go ss_monitor_go
  %br/
  %span.ss_sprite.ss_monitor_lightning ss_monitor_lightning
  %br/
  %span.ss_sprite.ss_monitor_link ss_monitor_link
  %br/
  %span.ss_sprite.ss_mouse ss_mouse
  %br/
  %span.ss_sprite.ss_mouse_add ss_mouse_add
  %br/
  %span.ss_sprite.ss_mouse_delete ss_mouse_delete
  %br/
  %span.ss_sprite.ss_mouse_error ss_mouse_error
  %br/
  %span.ss_sprite.ss_music ss_music
  %br/
  %span.ss_sprite.ss_new ss_new
  %br/
  %span.ss_sprite.ss_newspaper ss_newspaper
  %br/
  %span.ss_sprite.ss_newspaper_add ss_newspaper_add
  %br/
  %span.ss_sprite.ss_newspaper_delete ss_newspaper_delete
  %br/
  %span.ss_sprite.ss_newspaper_go ss_newspaper_go
  %br/
  %span.ss_sprite.ss_newspaper_link ss_newspaper_link
  %br/
  %span.ss_sprite.ss_note ss_note
  %br/
  %span.ss_sprite.ss_note_add ss_note_add
  %br/
  %span.ss_sprite.ss_note_delete ss_note_delete
  %br/
  %span.ss_sprite.ss_note_edit ss_note_edit
  %br/
  %span.ss_sprite.ss_note_error ss_note_error
  %br/
  %span.ss_sprite.ss_note_go ss_note_go
  %br/
  %span.ss_sprite.ss_overlays ss_overlays
  %br/
  %span.ss_sprite.ss_package ss_package
  %br/
  %span.ss_sprite.ss_package_add ss_package_add
  %br/
  %span.ss_sprite.ss_package_delete ss_package_delete
  %br/
  %span.ss_sprite.ss_package_go ss_package_go
  %br/
  %span.ss_sprite.ss_package_green ss_package_green
  %br/
  %span.ss_sprite.ss_package_link ss_package_link
  %br/
  %span.ss_sprite.ss_page ss_page
  %br/
  %span.ss_sprite.ss_page_add ss_page_add
  %br/
  %span.ss_sprite.ss_page_attach ss_page_attach
  %br/
  %span.ss_sprite.ss_page_code ss_page_code
  %br/
  %span.ss_sprite.ss_page_copy ss_page_copy
  %br/
  %span.ss_sprite.ss_page_delete ss_page_delete
  %br/
  %span.ss_sprite.ss_page_edit ss_page_edit
  %br/
  %span.ss_sprite.ss_page_error ss_page_error
  %br/
  %span.ss_sprite.ss_page_excel ss_page_excel
  %br/
  %span.ss_sprite.ss_page_find ss_page_find
  %br/
  %span.ss_sprite.ss_page_gear ss_page_gear
  %br/
  %span.ss_sprite.ss_page_go ss_page_go
  %br/
  %span.ss_sprite.ss_page_green ss_page_green
  %br/
  %span.ss_sprite.ss_page_key ss_page_key
  %br/
  %span.ss_sprite.ss_page_lightning ss_page_lightning
  %br/
  %span.ss_sprite.ss_page_link ss_page_link
  %br/
  %span.ss_sprite.ss_page_paintbrush ss_page_paintbrush
  %br/
  %span.ss_sprite.ss_page_paste ss_page_paste
  %br/
  %span.ss_sprite.ss_page_red ss_page_red
  %br/
  %span.ss_sprite.ss_page_refresh ss_page_refresh
  %br/
  %span.ss_sprite.ss_page_save ss_page_save
  %br/
  %span.ss_sprite.ss_page_white ss_page_white
  %br/
  %span.ss_sprite.ss_page_white_acrobat ss_page_white_acrobat
  %br/
  %span.ss_sprite.ss_page_white_actionscript ss_page_white_actionscript
  %br/
  %span.ss_sprite.ss_page_white_add ss_page_white_add
  %br/
  %span.ss_sprite.ss_page_white_c ss_page_white_c
  %br/
  %span.ss_sprite.ss_page_white_camera ss_page_white_camera
  %br/
  %span.ss_sprite.ss_page_white_cd ss_page_white_cd
  %br/
  %span.ss_sprite.ss_page_white_code ss_page_white_code
  %br/
  %span.ss_sprite.ss_page_white_code_red ss_page_white_code_red
  %br/
  %span.ss_sprite.ss_page_white_coldfusion ss_page_white_coldfusion
  %br/
  %span.ss_sprite.ss_page_white_compressed ss_page_white_compressed
  %br/
  %span.ss_sprite.ss_page_white_copy ss_page_white_copy
  %br/
  %span.ss_sprite.ss_page_white_cplusplus ss_page_white_cplusplus
  %br/
  %span.ss_sprite.ss_page_white_csharp ss_page_white_csharp
  %br/
  %span.ss_sprite.ss_page_white_cup ss_page_white_cup
  %br/
  %span.ss_sprite.ss_page_white_database ss_page_white_database
  %br/
  %span.ss_sprite.ss_page_white_delete ss_page_white_delete
  %br/
  %span.ss_sprite.ss_page_white_dvd ss_page_white_dvd
  %br/
  %span.ss_sprite.ss_page_white_edit ss_page_white_edit
  %br/
  %span.ss_sprite.ss_page_white_error ss_page_white_error
  %br/
  %span.ss_sprite.ss_page_white_excel ss_page_white_excel
  %br/
  %span.ss_sprite.ss_page_white_find ss_page_white_find
  %br/
  %span.ss_sprite.ss_page_white_flash ss_page_white_flash
  %br/
  %span.ss_sprite.ss_page_white_freehand ss_page_white_freehand
  %br/
  %span.ss_sprite.ss_page_white_gear ss_page_white_gear
  %br/
  %span.ss_sprite.ss_page_white_get ss_page_white_get
  %br/
  %span.ss_sprite.ss_page_white_go ss_page_white_go
  %br/
  %span.ss_sprite.ss_page_white_h ss_page_white_h
  %br/
  %span.ss_sprite.ss_page_white_horizontal ss_page_white_horizontal
  %br/
  %span.ss_sprite.ss_page_white_key ss_page_white_key
  %br/
  %span.ss_sprite.ss_page_white_lightning ss_page_white_lightning
  %br/
  %span.ss_sprite.ss_page_white_link ss_page_white_link
  %br/
  %span.ss_sprite.ss_page_white_magnify ss_page_white_magnify
  %br/
  %span.ss_sprite.ss_page_white_medal ss_page_white_medal
  %br/
  %span.ss_sprite.ss_page_white_office ss_page_white_office
  %br/
  %span.ss_sprite.ss_page_white_paint ss_page_white_paint
  %br/
  %span.ss_sprite.ss_page_white_paintbrush ss_page_white_paintbrush
  %br/
  %span.ss_sprite.ss_page_white_paste ss_page_white_paste
  %br/
  %span.ss_sprite.ss_page_white_php ss_page_white_php
  %br/
  %span.ss_sprite.ss_page_white_picture ss_page_white_picture
  %br/
  %span.ss_sprite.ss_page_white_powerpoint ss_page_white_powerpoint
  %br/
  %span.ss_sprite.ss_page_white_put ss_page_white_put
  %br/
  %span.ss_sprite.ss_page_white_ruby ss_page_white_ruby
  %br/
  %span.ss_sprite.ss_page_white_stack ss_page_white_stack
  %br/
  %span.ss_sprite.ss_page_white_star ss_page_white_star
  %br/
  %span.ss_sprite.ss_page_white_swoosh ss_page_white_swoosh
  %br/
  %span.ss_sprite.ss_page_white_text ss_page_white_text
  %br/
  %span.ss_sprite.ss_page_white_text_width ss_page_white_text_width
  %br/
  %span.ss_sprite.ss_page_white_tux ss_page_white_tux
  %br/
  %span.ss_sprite.ss_page_white_vector ss_page_white_vector
  %br/
  %span.ss_sprite.ss_page_white_visualstudio ss_page_white_visualstudio
  %br/
  %span.ss_sprite.ss_page_white_width ss_page_white_width
  %br/
  %span.ss_sprite.ss_page_white_word ss_page_white_word
  %br/
  %span.ss_sprite.ss_page_white_world ss_page_white_world
  %br/
  %span.ss_sprite.ss_page_white_wrench ss_page_white_wrench
  %br/
  %span.ss_sprite.ss_page_white_zip ss_page_white_zip
  %br/
  %span.ss_sprite.ss_page_word ss_page_word
  %br/
  %span.ss_sprite.ss_page_world ss_page_world
  %br/
  %span.ss_sprite.ss_paintbrush ss_paintbrush
  %br/
  %span.ss_sprite.ss_paintcan ss_paintcan
  %br/
  %span.ss_sprite.ss_palette ss_palette
  %br/
  %span.ss_sprite.ss_paste_plain ss_paste_plain
  %br/
  %span.ss_sprite.ss_paste_word ss_paste_word
  %br/
  %span.ss_sprite.ss_pencil ss_pencil
  %br/
  %span.ss_sprite.ss_pencil_add ss_pencil_add
  %br/
  %span.ss_sprite.ss_pencil_delete ss_pencil_delete
  %br/
  %span.ss_sprite.ss_pencil_go ss_pencil_go
  %br/
  %span.ss_sprite.ss_phone ss_phone
  %br/
  %span.ss_sprite.ss_phone_add ss_phone_add
  %br/
  %span.ss_sprite.ss_phone_delete ss_phone_delete
  %br/
  %span.ss_sprite.ss_phone_sound ss_phone_sound
  %br/
  %span.ss_sprite.ss_photo ss_photo
  %br/
  %span.ss_sprite.ss_photo_add ss_photo_add
  %br/
  %span.ss_sprite.ss_photo_delete ss_photo_delete
  %br/
  %span.ss_sprite.ss_photo_link ss_photo_link
  %br/
  %span.ss_sprite.ss_photos ss_photos
  %br/
  %span.ss_sprite.ss_picture ss_picture
  %br/
  %span.ss_sprite.ss_picture_add ss_picture_add
  %br/
  %span.ss_sprite.ss_picture_delete ss_picture_delete
  %br/
  %span.ss_sprite.ss_picture_edit ss_picture_edit
  %br/
  %span.ss_sprite.ss_picture_empty ss_picture_empty
  %br/
  %span.ss_sprite.ss_picture_error ss_picture_error
  %br/
  %span.ss_sprite.ss_picture_go ss_picture_go
  %br/
  %span.ss_sprite.ss_picture_key ss_picture_key
  %br/
  %span.ss_sprite.ss_picture_link ss_picture_link
  %br/
  %span.ss_sprite.ss_picture_save ss_picture_save
  %br/
  %span.ss_sprite.ss_pictures ss_pictures
  %br/
  %span.ss_sprite.ss_pilcrow ss_pilcrow
  %br/
  %span.ss_sprite.ss_pill ss_pill
  %br/
  %span.ss_sprite.ss_pill_add ss_pill_add
  %br/
  %span.ss_sprite.ss_pill_delete ss_pill_delete
  %br/
  %span.ss_sprite.ss_pill_go ss_pill_go
  %br/
  %span.ss_sprite.ss_plugin ss_plugin
  %br/
  %span.ss_sprite.ss_plugin_add ss_plugin_add
  %br/
  %span.ss_sprite.ss_plugin_delete ss_plugin_delete
  %br/
  %span.ss_sprite.ss_plugin_disabled ss_plugin_disabled
  %br/
  %span.ss_sprite.ss_plugin_edit ss_plugin_edit
  %br/
  %span.ss_sprite.ss_plugin_error ss_plugin_error
  %br/
  %span.ss_sprite.ss_plugin_go ss_plugin_go
  %br/
  %span.ss_sprite.ss_plugin_link ss_plugin_link
  %br/
  %span.ss_sprite.ss_printer ss_printer
  %br/
  %span.ss_sprite.ss_printer_add ss_printer_add
  %br/
  %span.ss_sprite.ss_printer_delete ss_printer_delete
  %br/
  %span.ss_sprite.ss_printer_empty ss_printer_empty
  %br/
  %span.ss_sprite.ss_printer_error ss_printer_error
  %br/
  %span.ss_sprite.ss_rainbow ss_rainbow
  %br/
  %span.ss_sprite.ss_report ss_report
  %br/
  %span.ss_sprite.ss_report_add ss_report_add
  %br/
  %span.ss_sprite.ss_report_delete ss_report_delete
  %br/
  %span.ss_sprite.ss_report_disk ss_report_disk
  %br/
  %span.ss_sprite.ss_report_edit ss_report_edit
  %br/
  %span.ss_sprite.ss_report_go ss_report_go
  %br/
  %span.ss_sprite.ss_report_key ss_report_key
  %br/
  %span.ss_sprite.ss_report_link ss_report_link
  %br/
  %span.ss_sprite.ss_report_magnify ss_report_magnify
  %br/
  %span.ss_sprite.ss_report_picture ss_report_picture
  %br/
  %span.ss_sprite.ss_report_user ss_report_user
  %br/
  %span.ss_sprite.ss_report_word ss_report_word
  %br/
  %span.ss_sprite.ss_resultset_first ss_resultset_first
  %br/
  %span.ss_sprite.ss_resultset_last ss_resultset_last
  %br/
  %span.ss_sprite.ss_resultset_next ss_resultset_next
  %br/
  %span.ss_sprite.ss_resultset_previous ss_resultset_previous
  %br/
  %span.ss_sprite.ss_rosette ss_rosette
  %br/
  %span.ss_sprite.ss_rss ss_rss
  %br/
  %span.ss_sprite.ss_rss_add ss_rss_add
  %br/
  %span.ss_sprite.ss_rss_delete ss_rss_delete
  %br/
  %span.ss_sprite.ss_rss_go ss_rss_go
  %br/
  %span.ss_sprite.ss_rss_valid ss_rss_valid
  %br/
  %span.ss_sprite.ss_ruby ss_ruby
  %br/
  %span.ss_sprite.ss_ruby_add ss_ruby_add
  %br/
  %span.ss_sprite.ss_ruby_delete ss_ruby_delete
  %br/
  %span.ss_sprite.ss_ruby_gear ss_ruby_gear
  %br/
  %span.ss_sprite.ss_ruby_get ss_ruby_get
  %br/
  %span.ss_sprite.ss_ruby_go ss_ruby_go
  %br/
  %span.ss_sprite.ss_ruby_key ss_ruby_key
  %br/
  %span.ss_sprite.ss_ruby_link ss_ruby_link
  %br/
  %span.ss_sprite.ss_ruby_put ss_ruby_put
  %br/
  %span.ss_sprite.ss_script ss_script
  %br/
  %span.ss_sprite.ss_script_add ss_script_add
  %br/
  %span.ss_sprite.ss_script_code ss_script_code
  %br/
  %span.ss_sprite.ss_script_code_red ss_script_code_red
  %br/
  %span.ss_sprite.ss_script_delete ss_script_delete
  %br/
  %span.ss_sprite.ss_script_edit ss_script_edit
  %br/
  %span.ss_sprite.ss_script_error ss_script_error
  %br/
  %span.ss_sprite.ss_script_gear ss_script_gear
  %br/
  %span.ss_sprite.ss_script_go ss_script_go
  %br/
  %span.ss_sprite.ss_script_key ss_script_key
  %br/
  %span.ss_sprite.ss_script_lightning ss_script_lightning
  %br/
  %span.ss_sprite.ss_script_link ss_script_link
  %br/
  %span.ss_sprite.ss_script_palette ss_script_palette
  %br/
  %span.ss_sprite.ss_script_save ss_script_save
  %br/
  %span.ss_sprite.ss_server ss_server
  %br/
  %span.ss_sprite.ss_server_add ss_server_add
  %br/
  %span.ss_sprite.ss_server_chart ss_server_chart
  %br/
  %span.ss_sprite.ss_server_compressed ss_server_compressed
  %br/
  %span.ss_sprite.ss_server_connect ss_server_connect
  %br/
  %span.ss_sprite.ss_server_database ss_server_database
  %br/
  %span.ss_sprite.ss_server_delete ss_server_delete
  %br/
  %span.ss_sprite.ss_server_edit ss_server_edit
  %br/
  %span.ss_sprite.ss_server_error ss_server_error
  %br/
  %span.ss_sprite.ss_server_go ss_server_go
  %br/
  %span.ss_sprite.ss_server_key ss_server_key
  %br/
  %span.ss_sprite.ss_server_lightning ss_server_lightning
  %br/
  %span.ss_sprite.ss_server_link ss_server_link
  %br/
  %span.ss_sprite.ss_server_uncompressed ss_server_uncompressed
  %br/
  %span.ss_sprite.ss_shading ss_shading
  %br/
  %span.ss_sprite.ss_shape_align_bottom ss_shape_align_bottom
  %br/
  %span.ss_sprite.ss_shape_align_center ss_shape_align_center
  %br/
  %span.ss_sprite.ss_shape_align_left ss_shape_align_left
  %br/
  %span.ss_sprite.ss_shape_align_middle ss_shape_align_middle
  %br/
  %span.ss_sprite.ss_shape_align_right ss_shape_align_right
  %br/
  %span.ss_sprite.ss_shape_align_top ss_shape_align_top
  %br/
  %span.ss_sprite.ss_shape_flip_horizontal ss_shape_flip_horizontal
  %br/
  %span.ss_sprite.ss_shape_flip_vertical ss_shape_flip_vertical
  %br/
  %span.ss_sprite.ss_shape_group ss_shape_group
  %br/
  %span.ss_sprite.ss_shape_handles ss_shape_handles
  %br/
  %span.ss_sprite.ss_shape_move_back ss_shape_move_back
  %br/
  %span.ss_sprite.ss_shape_move_backwards ss_shape_move_backwards
  %br/
  %span.ss_sprite.ss_shape_move_forwards ss_shape_move_forwards
  %br/
  %span.ss_sprite.ss_shape_move_front ss_shape_move_front
  %br/
  %span.ss_sprite.ss_shape_rotate_anticlockwise ss_shape_rotate_anticlockwise
  %br/
  %span.ss_sprite.ss_shape_rotate_clockwise ss_shape_rotate_clockwise
  %br/
  %span.ss_sprite.ss_shape_square ss_shape_square
  %br/
  %span.ss_sprite.ss_shape_square_add ss_shape_square_add
  %br/
  %span.ss_sprite.ss_shape_square_delete ss_shape_square_delete
  %br/
  %span.ss_sprite.ss_shape_square_edit ss_shape_square_edit
  %br/
  %span.ss_sprite.ss_shape_square_error ss_shape_square_error
  %br/
  %span.ss_sprite.ss_shape_square_go ss_shape_square_go
  %br/
  %span.ss_sprite.ss_shape_square_key ss_shape_square_key
  %br/
  %span.ss_sprite.ss_shape_square_link ss_shape_square_link
  %br/
  %span.ss_sprite.ss_shape_ungroup ss_shape_ungroup
  %br/
  %span.ss_sprite.ss_shield ss_shield
  %br/
  %span.ss_sprite.ss_shield_add ss_shield_add
  %br/
  %span.ss_sprite.ss_shield_delete ss_shield_delete
  %br/
  %span.ss_sprite.ss_shield_go ss_shield_go
  %br/
  %span.ss_sprite.ss_sitemap ss_sitemap
  %br/
  %span.ss_sprite.ss_sitemap_color ss_sitemap_color
  %br/
  %span.ss_sprite.ss_sound ss_sound
  %br/
  %span.ss_sprite.ss_sound_add ss_sound_add
  %br/
  %span.ss_sprite.ss_sound_delete ss_sound_delete
  %br/
  %span.ss_sprite.ss_sound_low ss_sound_low
  %br/
  %span.ss_sprite.ss_sound_mute ss_sound_mute
  %br/
  %span.ss_sprite.ss_sound_none ss_sound_none
  %br/
  %span.ss_sprite.ss_spellcheck ss_spellcheck
  %br/
  %span.ss_sprite.ss_sport_8ball ss_sport_8ball
  %br/
  %span.ss_sprite.ss_sport_basketball ss_sport_basketball
  %br/
  %span.ss_sprite.ss_sport_football ss_sport_football
  %br/
  %span.ss_sprite.ss_sport_golf ss_sport_golf
  %br/
  %span.ss_sprite.ss_sport_raquet ss_sport_raquet
  %br/
  %span.ss_sprite.ss_sport_shuttlecock ss_sport_shuttlecock
  %br/
  %span.ss_sprite.ss_sport_soccer ss_sport_soccer
  %br/
  %span.ss_sprite.ss_sport_tennis ss_sport_tennis
  %br/
  %span.ss_sprite.ss_star ss_star
  %br/
  %span.ss_sprite.ss_status_away ss_status_away
  %br/
  %span.ss_sprite.ss_status_busy ss_status_busy
  %br/
  %span.ss_sprite.ss_status_offline ss_status_offline
  %br/
  %span.ss_sprite.ss_status_online ss_status_online
  %br/
  %span.ss_sprite.ss_stop ss_stop
  %br/
  %span.ss_sprite.ss_style ss_style
  %br/
  %span.ss_sprite.ss_style_add ss_style_add
  %br/
  %span.ss_sprite.ss_style_delete ss_style_delete
  %br/
  %span.ss_sprite.ss_style_edit ss_style_edit
  %br/
  %span.ss_sprite.ss_style_go ss_style_go
  %br/
  %span.ss_sprite.ss_sum ss_sum
  %br/
  %span.ss_sprite.ss_tab ss_tab
  %br/
  %span.ss_sprite.ss_tab_add ss_tab_add
  %br/
  %span.ss_sprite.ss_tab_delete ss_tab_delete
  %br/
  %span.ss_sprite.ss_tab_edit ss_tab_edit
  %br/
  %span.ss_sprite.ss_tab_go ss_tab_go
  %br/
  %span.ss_sprite.ss_table ss_table
  %br/
  %span.ss_sprite.ss_table_add ss_table_add
  %br/
  %span.ss_sprite.ss_table_delete ss_table_delete
  %br/
  %span.ss_sprite.ss_table_edit ss_table_edit
  %br/
  %span.ss_sprite.ss_table_error ss_table_error
  %br/
  %span.ss_sprite.ss_table_gear ss_table_gear
  %br/
  %span.ss_sprite.ss_table_go ss_table_go
  %br/
  %span.ss_sprite.ss_table_key ss_table_key
  %br/
  %span.ss_sprite.ss_table_lightning ss_table_lightning
  %br/
  %span.ss_sprite.ss_table_link ss_table_link
  %br/
  %span.ss_sprite.ss_table_multiple ss_table_multiple
  %br/
  %span.ss_sprite.ss_table_refresh ss_table_refresh
  %br/
  %span.ss_sprite.ss_table_relationship ss_table_relationship
  %br/
  %span.ss_sprite.ss_table_row_delete ss_table_row_delete
  %br/
  %span.ss_sprite.ss_table_row_insert ss_table_row_insert
  %br/
  %span.ss_sprite.ss_table_save ss_table_save
  %br/
  %span.ss_sprite.ss_table_sort ss_table_sort
  %br/
  %span.ss_sprite.ss_tag ss_tag
  %br/
  %span.ss_sprite.ss_tag_blue ss_tag_blue
  %br/
  %span.ss_sprite.ss_tag_blue_add ss_tag_blue_add
  %br/
  %span.ss_sprite.ss_tag_blue_delete ss_tag_blue_delete
  %br/
  %span.ss_sprite.ss_tag_blue_edit ss_tag_blue_edit
  %br/
  %span.ss_sprite.ss_tag_green ss_tag_green
  %br/
  %span.ss_sprite.ss_tag_orange ss_tag_orange
  %br/
  %span.ss_sprite.ss_tag_pink ss_tag_pink
  %br/
  %span.ss_sprite.ss_tag_purple ss_tag_purple
  %br/
  %span.ss_sprite.ss_tag_red ss_tag_red
  %br/
  %span.ss_sprite.ss_tag_yellow ss_tag_yellow
  %br/
  %span.ss_sprite.ss_telephone ss_telephone
  %br/
  %span.ss_sprite.ss_telephone_add ss_telephone_add
  %br/
  %span.ss_sprite.ss_telephone_delete ss_telephone_delete
  %br/
  %span.ss_sprite.ss_telephone_edit ss_telephone_edit
  %br/
  %span.ss_sprite.ss_telephone_error ss_telephone_error
  %br/
  %span.ss_sprite.ss_telephone_go ss_telephone_go
  %br/
  %span.ss_sprite.ss_telephone_key ss_telephone_key
  %br/
  %span.ss_sprite.ss_telephone_link ss_telephone_link
  %br/
  %span.ss_sprite.ss_television ss_television
  %br/
  %span.ss_sprite.ss_television_add ss_television_add
  %br/
  %span.ss_sprite.ss_television_delete ss_television_delete
  %br/
  %span.ss_sprite.ss_text_align_center ss_text_align_center
  %br/
  %span.ss_sprite.ss_text_align_justify ss_text_align_justify
  %br/
  %span.ss_sprite.ss_text_align_left ss_text_align_left
  %br/
  %span.ss_sprite.ss_text_align_right ss_text_align_right
  %br/
  %span.ss_sprite.ss_text_allcaps ss_text_allcaps
  %br/
  %span.ss_sprite.ss_text_bold ss_text_bold
  %br/
  %span.ss_sprite.ss_text_columns ss_text_columns
  %br/
  %span.ss_sprite.ss_text_dropcaps ss_text_dropcaps
  %br/
  %span.ss_sprite.ss_text_heading_1 ss_text_heading_1
  %br/
  %span.ss_sprite.ss_text_heading_2 ss_text_heading_2
  %br/
  %span.ss_sprite.ss_text_heading_3 ss_text_heading_3
  %br/
  %span.ss_sprite.ss_text_heading_4 ss_text_heading_4
  %br/
  %span.ss_sprite.ss_text_heading_5 ss_text_heading_5
  %br/
  %span.ss_sprite.ss_text_heading_6 ss_text_heading_6
  %br/
  %span.ss_sprite.ss_text_horizontalrule ss_text_horizontalrule
  %br/
  %span.ss_sprite.ss_text_indent ss_text_indent
  %br/
  %span.ss_sprite.ss_text_indent_remove ss_text_indent_remove
  %br/
  %span.ss_sprite.ss_text_italic ss_text_italic
  %br/
  %span.ss_sprite.ss_text_kerning ss_text_kerning
  %br/
  %span.ss_sprite.ss_text_letter_omega ss_text_letter_omega
  %br/
  %span.ss_sprite.ss_text_letterspacing ss_text_letterspacing
  %br/
  %span.ss_sprite.ss_text_linespacing ss_text_linespacing
  %br/
  %span.ss_sprite.ss_text_list_bullets ss_text_list_bullets
  %br/
  %span.ss_sprite.ss_text_list_numbers ss_text_list_numbers
  %br/
  %span.ss_sprite.ss_text_lowercase ss_text_lowercase
  %br/
  %span.ss_sprite.ss_text_padding_bottom ss_text_padding_bottom
  %br/
  %span.ss_sprite.ss_text_padding_left ss_text_padding_left
  %br/
  %span.ss_sprite.ss_text_padding_right ss_text_padding_right
  %br/
  %span.ss_sprite.ss_text_padding_top ss_text_padding_top
  %br/
  %span.ss_sprite.ss_text_replace ss_text_replace
  %br/
  %span.ss_sprite.ss_text_signature ss_text_signature
  %br/
  %span.ss_sprite.ss_text_smallcaps ss_text_smallcaps
  %br/
  %span.ss_sprite.ss_text_strikethrough ss_text_strikethrough
  %br/
  %span.ss_sprite.ss_text_subscript ss_text_subscript
  %br/
  %span.ss_sprite.ss_text_superscript ss_text_superscript
  %br/
  %span.ss_sprite.ss_text_underline ss_text_underline
  %br/
  %span.ss_sprite.ss_text_uppercase ss_text_uppercase
  %br/
  %span.ss_sprite.ss_textfield ss_textfield
  %br/
  %span.ss_sprite.ss_textfield_add ss_textfield_add
  %br/
  %span.ss_sprite.ss_textfield_delete ss_textfield_delete
  %br/
  %span.ss_sprite.ss_textfield_key ss_textfield_key
  %br/
  %span.ss_sprite.ss_textfield_rename ss_textfield_rename
  %br/
  %span.ss_sprite.ss_thumb_down ss_thumb_down
  %br/
  %span.ss_sprite.ss_thumb_up ss_thumb_up
  %br/
  %span.ss_sprite.ss_tick ss_tick
  %br/
  %span.ss_sprite.ss_time ss_time
  %br/
  %span.ss_sprite.ss_time_add ss_time_add
  %br/
  %span.ss_sprite.ss_time_delete ss_time_delete
  %br/
  %span.ss_sprite.ss_time_go ss_time_go
  %br/
  %span.ss_sprite.ss_timeline_marker ss_timeline_marker
  %br/
  %span.ss_sprite.ss_transmit ss_transmit
  %br/
  %span.ss_sprite.ss_transmit_add ss_transmit_add
  %br/
  %span.ss_sprite.ss_transmit_blue ss_transmit_blue
  %br/
  %span.ss_sprite.ss_transmit_delete ss_transmit_delete
  %br/
  %span.ss_sprite.ss_transmit_edit ss_transmit_edit
  %br/
  %span.ss_sprite.ss_transmit_error ss_transmit_error
  %br/
  %span.ss_sprite.ss_transmit_go ss_transmit_go
  %br/
  %span.ss_sprite.ss_tux ss_tux
  %br/
  %span.ss_sprite.ss_user ss_user
  %br/
  %span.ss_sprite.ss_user_add ss_user_add
  %br/
  %span.ss_sprite.ss_user_comment ss_user_comment
  %br/
  %span.ss_sprite.ss_user_delete ss_user_delete
  %br/
  %span.ss_sprite.ss_user_edit ss_user_edit
  %br/
  %span.ss_sprite.ss_user_female ss_user_female
  %br/
  %span.ss_sprite.ss_user_go ss_user_go
  %br/
  %span.ss_sprite.ss_user_gray ss_user_gray
  %br/
  %span.ss_sprite.ss_user_green ss_user_green
  %br/
  %span.ss_sprite.ss_user_orange ss_user_orange
  %br/
  %span.ss_sprite.ss_user_red ss_user_red
  %br/
  %span.ss_sprite.ss_user_suit ss_user_suit
  %br/
  %span.ss_sprite.ss_vcard ss_vcard
  %br/
  %span.ss_sprite.ss_vcard_add ss_vcard_add
  %br/
  %span.ss_sprite.ss_vcard_delete ss_vcard_delete
  %br/
  %span.ss_sprite.ss_vcard_edit ss_vcard_edit
  %br/
  %span.ss_sprite.ss_vector ss_vector
  %br/
  %span.ss_sprite.ss_vector_add ss_vector_add
  %br/
  %span.ss_sprite.ss_vector_delete ss_vector_delete
  %br/
  %span.ss_sprite.ss_wand ss_wand
  %br/
  %span.ss_sprite.ss_weather_clouds ss_weather_clouds
  %br/
  %span.ss_sprite.ss_weather_cloudy ss_weather_cloudy
  %br/
  %span.ss_sprite.ss_weather_lightning ss_weather_lightning
  %br/
  %span.ss_sprite.ss_weather_rain ss_weather_rain
  %br/
  %span.ss_sprite.ss_weather_snow ss_weather_snow
  %br/
  %span.ss_sprite.ss_weather_sun ss_weather_sun
  %br/
  %span.ss_sprite.ss_webcam ss_webcam
  %br/
  %span.ss_sprite.ss_webcam_add ss_webcam_add
  %br/
  %span.ss_sprite.ss_webcam_delete ss_webcam_delete
  %br/
  %span.ss_sprite.ss_webcam_error ss_webcam_error
  %br/
  %span.ss_sprite.ss_world ss_world
  %br/
  %span.ss_sprite.ss_world_add ss_world_add
  %br/
  %span.ss_sprite.ss_world_delete ss_world_delete
  %br/
  %span.ss_sprite.ss_world_edit ss_world_edit
  %br/
  %span.ss_sprite.ss_world_go ss_world_go
  %br/
  %span.ss_sprite.ss_world_link ss_world_link
  %br/
  %span.ss_sprite.ss_wrench ss_wrench
  %br/
  %span.ss_sprite.ss_wrench_orange ss_wrench_orange
  %br/
  %span.ss_sprite.ss_xhtml ss_xhtml
  %br/
  %span.ss_sprite.ss_xhtml_add ss_xhtml_add
  %br/
  %span.ss_sprite.ss_xhtml_delete ss_xhtml_delete
  %br/
  %span.ss_sprite.ss_xhtml_go ss_xhtml_go
  %br/
  %span.ss_sprite.ss_xhtml_valid ss_xhtml_valid
  %br/
  %span.ss_sprite.ss_zoom ss_zoom
  %br/
  %span.ss_sprite.ss_zoom_in ss_zoom_in
  %br/
  %span.ss_sprite.ss_zoom_out ss_zoom_out
  %br/
%p &nbsp;
.block_padding