/ Pitch
.span-3.red
  PITCH
.span-5
  New Pitch
  %br/
  Show Interest
  %br/
  Partially Funded Pitch
  %br/
  Matching Funds
  %br/
  Fully Funded Pitch
.span-6
.clear{:style=>"margin-bottom:15px;"}