/ Profile
.span-3
  PROFILE
.span-5
  = link_to "Community Member Profile", "../ui/profile_member_profile"
  %br/
  Own Profile, Community Member
  %br/
  Reporter Bio
  %br/
  Reporter Activity
  %br/
  Reporter Feedback
  %br/
  Reporter Contact
  %br/
  Own Bio (Reporter)
  %br/
  Own Activity (Reporter)
  %br/
  Own Feedback (Reporter)
  %br/
  News Org Fully Funded
  %br/
  News Org Match Funded
  %br/
  News Org Contributed
  %br/
  News Org Contact
  %br/
  Own Fully Funded (News Org)
  %br/
  Own Match Funded (News Org)
  %br/
  Own Contributed (News Org)
.span-6
  = link_to "ui/profile_member_profile.html.haml", "#{@ui_url}/profile_member_profile.html.haml"
.clear{:style=>"margin-bottom:15px;"}