/ Profile
.span-3
  PROFILE
.span-5
  = link_to "Member Profile", "../ui/profile_member_profile"
.span-6
  = link_to "ui/profile_member_profile.html.haml", "#{@ui_url}/profile_member_profile.html.haml"
.clear{:style=>"margin-bottom:15px;"}