/ Reporter
.span-3.red
  REPORT
.span-5
  Post Reporter Update, New Entry
  %br/
  Post, New Entry, Error
  %br/
  Submit a Draft, Initial
  %br/
  Submit a Draft, Initial, w/ Drafts
  %br/
  Submit a Draft, Draft Loaded
  %br/
  Submit a Draft, Story Preview
  %br/
  Submit a Draft, Draft Loaded, Error
  %br/
  Create New Entry, Preview
  %br/
  Peer Review a Draft, Draft Loaded
.span-6
.clear{:style=>"margin-bottom:15px;"}
