/ Reporter
.span-3.red
  REPORTER'S NOTEBOOK
.span-5
  Blog, CM logged in
  %br/
  Blog, reporter logged in
  %br/
  Reporter’s Notebook, Long Item
  %br/
  Logged-in Reporter Views Private Msg
  %br/
  Reply to Private Message
.span-6
.clear{:style=>"margin-bottom:15px;"}