%div{:style =>"color:#fff;padding:8px;background-color:#212C30;"}
  :plain 
    #212C30
%div{:style =>"color:#fff;padding:8px;background-color:#3C5359;"}
  :plain
    #3C5359
%div{:style =>"color:#333;padding:8px;background-color:#909a9d;"}
  :plain
    #909a9d
%div{:style =>"color:#333;padding:8px;background-color:#E9EB98;"}
  :plain
    #E9EB98
%div{:style =>"color:#333;padding:8px;background-color:#F1F1F1;"}
  :plain
    #F1F1F1
%div{:style =>"color:#333;padding:8px;background-color:#FF005D;"}
  :plain
    #FF005D
%div{:style =>"color:#333;padding:8px;background-color:#CE859D;"}
  :plain
    #CE859D
%div{:style =>"color:#333;padding:8px;background-color:#379F00;"}
  :plain
    #379F00
%div{:style =>"color:#333;padding:8px;background-color:#CCE7BA;"}
  :plain
    #CCE7BA
%div{:style =>"color:#fff;padding:8px;background-color:#940000;"}
  :plain
    #940000