/ View Tips
.span-3.red
  VIEW TIPS
.span-5
  New Tip
  %br/
  News Org Showing Interest
  %br/
  Journalist Pinging Tip
  %br/
  Ping Supporters Lightbox
.span-6
.clear{:style=>"margin-bottom:15px;"}