/* CSS Document */

#ibox_w{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color: #000;
	margin:0;
	padding:0;
	filter:alpha(opacity=0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

#ibox_progress {	
	margin:0;padding:0;
	position: absolute;
	z-index:105;
}

#ibox_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:1000;
	padding: 0px;
	border:10px solid #DFEFED;
	background: #DFEFED url(../../images/ibox_bg.jpg) repeat-x;
	width:520px;
/*	height:300px;*/
	padding-bottom:50px;
	margin:0;
}

#ibox_content {
  position:relative;
	width:100%;
	height:100%;
	padding: 50px 0 0 0;
}

#ibox_footer_wrapper {
	padding: 0px;
	position:absolute;
	margin:0;
	top:0px;
	left:0px;
	width: 100%;
}

#ibox_footer{
	font-size: 16px;
	font-weight: bold;
	color:#000;
}

.ie #ibox_footer{
	margin-top:-17px;
}

#ibox_close{
	float: right;
	padding-top:0;
}

#ibox_close a{
	font-size: 18px;
	padding: 0;
	text-decoration: none;
	background-color:#DFEFED;
	color: #000;
}

#ibox_close a:hover{
	color:#fff;
}