<div>
	<%#=render :partial=>'tab_header'%>
	<%=render :partial=>"pitches/tabs/#{@tab.blank? ? 'description' : @tab}"%>
</div>
<br/><br/>
<div id="tabContainer">
	<ul class="tabs" id="tabHeader">
		<li><a href="" class="tab active" id="qualifications_tab" onclick="selectTab('tabContainer','qualifications');" rel="nofollow">Qualifications</a></li>
		<li><a href="" class="tab" id="deliverables_tab" onclick="selectTab('tabContainer','deliverables');" rel="nofollow">Deliverables</a></li>
		<% unless @pitch.disclosure.blank?%>
			<li><a href="" class="tab" id="disclosure_tab" onclick="selectTab('tabContainer','disclosure');" rel="nofollow">Disclosure</a></li>
		<%end%>
	</ul>
	<div class="qualifications_tab tab_panel" id="qualifications_content">
		<%= @pitch.skills %>
	</div>
	<div class="deliverables_tab tab_panel hide" id="deliverables_content">
		<%= @pitch.delivery_description %>
	</div>
	<% unless @pitch.disclosure.blank?%>
		<div class="disclosure_tab tab_panel hide" id="disclosure_content">
			<%= @pitch.disclosure %>
		</div>
	<%end%>
</div>