<% if pitch.assignments.open.any? %>
   <h3>Assignments</h3>
   <% pitch.assignments.open.first(5).each do |assignment| %>
    <h4 class="title"><%= link_to h(assignment.title), pitch_assignment_path(pitch, assignment) %></h4>
    <div class="date"><%= assignment.created_at.to_s(:date) %></div>
    <div class="body">
       <%= truncate_words(strip_tags(assignment.body), 20) %>
    </div>
   <% end %>
   <% if pitch.has_more_assignments_than(5) || (current_user and pitch.user == current_user) %>
    <%= link_to "View all &raquo;", pitch_assignments_path(pitch) %>
   <% end %>
<% end %>