<%if @story.created_at < Time.local(2011,"dec",1,0,0,0)%>
	<ul class="getInvolved">
		<h3>Copyright</h3>
		<li>&copy; Copyright to this story is owned by the Center for Media Change.</li>
	</ul>
<%end%>