<ul class="getInvolved">
	<h3>Get Involved</h3>
	<li><h4>Donate Talent</h4></li>
	<li>Can you take photos, help report, sift through documents and records, or contribute to reporting in some other way? If so, <%= facebox_login_link_to("get in touch with the authors", pitch_assignments_path(@pitch)) %>.</li>
</ul>