<ul class="incentivesBox">
	<h3 id='hoverAnchorIncentives-large'>Incentives</h3>
	<%@pitch.incentives.each do |incentive|%>
		<li><h4><%= incentive.level?%></h4></li>
		<li class="description"><%= incentive.description%> <%if is_admin?%>(<%=link_to "Edit", edit_pitch_incentive_path(@pitch, incentive)%>)<%end%></li>
	<%end%>
</ul>
<% content_for :bottom do %>
	<!-- START - hover list of helpers -->
	<ul class='hoverContainer helper' id='hoverContainerIncentives' style="display:none;">
		<h3>About Incentives</h3>
		When your incentive is ready the reporter will contact you for information they need. This transaction is between the reporter and contributor. Spot.Us is not liable
	</ul>
<%end%>