<%if incentives && !incentives.empty?%>
	<ul class="incentivesBox">
		<h3 id='hoverAnchorIncentives-large'>Incentives</h3>
		<%incentives.each do |incentive|%>
			<li><h4><%= incentive.level?%></h4></li>
			<li class="description"><%= incentive.description%> <%if pitch.editable_by?(current_user)%>(<%=link_to "Edit", edit_pitch_incentive_path(pitch, incentive)%>) | (<%=link_to "Delete", pitch_incentive_path(pitch, incentive), :method => :delete, :confirm => "Are you sure you would like to delete this incentive?", :style=>"color:red;"%>)<%end%></li>
		<%end%>
	</ul>
	<% content_for :bottom do %>
		<!-- START - hover list of helpers -->
		<ul class='hoverContainer helper' id='hoverContainerIncentives' style="display:none;">
			<h3>About Incentives</h3>
			When your incentive is ready the reporter will contact you for information they need. This transaction is between the reporter and contributor. Spot.Us is not liable
		</ul>
	<%end%>
<%end%>