- unless @pitch.errors.empty?
  - content_for :error do
    = error_messages_for :pitch

- @title = "Spot.us - Edit Your Pitch"
.block-spacer
%h3 Edit Your Pitch

#equalize
  -# first column content 
  .span-715.box_white
    = render :partial => 'form'
      
  -# second column content   
  = render :partial => 'sidebar'
.clear
.block-spacer

