%h1
  Listing pitches
%table
  %tr
  - for pitch in @pitches
    %tr
      %td
        = link_to 'Show', pitch
      %td
        = link_to 'Edit', edit_pitch_path(pitch)
      %td
        = link_to 'Destroy', pitch, :confirm => 'Are you sure?', :method => :delete

%br/
= link_to 'New pitch', new_pitch_path
