<h1>Listing pitches</h1>

<table>
  <tr>
  </tr>

<% for pitch in @pitches %>
  <tr>
    <td><%= link_to 'Show', pitch %></td>
    <td><%= link_to 'Edit', edit_pitch_path(pitch) %></td>
    <td><%= link_to 'Destroy', pitch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pitch', new_pitch_path %>
