<div style='width:50%;'> <!-- disaster control for now. -->
   <% unless @pitch.errors.empty? %>
     <% content_for :error do %>
       <%= error_messages_for :pitch %>
     <% end %>
   <% end %>

   <% @title = "Spot.us - Create a Story" %>
   <%= render :partial => 'form' %>
</div>
<div class="createPitchSidebar" rel="nofollow">
	<h2>Helpful tips</h2>
	<h3>Advice On Creating A Pitch</h3>
	<p>Write the pitch so that anyone who reads it will want to see the story materialize. Sell your
     idea and your expertise on the subject. Don’t be afraid to be personal.</p> <p>Upload a YouTube or
     Vimeo video explaining who you are and why you’re the right person for the job. You can also use this to pitch editors at other publications.</p>
	<h3>How Much Should I Ask For?</h3>
	<p>Spot.Us is a new marketplace that is constantly learning how the public will value journalism. As such - we suggest the following as a pricing guide in our <a href="/get_external_url/1050/700?url=http://<%=APP_CONFIG[:default_host]%>/pages/reporter_agreement">
	"Reporter's Agreement"</a> although these are not written in stone.</p>
	<h3>What If My Pitch Doesn’t Reach its Goal?</h3> <p>You can accept to do the pitch regardless of whether or not
	you reach the original goal. So, if you raise 80% of the stated goal, you can still accept that
	money, but you must do what was outlined in the original pitch. You can also choose to cancel the
	pitch and donations will be directed back to the original donors in the form of credits
	so they may direct it to another pitch.</p>
	  <h3>Does the Pitch Go Live Right Away?</h3>
	<p>Spot.Us admin will look over the pitch. It will not go live right away. You'll be contacted by
	someone from Spot.Us about editing the pitch, getting in shape and when it will go live.</p>
	<p>  
	<strong>The pitch is NOT public automatically.</strong></p> 
</div>
