%h2 My Spot

= render :partial => "myspot/nav"

.span-715.box_white
  = render :partial => "myspot/dashboard_nav"
  %table.pledges
    %tr
      %th.pitch_header Tip
      %th.pledged_header Pledged
      %th.amount_header Amount
      %th.status_header Status
      %th.actions_header Actions
    %tr
      %td{:colspan => 5}
        .double_content_border
    = render :partial => "myspot/pledges/pledge", :collection => @pledges, :spacer_template => "myspot/pledges/pledge_spacer"
  .double_content_border


.span-160.box_white
  = render :partial => "layouts/common_questions"
