<ul class="tabs">
   <li><%= link_to 'Profile', myspot_profile_path, :id => 'profile_tab', :class => selected_tab=="profile" ? "myspot_tab active" : "myspot_tab" %></li>
   <li><%= link_to 'Dashboard', myspot_donations_path, :id => 'dashboard_tab', :class => selected_tab=="dashboard" ? "myspot_tab active" : "myspot_tab" %></li>
   <li><%= link_to 'Settings', edit_myspot_settings_path, :id => 'settings_tab', :class => selected_tab=="settings" ? "myspot_tab active" : "myspot_tab" %></li>
   <li><%= link_to 'Twitter/FB', edit_myspot_twitter_credentials_path, :id => 'twitter_credentials_tab', :class => selected_tab=="twitter_credentials" ? "myspot_tab active" : "myspot_tab" %></li>               
</ul>