- if @profile.is_a?(Reporter)
  - # profile navigation
  #profile_tab_container
    %ul.profile_navigation
      %li= link_to "Basic Info", edit_myspot_profile_path, :id => "profile_basic_tab"
      %li= link_to "Work History", new_myspot_profile_job_path, :id => "profile_work_history_tab"
      %li= link_to "Work Samples", new_myspot_profile_sample_path, :id => "profile_work_samples_tab"
  .clear
