#reporters_toolbar_box.clearfix
  .person_avatar
    = link_to((image_tag current_user.photo.url(:thumb)), profile_path(current_user))
  #reporters_toolbar
    / %span User's Reporter Tools
    %ul
      %li 
        Associate this tip
        %ul.children
          - if (current_user.pitches - tip.pitches).blank?
            %li
              No pitches to attach
          - for pitch in current_user.pitches
            - unless tip.pitches.include?(pitch)
              %li= link_to_remote "PITCH: #{pitch.headline}", :url => tip_affiliations_path(tip, :affiliation => {:pitch_id => pitch.id}), :method => :post, :html => {:id => dom_id(pitch)}
      %li 
        =link_to "Create a Pitch", new_pitch_path
