<tr>
	<td class="pitch">    
		<%= cca_question.question%>
		<% if cca_question.description && !cca_question.description.empty?%>
			<p><%=cca_question.description%></p>
		<%end%>
	</td>
	<td class="donated">
		&nbsp;
	</td>
	<td colspan='2'>
		&nbsp;
	</td>
</tr>
<%= render :partial => "myspot/ccas/cca_answer", :collection => cca_question.cca_answers, :spacer_template => "myspot/ccas/cca_spacer" %>