<h3>Just want to donate directly?</h3>
<div class="fundThis">
	<ul class="donateButtons">
		<li class='fundButton'>	
			<%= render :partial => "donations/text_button", :locals => { :news_item => @pitch }%>
		</li>
	</ul>
</div>