
<div id="tabContainer">
	<div class="qualifications_tab tab_panel" id="qualifications_content">
		<h2>Main questions</h2>
		Please do answer these questions 
		<h3>1. Question 1</h3>
		<p>Some additional details...</p>
		<textarea style='width:100%;height:200px;'></textarea>
		<h3>2. Question 2</h3>
		<p>Some additional details...</p>
		<textarea style='width:100%;height:200px;'></textarea>
		<h3>3. Question 3</h3>
		<p>Some additional details...</p>
		<textarea style='width:100%;height:200px;'></textarea>
	</div>
</div>
<br/><br/>
<div id="tabContainer">
	<div class="qualifications_tab tab_panel" id="qualifications_content">
		<h2>Question from Spot Us</h2>
		<p>Some additional details...</p>
		<h3>How often do you think you would like to answer this type of questions?</h3>
		<input type='radio' /> Sometimes <input type='radio' /> 1-2 times per week <input type='radio' /> Once per month <input type='radio' /> All the time
	</div>
</div>
<br/><br/>
<div id="tabContainer">
	<div class="qualifications_tab tab_panel" id="qualifications_content">
		Some disclaimers<br/>
		<input type='checkbox' /> I accept the terms of use and allow Spot.Us to share the <br />
		<input type='checkbox' /> I allow Spot.us to share my email address for followup questions <br />
		<input type='checkbox' /> I allow Spot.us to share my email address for the advertiser to contact me <br />
		<br />
		<%= image_submit_tag image_path('save.png') %>
    <%= link_to image_tag('cancel.png', :alt => 'Cancel'), root_url %>
	</div>
</div>