<% content_for :head do %>
  <script>
    $(function(){
      $(".admin_tab").removeClass("hilited");
      $("#ccas_tab").addClass("hilited");
    });
  </script>
<% end %>

<%= render :partial => "/admin/admin_header" %>

<h2>New CCA</h2>
<%= render :partial => "form" %>