<% @title = "Spot.us - Your Donations" %>
<div id="purchases<%="_lite" if cookies[:spotus_lite]%>" class="donationAmounts">
	<div class="formContainer">
		<%= render :partial => "/myspot/purchases/purchase_form" %>
	</div>
</div>