/* wrappers */
.upperWrapper{
	height:100px;
	background-image:url('/images/new/headerbg.png');
	background-repeat:repeat-x;
	width:100%;
}

.middleWrapper{
	background-image:url('/images/new/bgstripe.png');
	background-repeat:repeat;
	height:100px;
	padding-top:20px;
	border-bottom:1px solid #ccc;
}

.lowerWrapper{
	width:100%;
	clear:both;
}

.innerWrapper {
	margin:0px auto;
	width:980px;
	clear:both;
}

.bottomWrapper{
	margin:0px auto;
	width:100%;
	background-color:#24454f;
	clear:both;
}

.contentContainer{
	margin:0px auto;
	display:block;
}

/* end wrapper */

/* header container */

.headerContainer{
	background:none;
}

.headerContainer img {
	margin:0px;
}

.headerContainer a img {
	border:none;
	padding:0px;
}

/* end header container */

/*middle wrapper styles*/
.introContainer, .statsContainer{
	width:35%;
	float:left;
	margin-right:40px;
}

.introContainer p span a{
	text-decoration:none;
	font-weight:bold;
}

.introContainer a{
	color:#24535e;
}

.introContainer p{
	font-family:Georgia, Times, serif;
	font-size:16px;
	line-height:22px;
	margin:0px 0px 5px 0px;
	padding:0;
}

.statsContainer h2{
	text-transform:none;
	font-family:Helvetica, Arial, sans-serif;
	color:#000;
	padding:0;
	margin:0px 0px 9px 0px;
}

.joinContainer{
	text-align:right;
}

.joinContainer a{
	background-color:#e15205;
	background-image:url('/images/new/joinBG.png');
	background-repeat:repeat-x;
	padding:5px 20px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size:25px;
	text-shadow: #e15205 1px 1px 1px;
}

.joinContainer a:hover{
	color:#fff;
	text-shadow: #993905 2px 2px 2px;
}

/*end middle wrapper styles*/

/* login and registration links */
.loginContainer {
	float:right;
	margin-top:11px;
	margin-right:15px;
	width:54%;
}

.loginContainer li{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:700;
	list-style-type:none;
	padding-left:20px;
	text-transform:uppercase;
	color:#666;
}

.loginContainer .actionLink, .loginContainer .actionLinkInbox{
	padding-left:7px;
}

.loginContainer .actionLink .submitArticle{
	color: #666;
	margin-left:12px;
}

.loginContainer .actionLinkInbox, .loginContainer .actionLinkInbox a, .loginContainer .actionLinkInbox a:hover{
	color:#666;
}

.loginContainer .actionLinkInbox a img{
	height:16px;
	padding-top:-2px;
}

.loginContainer .actionLinkInbox a span{
	float:right;
	display:inline;
	margin: 0px 0px 0px 3px;
}

.loginContainer .actionLinkinBox a:hover{
	text-decoration:underline;
}

.loginContainer .actionSeparator{
	padding-left:0px;
	color:#666;
	display:none;
}

.loginContainer .actionSeparatorFacebookConnect{
	padding-left:0px;
	margin-left:5px;
	margin-top:-1px;
	color:#666;
}

.loginContainer li a:link, .loginContainer li a:visited, .loginContainer li span{
	color:#666;
	padding:0px;
}

.loginContainer li span{
	padding-right:3px;
}

.loginContainer li .userName{
	text-decoration: underline;
}

.loginContainer li a.logout{
	padding:0px;
	color: red;
}

.loginContainer li a:hover{
	color: #ED2528;
	padding:0px;
}

.loginContainer li.facebookConnect {
	margin: -2px 0px 0px 5px;
	padding:0px 0px 0px 0px;
}

.loginContainer li.facebookConnect a img{
	width:20px;
}

/* end login and registration links */

/* Logo container */

.logoContainer {
	float: left;
	padding:0px;
	margin:10px 20px 0px 0px;
	color:#666;
	height:80px;
}

.logoContainer a{
	font-size:30px;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	width:282px;
	height:105px;
	background-image:url('/images/new/spotuslogo.png');
	background-repeat:no-repeat;
	text-indent:-3000px;
	margin-top:0px;
}


.logoContainer a:hover{
	text-decoration:underline;
}

.logoContainer span{
	font-size:14px;
	text-transform:capitalize;
	color:#666;
	font-weight:normal;
	margin-top:10px;
	padding-top:5px;
	padding-left:2px;
	display:block;
}

/* end Logo container */

/*Right header styles*/
.rightheaderContainer {
	width:50%;
	float:right;
	padding-top:25px;
	
}

.rightheaderContainer li {
	list-style-type:none;
	display:inline;
}

.loginMenu {
	width:200px;
	display:inline;
	margin-right:20px;
}
.loginMenu li a{
	color:#fff;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	text-transform:uppercase;
	margin:0;
	padding-bottom:10px;	
}

.socialMenu{
	width:85px;
	display:inline;
}

.socialMenu li {
	line-height:30px;
}

.searchBox {
	display:inline;
	margin-left:20px;
}

.searchBox input{
	background:#fff;
	border:1px solid #ccc;
	width:175px;
	height:20px;
	background-image:url('/images/new/search.png');
	background-repeat:no-repeat;
	background-position: right;
	margin-top:-15px;
}

.headerMenu {
	text-align:right;
}

.headerMenu li{
	padding-right:30px;
}

.headerMenu li.last {
	padding-right:0px;
}

.headerMenu li a{
	color:#fff;
	font-size:21px;
	text-decoration:none;
	font-weight:bold;
	line-height:44px;
}

.headerMenu li a:hover{
	border-bottom:1px solid #fff;
}

/*end right header styles*/

/* page navigation */
.navigationContainer {
	clear:both;
	padding-left:10px;
	width:1000px;
	border-bottom:0px solid #666;
	border-top:1px solid #ccc;
	font-size:10px;
	padding-top:5px;
	margin: 0px auto;
}

.navigationContainer li{
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type:none;
	text-transform:uppercase;
	padding-left:8px;
	padding-right:2px;
	border-left:1px solid #666;
}

.navigationContainer li.first{
	border-left:none;
}

.navigationContainer li.pagePre{
	font-weight:bold;
}

.navigationContainer li a:link, .navigationContainer li a:visited, .navigationContainer li.languageLink a:link, .navigationContainer li.languageLink a:visited{
	color:#666;
	text-decoration:none;
}

.navigationContainer li.languageLink,  .navigationContainer li.languageLinkSelected, .navigationContainer li.languageSeparator {
	border:none;
	float:right;
	padding-left:10px;
	padding-right:10px;
}

.navigationContainer li a:hover, .navigationContainer li.languageLink a:hover{
	color:#fff;
	text-decoration:underline;
}

.navigationContainer li.selected a{
	color:red;
	text-decoration:none;
}

.navigationContainer li.languageLinkSelected a{
	text-decoration:none;
	color:#666;
}

/* search container */

.searchContainer{
	display:inline;
	float:right;
	text-align:right;
	margin-top:35px;
	margin-bottom:5px;
	padding-bottom:1px;
	margin-right:15px;
}

/* end search container */

/*story grid styles*/
.storyGrid {
	margin: 0px auto;
	padding-top:0px;
	clear:both;
}


.storyGrid li{
	list-style-type:none;
	display:inline;
	float:left;
	width:33.2%;
	border-bottom:1px dotted #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}

.storyGrid li img{
	border:3px solid #ccc;
	margin-bottom:10px;
	width:300px;
	height:165px;
}

.storyGrid div{
	margin:5px 0px 0px 10px;
}

.storyGrid li h3 a{
	text-transform:none;
	font-family:Helvetica,arial,sans-serif;
	background-color:transparent;
	font-size:16px;
	line-height:19px;
	color:#24444e;
	padding:0;
}

.storyGrid li h3 a:hover{
	color:#333;
}

.storyGrid li form{
	height:auto;
	padding:0px;
}

.storyGrid li a, .storyGrid li input{
	text-decoration:none;
	font-weight:bold;
}

.storyGrid li .fundButton, .storyGrid li .creditsButton{
	padding:5px;
	border:1px solid #ccc;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;	
	color:#fff;
	font-size:12px;
	line-height:14px;
	margin:5px 0px 0px 10px;
}

.storyGrid li .fundButton{
	background-color:#7a9e53;
}

.storyGrid li .fundButton:hover{
	cursor:pointer;
	background-color:#71964a;
}

.storyGrid li .creditsButton{
	background-color:#24454f;
}

.storyGrid li .creditsButton:hover{
	cursor:pointer;
	background-color:#1c3942;
}

/*end story grid styles*/

/* static middle tabs*/

.tabs{
	list-style-type:none;
	position:relative;
	z-index:1000;
	top:-29px;
	width:100%;
	margin: 0px 0 3px 0;
	clear:both;
}

.tabs li {
	float:right;
	background-color:#e3eeef;
	color:#626262;
	font-size:12px;
	padding:3px 7px;
	margin-left:4px;
	text-decoration:none;
	border:1px solid #ddd;
	border-bottom:1px solid #C7D9DB;
}

.tabs li.current{
	background-color:#fff;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom: 1px solid #fff;
}

.tabs li a, .tabs li.current a{
	color:#666;
	text-decoration:none;
}

/*end static middle tabs*/


/* Footer styles */

.footerContainer, .copyrightContainer {
	clear:both;
	font-size:10px;
	width:980px;
	margin:0px auto;
	padding:20px 10px;
}

.footerContainer li {
	display:inline;
	padding-right:5px;
}

.footerNotes{
	width:31%;
	float:left;
	padding:10px;
}

.footerNotes p{
	color:#fff;
	font-size:14px;
}

.footerNotes h3{
	font-size:22px;
	font-family:Helveitca, arial, sans-serif;
	text-transform:none;
	color:#fff;
	border-bottom:1px dotted #416871;
	margin-bottom:10px;
	padding:bottom:10px;
}

.footerNotes ul li{
	list-style-type:none;
	display:block;
	font-size:14px;
	margin-bottom:15px;
}

.footerNotes ul li a{
	color:#fff;
	line-height:16px;
	text-decoration:none;
}

.footerNotes ul li span{
	font-weight:bold;
	color:#7a9f54;
}

.copyrightContainer {
	clear:both;
}

.copyrightContainer ul li{
	list-style-type:none;
	display:inline;
	font-size:14px;
}

.copyrightContainer ul li a{
	padding:5px;
	color:#fff;
}

/* end footer styles */

/* star pagination */
.pagination{
	width:100%;
	border-top:1px solid #ccc;
	margin-top:5px;
	padding-top:5px;
	font-size:12px;
	text-align:center;
}

.pagination a {
	padding: 2px;
}

.pagination .disabled, .pagination .current {
	color:#666;
}
/* end pagination */

/* tag cloud */

.css1 { font-size: 8px; }
.css2 { font-size: 12px; }
.css3 { font-size: 16px; }
.css4 { font-size: 20px; }

/* end tag cloud */


.preFeaturedImage{
	font-size:11px;
	display:block;
	margin:5px 0px 10px 10px;
}

.featuredImageCaption {
	margin-top:5px;
	margin-bottom:10px;
}

.featuredImageCaption .preCaption{
	font-weight:bold;
	padding-right:10px;
	text-transform:capitalize;
}

.shareThis{
	padding-top:10px;
	margin:10px 0px 0px 10px;
}

.filterLink, .filterLinkActive{
	text-transform:uppercase;
	padding:5px 0px 0px 0px;
	margin-right:10px;
	float:right;
	font-size:10px;
}

.filterLink a{
	text-decoration:none;
	color:#333;
	cursor:hand;
}

.filterLink a:hover{
	text-decoration:underline;
}

.filterLinkActive a {
	color:#000;
	text-decoration:none;
	cursor:normal;
}

.favoriteThis, .favoritedThis{
	margin:10px;
	padding: 4px 0px 4px 0px;
	width:150px;
	font-size:16px;
	text-transform:uppercase;
}

.actionLinks{
	margin: 15px 0px 15px 0px;
	list-style-type:none;
}

.actionLinks .favoriteThis, .actionLinks .favoritedThis{
	margin:2px 2px;
	padding:0px;
	font-size:10px;
	display:inline;
}

.actionLinks img, .profileContainer .profileDescription .actionLinks img{
	width:16px;
	border:none;
}

.favoritedThis{
	margin:10px;
	border: 1px solid #ddd;
	background:#fff;
	padding: 2px 4px;
	width:197px;
	font-size:10px;
	text-transform:none;
}

.favoriteThis a{
	text-decoration:none;
}

.favoriteThis a:hover{
	text-decoration:underline;
}

.viewed {
	font-size: 16px;
	text-transform:uppercase;
	color: #666;
	padding-top:10px;
	margin:10px;
}

.largeLink{
	font-size:18px;
	text-transform:capitalize;
}

.headerActionLink{
	float:right;
	margin-right:10px;
	font-size:60%;
}

.noResults{
	padding:10px 0px 10px 10px;
}

.flashMessage{
	border:2px solid red;
	font-size:18px;
	line-height:20px;
	margin: 0px auto;
	padding:10px;
	width:920px;
}
/* end global styles*/

/* categories */

.categoryContainer{
	width:98%;
	margin: 0px 10px 10px 10px;
}

.categoryContainer ul{
	list-style:none;
}

.categoryContainer ul li{
	display:inline;
}

.categoryContainer ul li.separator{
	padding: 0px 5px 0px 5px;
}

/* end categories */

/* Leave in for hover control */
.hoverContainer{
	background:#f9f9f9;
	border: 1px solid #fff;
	position:absolute;
	z-index:1000;
}