/* wrappers */
.upperWrapper{
	height:100px;
	background-image:url('/images/new/headerbg.png');
	background-repeat:repeat-x;
	width:100%;
}

.middleWrapper{
	background-image:url('/images/new/bgstripe.png');
	background-repeat:repeat;
	height:100px;
	padding-top:10px;
	border-bottom:1px solid #ccc;
}

.lowerWrapper{
	width:100%;
	clear:both;
}

.innerWrapper {
	margin:0px auto;
	width:980px;
	clear:both;
}

.bottomWrapper{
	margin:0px auto;
	width:100%;
	background-color:#24454f;
	clear:both;
}

.contentContainer{
	margin:0px auto;
	display:block;
}

/* end wrapper */

/* header container */

.headerContainer{
	background:none;
}

.headerContainer img {
	margin:0px;
}

.headerContainer a img {
	border:none;
	padding:0px;
}

/* end header container */

/*middle wrapper styles*/
.introContainer, .statsContainer{
	width:35%;
	float:left;
	margin-right:40px;
	margin-top:-10px;
}

.introContainer p span a{
	text-decoration:none;
	font-weight:bold;
}

.introContainer a{
	color:#24535e;
}

.introContainer a:hover{
	color:#e15205;
}

.introContainer p{
	font-family:Georgia, Times, serif;
	font-size:16px;
	line-height:22px;
	margin:0px 0px 5px 0px;
	padding:0;
}

.statsContainer h2{
	text-transform:none;
	font-family:Helvetica, Arial, sans-serif;
	color:#000;
	padding:0;
	margin:0px 0px 9px 0px;
	font-weight:normal;
	text-shadow: #ccc 1px 1px 1px;
}

.joinContainer{
	margin-top:20px;
	text-align:right;
}

.joinContainer a{
	background-color:#e15205;
	background-image:url('/images/new/joinBG.png');
	background-repeat:repeat-x;
	padding:8px 20px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size:25px;
	text-shadow: #e15205 1px 1px 1px;
}

.joinContainer a:hover{
	color:#fff;
	text-shadow: #993905 2px 2px 2px;
}

/*end middle wrapper styles*/

/* login and registration links */
.loginContainer {
	float:right;
	margin-top:11px;
	margin-right:15px;
	width:54%;
}

.loginContainer li{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:700;
	list-style-type:none;
	padding-left:20px;
	text-transform:uppercase;
	color:#666;
}

.loginContainer .actionLink, .loginContainer .actionLinkInbox{
	padding-left:7px;
}

.loginContainer .actionLink .submitArticle{
	color: #666;
	margin-left:12px;
}

.loginContainer .actionLinkInbox, .loginContainer .actionLinkInbox a, .loginContainer .actionLinkInbox a:hover{
	color:#666;
}

.loginContainer .actionLinkInbox a img{
	height:16px;
	padding-top:-2px;
}

.loginContainer .actionLinkInbox a span{
	float:right;
	display:inline;
	margin: 0px 0px 0px 3px;
}

.loginContainer .actionLinkinBox a:hover{
	text-decoration:underline;
}

.loginContainer .actionSeparator{
	padding-left:0px;
	color:#666;
	display:none;
}

.loginContainer .actionSeparatorFacebookConnect{
	padding-left:0px;
	margin-left:5px;
	margin-top:-1px;
	color:#666;
}

.loginContainer li a:link, .loginContainer li a:visited, .loginContainer li span{
	color:#666;
	padding:0px;
}

.loginContainer li span{
	padding-right:3px;
}

.loginContainer li .userName{
	text-decoration: underline;
}

.loginContainer li a.logout{
	padding:0px;
	color: red;
}

.loginContainer li a:hover{
	color: #ED2528;
	padding:0px;
}

.loginContainer li.facebookConnect {
	margin: -2px 0px 0px 5px;
	padding:0px 0px 0px 0px;
}

.loginContainer li.facebookConnect a img{
	width:20px;
}

/* end login and registration links */

/* Logo container */

.logoContainer {
	float: left;
	padding:0px;
	margin:10px 20px 0px 0px;
	color:#666;
	height:80px;
}

.logoContainer a{
	font-size:30px;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	width:282px;
	height:105px;
	background-image:url('/images/new/spotuslogo.png');
	background-repeat:no-repeat;
	text-indent:-3000px;
	margin-top:0px;
}


.logoContainer a:hover{
	text-decoration:underline;
}

.logoContainer span{
	font-size:14px;
	text-transform:capitalize;
	color:#666;
	font-weight:normal;
	margin-top:10px;
	padding-top:5px;
	padding-left:2px;
	display:block;
}

/* end Logo container */

/*Right header styles*/
.rightHeaderContainer {
	width:68%;
	float:right;
	padding-top:25px;
}

.rightHeaderContainer li {
	list-style-type:none;
	float:right;
}

.loginMenu {
	margin-top:1px;
	margin-right:17px;
	color:#fff;
	text-align:left;
}

.loginMenu .menuSeparator{
	padding:0px 2px;
}

.loginMenu .logoutLink{
	color:red;
}

.loginMenu li a{
	color:#fff;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	text-transform:uppercase;
	margin:0;
	padding-bottom:10px;	
}

.socialMenu{
	width:90px;
	margin-right:4px;
}

.socialMenu li {
	display:inline;
	line-height:30px;
}

.socialMenu li img{
	margin-left:4px;
}

.searchBox {
	top:-3px;
}

.searchBox input{
	background:#fff;
	border:1px solid #ccc;
	width:175px;
	height:20px;
	background-image:url('/images/new/search.png');
	background-repeat:no-repeat;
	background-position: right;
	margin-top:-2px;
}

.headerMenuContainer{
	width:100%;
}

.headerMenu {
	text-align:right;
}

.headerMenu li{
	margin-top:5px;
	padding-left:30px;
}

.headerMenu li.last {
	padding-right:0px;
}

.headerMenu li a{
	color:#fff;
	font-size:21px;
	text-decoration:none;
	font-weight:bold;
	line-height:44px;
	text-shadow: #000 1px 1px 1px;
}

.headerMenu li a:hover{
	color:#ccc;
}

.learnMore{
	padding:10px 20px 10px 10px;
	list-style-type:none;
}

/*end right header styles*/

/* page navigation */
.navigationContainer {
	clear:both;
	padding-left:10px;
	width:1000px;
	border-bottom:0px solid #666;
	border-top:1px solid #ccc;
	font-size:10px;
	padding-top:5px;
	margin: 0px auto;
}

.navigationContainer li{
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type:none;
	text-transform:uppercase;
	padding-left:8px;
	padding-right:2px;
	border-left:1px solid #666;
}

.navigationContainer li.first{
	border-left:none;
}

.navigationContainer li.pagePre{
	font-weight:bold;
}

.navigationContainer li a:link, .navigationContainer li a:visited, .navigationContainer li.languageLink a:link, .navigationContainer li.languageLink a:visited{
	color:#666;
	text-decoration:none;
}

.navigationContainer li.languageLink,  .navigationContainer li.languageLinkSelected, .navigationContainer li.languageSeparator {
	border:none;
	float:right;
	padding-left:10px;
	padding-right:10px;
}

.navigationContainer li a:hover, .navigationContainer li.languageLink a:hover{
	color:#fff;
	text-decoration:underline;
}

.navigationContainer li.selected a{
	color:red;
	text-decoration:none;
}

.navigationContainer li.languageLinkSelected a{
	text-decoration:none;
	color:#666;
}

/* search container */

.searchContainer{
	display:inline;
	float:right;
	text-align:right;
	margin-top:35px;
	margin-bottom:5px;
	padding-bottom:1px;
	margin-right:15px;
}

/* end search container */

.subFilterContainer{
	width:100%;
	top:-10px;
	margin:0px 20px 10px 0px;
	text-align:right;
	clear:both;
}

.subFilterContainer strong, .subFilterContainer span {
	margin-left:10px;
	margin-right: 10px;
}

/*story grid styles*/
.storyGrid {
	margin: 0px auto;
	padding-top:10px;
	clear:both;
}


.storyGrid li{
	list-style-type:none;
	display:inline;
	float:left;
	width:33.2%;
	border-bottom:1px dotted #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}

.storyGrid li img{
	border:3px solid #ccc;
	margin-bottom:10px;
	width:300px;
	height:165px;
}

.storyGrid div{
	margin:5px 0px 0px 0px;
	display:block;
	clear:both;
}

.storyGrid li h3{
	padding-bottom:0px;
	margin-bottom:0px;
	padding-top:0px;
	margin-top:0px;
}

.storyGrid li h3 a{
	text-transform:none;
	font-family:Helvetica,arial,sans-serif;
	background-color:transparent;
	font-size:16px;
	line-height:19px;
	color:#24444e;
	padding:0;
}

.storyGrid li h3 a:hover{
	color:#e15205;
}

.storyGrid li form{
	height:auto;
	padding:0px;
}

.storyGrid li a, .storyGrid li input{
	height:auto;
	text-decoration:none;
	font-family:Helvetica,arial,sans-serif;
	font-weight:bold;
}

.storyGrid .donateButtons {
	margin-left:0px;
}


/*end story grid styles*/

/* donate button styles*/

.donateButtons li.fundButton, .donateButtons li.creditsButton{
	float:left;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;	
	color:#fff;
	line-height:14px;
	margin:0px 0px 5px 0px;
	width:40%;
	list-style-type:none;
	display:inline;
	text-align:center;
	border: 1px solid #ddd;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

.donateButtons li.creditsButton a, .donateButtons li.fundButton form input{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-family:Helvetica, Arial, sans-serif;
	padding:0;
}

.donateButtons li.fundButton form input, .donateButtons li.fundButton{
	background-color:#7a9e53;
	border:none;
}

.donateButtons li.fundButton{
	border: 1px solid #ddd;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

.donateButtons li.fundButton:hover, .donateButtons li.fundButton form input:hover{
	cursor:pointer;
	background-color:#6e9149;
}

.donateButtons li.creditsButton{
	background-color:#24454f;
}

.donateButtons li.creditsButton:hover{
	cursor:pointer;
	background-color:#1c3942;
}

	/*button styles only for list (story grid) views*/

.storyGrid .donateButtons li.fundButton, .storyGrid .donateButtons li.creditsButton,
.smallFundBox .donateButtons li.fundButton, .smallFundBox .donateButtons li.creditsButton{
	padding:5px 10px;
}

.storyGrid .donateButtons li.fundButton form input, .storyGrid .donateButtons li.creditsButton a{
	color:#fff;
	line-height:14px;
	font-size:12px;
}

.storyGrid .donateButtons li.fundButton, .smallFundBox .donateButtons li.fundButton{
	margin-left:2px;
}

.storyGrid .donateButtons li.creditsButton, .smallFundBox .donateButtons li.creditsButton{
	margin-right:2px;
}
	/*button styles only for pitch (fund box) views*/

.fundBox .donateButtons li.fundButton, .fundBox .donateButtons li.creditsButton{
	padding:15px;
}

.fundBox .donateButtons li.fundButton form input, .fundBox .donateButtons li.creditsButton a {
	color:#fff;
	font-size:16px;
	line-height:18px;
}

.fundBox .donateButtons li.fundButton{
	margin-left:5px;
}

.fundBox .donateButtons li.creditsButton{
	margin-right:5px;
}

/*end donate button styles*/

/* static middle tabs*/

.tabs{
	list-style-type:none;
	position:relative;
	z-index:1000;
	top:-29px;
	width:100%;
	margin: 0px 0 3px 0;
	clear:both;
}

.tabs li {
	float:right;
	background-color:#e3eeef;
	color:#626262;
	font-size:12px;
	padding:3px 7px;
	margin-left:4px;
	text-decoration:none;
	border:1px solid #ddd;
	border-bottom:1px solid #C7D9DB;
}

.tabs li.current, .tabs li.active{
	background-color:#fff;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom: 1px solid #fff;
}

.tabs li a, .tabs li.current a, .tabs li.active a{
	color:#666;
	text-decoration:none;
}

/*end static middle tabs*/

/*pitch header*/

.headlineByline {
	width:70%;
	float:left;
	color:#000;
}

.headlineByline h1{
	font-size:25px;
	line-height:27px;
	font-weight:bold;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	text-transform:none;
	margin-top:0px;
}

.headlineByline h1 a{
	text-decoration:none;
	color:#000;
}

.headlineByline h1 a:hover{
	color:#24454f;
}


.headlineByline ul li{
	list-style-type:none;
	display:inline;
	margin-right:20px;
	font-family:Georgia, Times, serif;
	font-style:italic;
	font-size:14px;
}

.headlineByline ul li a{
	color:#11363e;
	text-decoration:none;
}

.headlineByline ul li img{
	width:15px;
	height:15px;
	border:1px solid #ccc;
}

.fundingStatus {
	text-align:right;
	width:25%;
	float:right;
	position:relative;
	top:9px;
}

.fundingStatus h3{
	font-size
	display:inline;
	font-size:20px;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}

.fundingStatus h3.published, .fundingStatus h3.funded{
	color:#54859f;
}

.fundingStatus h3.needsFunding{
	color:#59933e;
}


/*end pitch header*/

/*pitch page*/
.pitch_container{display:none;}

.pitchContainer{
	width:100%;
}

.summaryContent{
	width:55%;
	float:left;
	padding:0px;
}

.summaryContent h2{
	font-family:Helvetica, arial, sans-serif;
	color:#11363e;
	font-weight:bold;
	text-transform:none;
	text-shadow: #fff 1px 1px 0px;
	font-size:20px;
}

.summaryContent p{
	font-family:Georgia, times, serif;
	color:#000;
	font-size:18px;
	line-height:24px;
	margin-bottom:10px;
	text-shadow: #fff 1px 1px 0px;
	
}

.summarySidebar{
	width:44%;
	float:right;
	/*erik, i can never get display:inline to work for divs.
	 so i keep floating things left and right. remind me to ask you about this.*/
	border-left:1px solid #ccc;
	min-height:800px;
}

.fundBox, .smallFundBox{
	background-color:#f6f8f6;
}

.fundBox {
	padding:20px;
	display:block;
	height:170px;
}

.smallFundBox {
	padding:10px;
	height:120px;
}

.smallFundBox .donateButtons{
	margin-top:20px;
}

.fundBox ul{
	padding-top:30px;
}

.fundBox .progressIncomplete, .fundBox .progressComplete, .smallFundBox .progressIncomplete, .smallFundBox .progressComplete {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border:3px solid #11363e;
	background-color:#fff;
}

.fundBox .progressIncomplete, .fundBox .progressComplete {
	width:380px;
	height:50px;
}

.smallFundBox .progressIncomplete, .smallFundBox .progressComplete {
	width:250px;
	height:35px;
}

.fundBox .progressIncomplete div, .smallFundBox .progressIncomplete div {	
	background-image:url('/images/new/percentageBG2.png');
	border-right: 1px solid #11363e;
	height:100%;
}

.fundBox .progressComplete div, .smallFundBox .progressComplete div {
	background-image:url('/images/new/percentageBG.png');
	height:100%;
}

.fundBox .progressIncomplete h5, .fundBox .progressComplete h5, .smallFundBox .progressIncomplete h5, .smallFundBox .progressComplete h5{
	text-align:center;
	color:#11363e;
	font-family:Helvetica, arial, verdana, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	width:100%`;
}


.fundBox .progressIncomplete h5, .fundBox .progressComplete h5{
	font-size:20px;
	line-height:32px;
	margin-top:-50px;
}

.smallFundBox .progressIncomplete h5, .smallFundBox .progressComplete h5{
	font-size:20px;
	line-height:32px;
	margin-top:-40px;
}


.donorsBox, .getInvolved{
	padding:15px 20px 0px 20px;
	border-top:1px dotted #eee;
	margin-top:20px;
	height:80px;
}

.donorsBox ul.total, .donorsBox ul.supporters{
	width:50%;
	display:inline;
	float:left;
}

.donorsBox ul.total li{
	display:block;
	position:normal;
	width:100%;
}

.donorsBox ul.total li span{
	
}


.donorsBox ul.supporters li{
	width:25px;
	display:inline;
	position:normal;
	margin-right:3px;
	float:right;
}

.donorsBox ul li img{
	width:25px;
}

.donorsBox ul.total li span{
	float:left;
	margin-top:5px;
}

.donorsBox ul.supporters span{
	float:right;
	display:block;
	margin-top:5px;
}

.donorsBox span a{
	color:#11363e;
}

.getInvolved{
	clear:both;
	padding:20px;
}

.getInvolved li, .donorsBox li{
	list-style-type:none;
	font-size:13px; 
	color:#000;
	float:left;
	padding:0px 0px 0px 0px;
}

.getInvolved li{
	display:block;
}

.getInvolved h3, .donorsBox h3{
	text-transform:uppercase;
	font-family:Helvetica, arial, sans-serif;
	font-weight:bold;
	color:#777;
	font-size:13px;
	clear:both;
}

.donorsBox h5{
	font-family:Helvetica, arial, sans-serif;
	font-size:24px;
	font-weight:normal;
	color:#000;
	padding:0;
}

.getInvolved h4{
	text-transform:none;
	font-family:Helvetica, arial, sans-serif;
	font-weight:bold;
	color:#11363e;
	font-size:17px;
	padding:0px;
}


/*end pitch page*/

/*pitch sub-pages (tabs)*/
.pitchLeftContainer, .discussionContainer, .updateContainer, .donorsContainer{
	width:68%;
	float:left;
	margin-right:30px;
}

.pitchLeftContainer ul{
	margin-left:40px;
	font-family:Georgia, times, serif;
	color:#000;
	font-size:16px;
	line-height:22px;
	padding:0 0 14px;
}

.pitchRightContainer{
	width:28.5%;
	border-left:1px solid #ccc;
	float:right;
}

	/*discussion styles*/
.discussionContainer ul{
	list-style-type:none;
}

.discussionContainer ul li{
	list-style-type:none;
	padding:0px 0px 20px 0px;
}

.discussionContainer ul li p {
	clear:both;
	margin-left:60px;
}

.discussionContainer ul li img{
	float:left;
	width:40px;
	height:40px;
	margin:-11px;
	background-color:#fff;
}

.discussionContainer .commentMetadata{
	background-color:#eee;
	padding:20px;
	border-top:1px dotted #ccc;
	margin-bottom:10px;
}

.discussionContainer .commentMetadata .date{
	float:right;
}

.discussionContainer .commentMetadata span a{
	width:500px;
	text-decoration:none;
	color:#3b686e;
	font-weight:bold;
	font-size:15px;
	margin-left:20px;
}

/*end pitch sub-pages*/

/*updates container*/

.updateContainer li{
	list-style-type:None;
	border-bottom:1px dotted #ccc;
	padding:0px 0px 10px 0px;
	margin-bottom:20px;
}

.updateContainer h2 a{
	text-decoration:none;
	color:#24454f;
}

.updateContainer .dateCircle{
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	height:40px;
	width:40px;
	color:#fff;
	background-color:#24454f;
	margin-left:-70px;
	margin-top:10px;
	float:left;
	text-align:center;
	padding:5px;
	font-weight:bold;
}

.updateContainer .dateCircle span{
	position:relative;
	top:10px;
}

/*end updates container*/

/*donors container*/

.donorsContainer ul {
	margin:0;
	padding:0;
}

.donorsContainer ul li{
	list-style-type:none;
	width:45%; 
	display:inline;
	float:left;
	border-bottom:1px dotted #ccc;
	padding:0px 20px 20px 0px;
	margin-top:10px;
}

.donorsContainer ul li img{
	float:left;
	margin:0px 10px 10px 0px;
	position:relative;
	top:10px;
}

.donorsContainer ul li h3{
	font-size:24px;
	color:#000;
	font-weight:normal;
	line-height:24px;
}

.donorsContainer ul li h4{
	font-size:18px;
	font-weight:bold;
	color:#002a30;
}

.donorsContainer ul li span{
	display:block;
}

/*end donors container*/

/*post comment*/

.postComment textarea{
	width:100%;
	height:100px˝;
}

.postComment input{
	position:relative;
	float:right;
	margin:20px 0px	;
}

.submitButton{
	background-color:#e3eeef;
	padding:10px;
	-webkit-border-radius:4px;
	-moz-borer-radius:4px;
	color:#24454f;
	font-weight:bold;
	font-family:helvetica, arial, sans-serif;
	font-size:14px;
}

.submitButton:hover;{
	background-color:#24454f;
	color:#e3eeef;
}

/*end post comment*/

/* Footer styles */

.footerContainer, .copyrightContainer {
	clear:both;
	font-size:10px;
	width:980px;
	margin:0px auto;
	padding:20px 10px;
}

.footerContainer li {
	display:inline;
	padding-right:5px;
}

.footerNotes{
	width:31%;
	float:left;
	padding:10px;
}

.footerNotes p{
	color:#fff;
	font-size:14px;
}

.footerNotes h3{
	font-size:22px;
	font-family:Helveitca, arial, sans-serif;
	text-transform:none;
	color:#fff;
	border-bottom:1px dotted #416871;
	margin-bottom:10px;
	padding-left:0px;
	padding-bottom:10px;
}

.footerNotes ul li{
	list-style-type:none;
	display:block;
	font-size:14px;
	margin-bottom:15px;
}

.footerNotes ul li a{
	color:#fff;
	line-height:16px;
	text-decoration:none;
}

.footerNotes ul li span{
	font-weight:bold;
	color:#7a9f54;
}

.copyrightContainer {
	clear:both;
}

.copyrightContainer ul li{
	list-style-type:none;
	display:inline;
	font-size:14px;
	color:#506c75;
}

.copyrightContainer ul li a{
	padding:5px;
	color:#fff;
	text-decoration:none;
}

.copyrightContainer ul li a:hover{
	color:#ccc;
}

/* end footer styles */

/* star pagination */
.pagination{
	clear:both;
	width:100%;
	margin-top:10px;
	padding-top:10px;
	margin-bottom:10px;
	padding-bottom:10px;
	line-height:15px;
	text-align:center;
	font-size:14px;
}

.pagination a {
	padding: 4px;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	text-decoration:none;
}

.pagination .disabled {
	color:#666;
}

.pagination .current{
	padding:4px;
	margin:0px 5px;
}

.pagination .current, .pagination a:hover{
	background-color:#e3eeef;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding:4px;
}

/* end pagination */

/* tag cloud */

.css1 { font-size: 8px; }
.css2 { font-size: 12px; }
.css3 { font-size: 16px; }
.css4 { font-size: 20px; }

/* end tag cloud */


.preFeaturedImage{
	font-size:11px;
	display:block;
	margin:5px 0px 10px 10px;
}

.featuredImageCaption {
	margin-top:5px;
	margin-bottom:10px;
}

.featuredImageCaption .preCaption{
	font-weight:bold;
	padding-right:10px;
	text-transform:capitalize;
}

.shareThis{
	padding-top:10px;
	margin:10px 0px 0px 10px;
}

.filterLink, .filterLinkActive{
	text-transform:uppercase;
	padding:5px 0px 0px 0px;
	margin-right:10px;
	float:right;
	font-size:10px;
}

.filterLink a{
	text-decoration:none;
	color:#333;
	cursor:hand;
}

.filterLink a:hover{
	text-decoration:underline;
}

.filterLinkActive a {
	color:#000;
	text-decoration:none;
	cursor:normal;
}

.favoriteThis, .favoritedThis{
	margin:10px;
	padding: 4px 0px 4px 0px;
	width:150px;
	font-size:16px;
	text-transform:uppercase;
}

.actionLinks{
	margin: 15px 0px 15px 0px;
	list-style-type:none;
}

.actionLinks .favoriteThis, .actionLinks .favoritedThis{
	margin:2px 2px;
	padding:0px;
	font-size:10px;
	display:inline;
}

.actionLinks img, .profileContainer .profileDescription .actionLinks img{
	width:16px;
	border:none;
}

.favoritedThis{
	margin:10px;
	border: 1px solid #ddd;
	background:#fff;
	padding: 2px 4px;
	width:197px;
	font-size:10px;
	text-transform:none;
}

.favoriteThis a{
	text-decoration:none;
}

.favoriteThis a:hover{
	text-decoration:underline;
}

.viewed {
	font-size: 16px;
	text-transform:uppercase;
	color: #666;
	padding-top:10px;
	margin:10px;
}

.largeLink{
	font-size:18px;
	text-transform:capitalize;
}

.headerActionLink{
	float:right;
	margin-right:10px;
	font-size:60%;
}

.noResults{
	padding:10px 0px 10px 10px;
}

.flashMessage{
	border:2px solid red;
	font-size:18px;
	line-height:20px;
	margin: 0px auto;
	padding:10px;
	width:920px;
}
/* end global styles*/

/* categories */

.categoryContainer{
	width:98%;
	margin: 0px 10px 10px 10px;
}

.categoryContainer ul{
	list-style:none;
}

.categoryContainer ul li{
	display:inline;
}

.categoryContainer ul li.separator{
	padding: 0px 5px 0px 5px;
}

/* end categories */

/* Leave in for hover control */
.hoverContainer{
	background:#f9f9f9;
	border: 1px solid #666;
	position:absolute;
	z-index:1000;
}
