/* -----------------------------------------------------------------------
 Spot.us Overrides and Custom CSS over Blueprint CSS Framework 0.7.1
 Provider: Hashrocket, Inc. http://www.hashrocket.com
----------------------------------------------------------------------- */

/* -----------------------------------------------------------------------
 Spot.us overrides for Blueprint 
----------------------------------------------------------------------- */

#user-header {width:960px;margin:0 auto;display:inline-block;display:block;}
table.top td.top {vertical-align:top;}
.debug { background:#ccc; }

/* layout dimension */
.container {
  width: 930px;
  padding: 0 15px;
  }
#footer {
  padding: 0 5px;
  }
#user-header {
  width:960px;
  }
#header {
  background: #fff;
  margin: 0 -15px 0 -15px;
  padding: 10px 15px;
  }
#footer, .body-content {
  width:960px;
  margin:0 auto;
  display:inline-block;
  display:block;
  padding: 0 10px;
  }
/* styling */
.reg-line-height {
  margin: 0;	
  }
.nil-line-height {
  margin: 0;
  line-height: 11px;
  }
p.nil-line-height {
   padding: 0;
   line-height: 14px;
   }
.container a {
  color: #999999;
  text-decoration: none;
  }
.alt-spotus {
  font-family: Georgia, serif, "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua";
  font-weight:normal;
  }
h4.title { 
  margin: 0px;
  font-weight: bold;
  }
.float_left {
  float: left;
  }
.float_right {
  float: right;
  }
.box_white {
  background: #fff;
  padding: 10px;
  }
.container h3, .container h2 {
  margin: 0 0 10px 0;
  padding: 0;
  }
.home-floater {
  padding:15px;
  margin: 0px;
  }
.home-image-box {
  padding:0px;
  }
.home-boxer {
  background: url(../images/spotus_home_boxer.jpg) repeat-y top left;
  }
.login-boxer {
  background: url(../images/spotus_login_boxer.gif) repeat-y top left;
  }
.login-boxer .span-6 {
  padding: 15px;
  margin-right: 15px;
  width: 200px;
  }
.float-left {
  float: left;
  }
.float-right {
  float: right;
  }
.row {
  clear: both;
  margin: 0 0 10px 0;
  }
.no_margin {
  margin: 0;
  }
.add_edit {
  margin: 0 0 0 10px; 
  }
.quieter {
  color:#999999;
  font-weight: normal;
  }
/* Adjust showgrid to use 960px instead of 950px */
.showgrid {background:url(src/grid.png) 15px -3px;}

/* verride p + p fancy type to not indent the footer-notes paragraph section */
#footer-notes .span-6 p + p, #footer-notes .span-4 p + p, .existing_tips_picthes p + p {
  text-indent: 0;
  margin-top:-1.5em;
  }

.container p + p {
  text-indent: 0;
  margin-top:1.5em;
  }
/* -----------------------------------------------------------------------
 Spot.us CUSTOM CSS 
----------------------------------------------------------------------- */
body {
  background: #E3EEEF url(../images/spotus_bg.jpg) repeat-x;
  margin-top: 0px;
  margin-bottom: 0px;
  }
.centered {
  text-align: center;
  color: #fff;
  }
.centered_text {
  margin: 0 0 0 35px;
  float: left;
  }
.text-justify {
  text-align: justify;
  }

/* Header & Main Nav Styles */
#header .logo {
  background: url(../images/spotus_header_logo.jpg) no-repeat;
  width: 222px;
  height: 31px;
  overflow: hidden;
  float: left;
  }
#header .logo-link {
  width: 222px;
  height: 31px;
  display: block;
  }
#header .nav-container {
  float: right;
  background: url(../images/spotus_nav_bg.gif) no-repeat 0 bottom;
  padding: 6px 0 0 0;
  height: 26px;
  width: 506px;
  }
#header .nav-container ul {
  margin: 0;
  padding: 0;
  }
.nav-container #main-nav li {
  float: left;
  list-style: none;
  }
.nav-container #main-nav li a { 
  text-decoration: none;
  display: block;
  text-size: 18px;
  color: #ef4179;
  font-weight: bold;
  }
#main-nav li.start_story, #main-nav li.fund_story, #main-nav li.read_story, #main-nav li.about_spotus  {
  text-align: center;
  }
#main-nav li.start_story {
  width: 118px;
  }
#main-nav li.fund_story {
  width: 153px;
  }
#main-nav li.read_story {
  width: 150px
  }
#main-nav li.about_spotus {
  margin: 0 0 0 18px;
  width: 67px
  }

/* Content Styles */
.double_footer_border {
  background: url(../images/spotus_footer_title_border.gif) repeat-x 0 bottom;
  }
.double_content_border {
  background: url(../images/spotus_content_title_border.gif) repeat-x 0 bottom;
  }
.double_footer_border, .double_content_border {
  height: 3px;
  margin: 0 0 10px 0;
  }
.register input.text, .or_login input.text {
  width: 190px!important;
  }
.gray_button {
  background: url(../images/spotus_button_plain_gray.gif) no-repeat 1px 3px;
  width: 111px;
  height: 35px;
  display: block;
  color: #ff0062;
  padding: 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border: 0;
  }
.forgot_password {
  text-transform: uppercase;
  color: #8B9C9F;
  font-size: 9px;
  text-decoration: none;
  margin-right: 3px;
  }
  
/* User Header & Footer Styles */
.pink { color: #ce859d;}
.moss-green { color: #909a9d;}
#user-header .slogan {
  padding: 5px 0 3px 0;
  text-transform: uppercase;
  letter-spacing: .15em;
  float: right;
  }
#user-header ul.user-header-nav {
  padding: 5px 0 3px 0;
  margin: 0;
  color: #ccc;
  float: left;
  }
#footer, .body-content {
  background: url(../images/spotus_shadow_bg.jpg) repeat-y;
  }
#footer div#footer-copyright, #footer div#footer-notes {
  background: #52656B;
  margin: 0 auto;
  padding: 15px;
  color: #ccc;
  width: 930px;
  text-align:left;
  }
#footer ul.footer-nav, #user-header ul.user-header-nav {
  margin: 0px;
  }
#footer #footer-copyright .footer-nav li, #user-header .user-header-nav li {
  list-style: none;
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  background: url(../images/spotus_pipe.gif) no-repeat top right;
  }
#footer #footer-copyright .footer-nav li.no-pipe, #user-header .user-header-nav li.no-pipe {
  border-right: 0px;
  margin-right: 0;
  padding-right: 0;
  background: url(../images/spotus_no_pipe.gif) no-repeat top right;
  }
#footer a, #user-header a, #user-header #current_balance {
  color: #E9EB98;
  text-decoration: none;
  }
#footer .logo-footer {
  background: url(../images/spotus_footer_logo.gif) repeat-y;
  width: 331px;
  height: 100px;
  float: right;
  margin: -18px 105px 0 0;
  }
#footer .logo-footer-link {
  width: 331px;
  height: 100px;
  display: block;
  }
#footer-notes h3 {
  color: #7d8c90;
  margin: 0 0 10px 0;
  padding: 0;
  }
#footer-notes .span-6 {
  width: 225px;
  margin-right: 30px;
  }
#footer-notes .span-4 {
  width: 165px;
  float: right;
  margin-right: 0;
  }
#footer-notes .span-6 .pledge_another_amount {
  text-transform: uppercase;
  color: #8B9C9F;
  font-size: 9px;
  }
#footer-notes .span-6  a.i_pledge, .create_a_tip_sidebar a.create_pitch {
  background: url(../images/spotus_button_pink.png) no-repeat;
  width: 170px;
  height: 31px;
  padding: 2px 0 0 0;
  display: block;
  color: #fff;
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  }
#footer-notes p img {float:left;margin:0 1em 1em 0;padding:0;}

/* Flash Error Styling */
.error, .success {
  border-color:#FFD324;
  margin-top:15px;
  padding: 10px 15px 15px 65px;
  margin-bottom:1em;
  border-right: 2px #c9c9c9 solid;
  border-bottom: 2px #c9c9c9 solid;
  border-top: 1px #ccc solid;
  border-left: 1px #ccc solid;
  height: 80px;
  }

.error p.flash_note, .success p.flash_note {
  padding: 20px 0 0 0;
  }
  
.success {
  background: #fff url(../images/flash_success_bg.jpg) no-repeat;
  color:#514721;
  }
.success h2 {
  color: #3a9300;
  }
  
.error {
  background: #fff url(../images/flash_error_bg.jpg) no-repeat;
  color: #a70000;
  }
.error h2 {
  color: #a70000;
  }
.error h2, .error p, .error li, .success h2, .success p, .success li {
  margin: 0;
  padding: 0;
  }
.error li, .success li {
  list-style: square;
  }
.error a, .success a {
  text-decoration: none;
  color: #999999;
  }
  
.fieldWithErrors {
  display: inline;
  }
.fieldWithErrors input {
  border: 1px #a70000 solid;
  }
.fieldWithErrors input, .fieldWithErrors label {
  color: #a70000;
  font-weight: bold;
  }
.dismiss {
  float: right;
  }
.dismiss a {
  text-decoration: none;
  height: 22px;
  width: 22px;
  background: url(../images/close_square.png) no-repeat;
  display: block;
  }
  
/* Create A Tip */  
.create_a_tip, .create_a_pitch {
  float: left;
  width: 225px;
  background: #ffffe1 url(../images/yellow_bg.jpg) repeat-x left top;
  padding: 10px 0 10px 10px;
  }
  
ol.create_a_tip_iconized, ol.create_a_pitch_iconized {
  float: left;
  margin: 0 20px 0 5px;
  padding: 0;
  width: 50px;
  }
ol.create_a_tip_iconized li, ol.create_a_pitch_iconized {
  margin: 0;
  list-style:none;
  }
ol.create_a_tip_iconized li.tipster, ol.create_a_pitch_iconized li.tipster {
  background: url(../images/tipster.png) no-repeat left top;
  color: #666666;
  padding: 0;
  margin: 0 ;
  height: 31px;
  }
ol.create_a_tip_iconized li.pledgester, ol.create_a_pitch_iconized li.pledgester {
  background: url(../images/pledgester.png) no-repeat left top;
  padding: 0;
  margin: 30px 0 0 0;
  height: 33px;
  }
ol.create_a_tip_iconized li.pitcher, ol.create_a_pitch_iconized li.pitcher {
  background: url(../images/pitcher.png) no-repeat left top;
  height: 33px;
  padding: 0;
  margin: 30px 0 0 0;
  }
ol.create_a_pitch_iconized li.journalist {
  background: url(../images/journalist.png) no-repeat left top;
  height: 33px;
  padding: 0;
  margin: 20px 0 0 0;
  }
ol.create_a_pitch_steps li.journalist {
  color: #999999;
  margin: 30px 0 0 0;
  }
ol.create_a_tip_steps  li.tipster, ol.create_a_pitch_steps  li.tipster  {
  color: #666666;
  margin: 15px 0 0 0;
  }
ol.create_a_tip_steps li.pledgester {
  color: #999999;
  margin: 30px 0 0 0;
  }
ol.create_a_pitch_steps li.pledgester {
  color: #999999;
  margin: 45px 0 0 0;
  }
ol.create_a_tip_steps li.pitcher, ol.create_a_pitch_steps li.pitcher {
  color: #999999;
  margin: 30px 0 0 0;
  }
.take_action {
  float: right;
  width: 445px;
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 10px;
  font-family: Georgia, serif, "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua";
  line-height: 17px;
  }
.take_action ul {
  margin: 0 0 0 10px;
  padding: 0;
  }
.take_action li {
  list-style: square;
  }
.create_a_tip_form .row  textarea {
  width: 240px!important;
  }
.create_a_tip_form .free  textarea {
  width: 450px!important;
  }
.create_a_tip_form .row label, .create_a_pitch_form .row label {
  float: left;
  width: 200px!important;
  margin: 0 10px 0 0;
  }
.create_a_tip_form .row textarea {
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
  }
.create_a_tip_form .form_hint {
  margin: 0 0 0 210px;
  color: #999999;
  }
.create_a_pitch_form .form_hint {
  margin: 0 0 0 210px;
  }
.create_a_tip_form .media label {
  margin: 0 0 0 10px;
  width: 190px!important;
  }
.create_a_tip_form .free label {
  float: left;
  width: 420px; 
  }
.create_a_pitch_form .delivered label {
  float:left;
  width: auto!important;
  }
.create_a_pitch_form .delivered input {
   float:left;
   width: auto!important;
   margin: 0 10px 0 0;
   }
/* -----------------------------------------------------------------------------
 General Column specs part 1 - this the white background color plus the padding
--------------------------------------------------------------------------------  */
.box_white {
  padding: 10px;
  background: #fff;
  }
.box_yellow {
  padding: 10px;
  background: #FEFFD9;
  margin: 0 0 10px 0;
  }
.box_blue_info {
  padding: 5px 0 0 50px;
  border-bottom: 1px solid #c0c0c0;
  margin: 0 0 10px 0;
  background: url(../images/blue_info.png) no-repeat 10px 5px;
  }
.existing_tips_picthes {
  border-bottom: 1px solid #c0c0c0;
  }
/* ---------------------------------------------------------------------------------
 General Column specs part 2 - this achieves the float left and size for the columns
------------------------------------------------------------------------------------ */
.span-70, .span-205, .span-220, .span-235, .span-280, .span-340, .span-390, .span-455, .span-460, .span-575, .span-605, .span-715 {float:left;}
.span-70  {width: 70px;}
.span-205 {width: 205px;}
.span-220 {width: 220px;}
.span-235 {width: 235px;}
.span-280 {width: 280px;}
.span-340 {width: 340px;}
.span-390 {width: 390px;}
.span-455 {width: 455px;}
.span-460 {width: 460px;}
.span-575 {width: 575px;}
.span-605 {width: 605px;}
.span-715 {width: 715px;}
/* ---------------------------------------------------------------------------------
 General Column specs part 3 - this achieves the float right and size for the columns
------------------------------------------------------------------------------------ */
.span-145, .span-160, .span-225, .span-270, .span-530 {float: right;}
.span-145 {width:145px;}
.span-160 {width:160px;}
.span-225 {width:225px;}
.span-270 {width:270px;}
.span-530 {width:530px;}
/* ---------------------------------------------------------------------------------
 General Column specs part 4 - this achieves the gray areas for the columns 
 - needed because of support for ie6 and 7 with the spotus_ie_pixel.gif
------------------------------------------------------------------------------------ */
.block-padding {
  height: 15px;
  }
.column_v {
  margin: 0 15px;
  }
.block-spacer {
  height: 15px;
  background: #f5f5f5;
  }
.block-spacer-transparent {
  height: 15px;
  }
.block-spacer-negative {
  height: 15px;
  background: #f5f5f5;
  margin: 10px -10px;
  }
.yellow-spacer-negative {
  height: 2px;
  background: url(../images/spotus_form_border.gif) repeat-x left top;
  clear: both;
  margin: 0px -10px 10px -10px;
  }
.yellow-spacer-negative-blank {
  height: 2px;
  clear: both;
  margin: 0px -10px 10px -10px;
  }
.ui-tabs-hide { display: none; }

/* Progress Bar Styling */  
div.progressBar {
  margin: 5px;
  }
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
  }
div.progressBar div.background {
  background-color: red;
  height: 18px;
  width: 0%;
  }
div.progressBar img {
  margin: 5px;
  }

/* Tab Styling */
#tab_container {
  border-bottom: 1px solid #d5d5d5;
  width: 625px;
  margin: 20px 0 0 0;
  }
ul.navigation {
  list-style: none;
  margin: 0 0 0 1px;
  padding: 0;
  padding-bottom: 4px;
  }
ul.navigation li {
  display: inline;
  margin-right: 5px;
  }
ul.navigation a {
  padding: 6px 25px;
  color: #3C5359;
  text-decoration: none;
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  background: url(../images/tab_bg.png) repeat-x left bottom;
  font-weight: bold;
  margin: 0 0 -1px 0;
  }
ul.navigation a:hover {
  background: #fff url(../images/white.png) repeat-x left bottom;
  }
ul.navigation a.selected, 
.myspot_profiles a#profile_tab, 
.myspot_settings a#settings_tab, 
.myspot_donations a#dashboard_tab, 
.myspot_tips a#dashboard_tab, 
.myspot_pledges a#dashboard_tab,
.myspot_pitches a#dashboard_tab {
  padding: 9px 15px 5px 15px;
  background-color: #fff;
  background: #fff url(../images/white.png) repeat-x left bottom;
  border-bottom: 1px solid #fff;
  color: #000;
  }
ul.navigation a:focus {
  outline: none;
  }
div.featured_image {
  width: 220px;
  float: left;
}

div.featured_image .caption {
  padding: 5px;
  color: gray;
  }
div.creator div.person_avatar {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  }
div.supporters div.person_avatar {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  }
ul.unpaid_donations {
  list-style: none;
  margin: 0;
  padding: 0;
  }
table td img {
  float: left;
  padding: 5px;
  }

table.donations td, 
table.pitches td, 
table.pledges td, 
table.tips td {
  vertical-align: top;
  }

table.donations th, 
table.pitches th, 
table.pledges th, 
table.tips th {
  background: none;
  }

table.pledges tr.pledge td.pledge .number {
	font-size: 200%;
	padding-top: 0px;
  }

table.pledges tr.pledge td.pledge {
	text-align: right;
  }

#dashboard_tab_container {
  width: 625px;
  margin: 20px 0 0 0;
  padding-bottom: 5px;
  }
ul.dashboard_navigation {
  list-style: none;
  margin: 0 0 0 1px;
  padding: 0;
  padding-bottom: 4px;
  }
ul.dashboard_navigation li {
  display: inline;
  margin-right: 5px;
  }
ul.dashboard_navigation a {
  padding: 6px 25px;
  color: #3C5359;
  text-decoration: none;
  /* background: url(../images/tab_bg.png) repeat-x left bottom; */
  font-weight: bold;
  margin: 0 0 -1px 0;
  }
ul.dashboard_navigation a:hover {
  /* background: #fff url(../images/white.png) repeat-x left bottom; */
  background: #909a9d;
  color: black;
  }
ul.dashboard_navigation a.selected, 
.myspot_donations a#dashboard_donations_tab, 
.myspot_tips a#dashboard_tips_tab, 
.myspot_pledges a#dashboard_pledges_tab,
.myspot_pitches a#dashboard_pitches_tab {
  background-color: #3C5359;
  color: white;
  }
ul.dashboard_navigation a:focus {
  outline: none;
  }
.myspot_profile #profile_tab_container {
  width: 625px;
  margin: 20px 0 0 0;
  padding-bottom: 5px;
  }
ul.profile_navigation {
  list-style: none;
  margin: 0 0 0 1px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 12px;
  }
ul.profile_navigation li {
  display: inline;
  margin-right: 5px;
  }
ul.profile_navigation a {
  padding: 6px 25px;
  color: #3C5359;
  text-decoration: none;
  /* background: url(../images/tab_bg.png) repeat-x left bottom; */
  font-weight: bold;
  margin: 0 0 -1px 0;
  }
ul.profile_navigation a:hover {
  /* background: #fff url(../images/white.png) repeat-x left bottom; */
  background: #909a9d;
  color: black;
  }
ul.profile_navigation a.selected, 
.myspot_profile a#profile_basic_tab, .myspot_profile a#profile_work_history_tab, 
.myspot_profile a#profile_work_samples_tab,{
  background-color: #3C5359;
  color: white;
  }
ul.profile_navigation a:focus {
  outline: none;
  }
textarea#headline {
  width: 100%;
  }
  
#reporters_toolbar_box {
  margin: 15px 0 0 0;
  position: relative;
  }

#reporters_toolbar_box .person_avatar {
  float: left;
  }

#reporters_toolbar {
  background: #fff;
  margin:0;
  padding:10px 10px 0px 10px;
  position:absolute;
  left:50px;
  height: 25px;
  bottom: 0;
  width: 860px;
  }  
  
#reporters_toolbar ul {  
  display:block;
  margin: 0;
  padding: 0;
  }

#reporters_toolbar ul.children {  
  margin:0;  
  padding:0;  
  border-top:1px solid #FCD290;  
  z-index:100;  
  visibility:hidden;
  background: #fff;  
  }  

#reporters_toolbar li {  
  display:inline;  
  float:left;  
  height:auto;
  margin: 0 0 0 10px;
  }  

#reporters_toolbar li li {  
  display:block;  
  float:none;  
  }  

#reporters_toolbar a {  
  text-decoration:none;  
  display:block;  
  font-weight:bold;  
  line-height:20px;  
  text-align:center;  
  width:115px;  
  }  

#reporters_toolbar a:hover, #reporters_toolbar  a.selected {  
  color:#FFFFFF;  
  text-decoration:none;  
  }  

#reporters_toolbar ul a {  
  background:#FFF0CE none repeat scroll 0%;  
  border-bottom:1px solid #FCD290;  
  border-left:1px solid #FCD290;  
  border-right:1px solid #FCD290;  
  color:#666666;  
  line-height:20px;  
  width:115px;  
  }  

#reporters_toolbar ul ul a {  
  background:#FFF9EA none repeat scroll 0%;  
  }  

#reporters_toolbar ul a:hover, #reporters_toolbar  ul a.selected {  
  }  

#reporters_toolbar li:hover ul, #reporters_toolbarli.sf ul {  
  visibility:visible;  
  }  

#reporters_toolbar li:hover ul ul, #reporters_toolbar li.sf ul ul {  
  visibility:hidden;  
  }  
  
#reporters_toolbar li:hover ul, #reporters_toolbar li li:hover ul, #reporters_toolbar li.sf ul, #reporters_toolbar li li.sf ul {  
  visibility:visible;  
  }