div.spotus_widget{background:#fff;font-size:12px;width:100%;height:100%;font-family:Arial, Helvetica;border: 0px solid #E3EEEF;position:relative;}
div.spotus_widget a img{border:0;}
div.spotus_widget .spotus_pitch {}
div.spotus_widget h3.spotus_pitch_title {margin:0;font-size:14px;line-height:15px;max-height:45px;overflow:hidden;}
div.spotus_widget h3.spotus_pitch_title a {color:#11363E;text-decoration:none;}
div.spotus_widget h3.spotus_pitch_title a:hover {color:#748F98;}
div.spotus_widget h4.spotus_help_fund {margin:0; padding:0 0 5px 5px;font-style:italic;background:#E3EEEF;}
div.spotus_widget h4.spotus_help_fund a {color:#11363E;text-decoration:none;}
div.spotus_widget h4.spotus_help_fund a:hover {color:#748F98;}
div.spotus_widget .spotus_pitch_image {width:119px;float:left;margin:0 10px 0px 0;}
div.spotus_widget .spotus_pitch_info {margin-bottom:10px;min-height:90px;}
div.spotus_widget .spotus_funding {font-size:10px;color:#777;font-style:italic;margin-bottom:2px;}
div.spotus_widget .spotus_widget_header {color:white;padding:5px;background:#E3EEEF;font-size:14px;position:relative;}
div.spotus_widget .spotus_widget_header .spotus_about_us {position:absolute;right:10px;top:10px;text-decoration:none;color:#11363E;font-size:11px;}
div.spotus_widget .spotus_dateline {font-size:10px;color:#777;}
div.spotus_widget .spotus_author {font-size:11px;color:#555;margin-bottom:5px;}
div.spotus_widget .spotus_contribute {position:absolute;right:13px;top:3px;}
/*div.spotus_widget a.spotus_link_button {color:#E3EEEF;font-style:italic;text-decoration:none;font-weight:bold;padding:4px;-moz-border-radius:4px;
					background:#11363E;}*/
div.spotus_widget .spotus_description {font-size:11px;color:#444;font-style:italic;margin-top:3px;max-height:43px;overflow:hidden;}
div.spotus_widget .spotus_progress {position:relative;color:#333333;font-size:11px;}
div.spotus_widget .spotus_footer {position:absolute;bottom:0;background:#11363E;padding: 5px 0px 5px 0px;width:100%;color:#fff;text-align:center;}
div.spotus_widget .spotus_footer_simple {background:#11363E;padding: 5px 0px 5px 5px;margin:-10px 0px 3px 0px;width:100%;color:#fff;text-align:center;}
div.spotus_widget .spotus_slogan {text-transform: uppercase;letter-spacing:.10em;font-size:11px;}
div.spotus_widget .spotus_slogan .spotus_pink { color: #ce859d;}
div.spotus_widget .spotus_slogan .spotus_moss_green { color: #ce859d;}
div.spotus_widget .spotus_spacer {padding:10px;}