-div_for job do 
  - if !job.url.blank?
    .work_row
      %span.ss_sprite.ss_newspaper
      %span.title=link_to job.title, job.url
  - else
    .work_row
      %span.ss_sprite.ss_newspaper
      %span.title=job.title
  .description= job.description
  .float-right
    = link_to_remote content_tag(:span, "Delete", :class => "ss_sprite ss_delete"), :url => [:myspot, :profile, job], :method => :delete
  %hr
  .clear

