- form_for([:admin, @network]) do |f|
  = render :partial => 'form', :locals => {:f => f, :network => @network}

  = f.render_associated_form(@network.categories, :new => 1)
  /= f.add_associated_link "New category", @network.categories.build
  /%br/

  = f.submit

%p
  = link_to 'All networks', admin_networks_path
