<div class="headerTitle">
	<h1>Register for Spot.us</h1>
	<p>Welcome! We're glad to have you on board.</p>
</div>
<div class="joinContainer">
	<a href="/session/new" title='Register' rel="nofollow">Log in &rsaquo;</a>
</div>