<div id="register_form" class="hide">
   <div class="float-right"><strong><a id="show_login_form" href="" class="popup_link">&laquo; LOGIN TO SPOT.US</a></strong></div>
   <%= render :partial => "/users/form_contents"%>
</div>