- @title = "Spot.us - Signup Success"

.block-padding

.login-boxer

  - # Register box 
  = render :partial => 'users/form'
        
  - # Login box 
  = render :partial => 'sessions/form'    
    
  .clear
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-padding
