- @title = "Spot.us - Reset Password"

.block-padding
.login-boxer
  .span-6.or_login
    %h3 Reset Password
    .double_content_border
    - form_tag reset_password_user_path, :method => :put do
      .row
        %label Your E-mail Address
        %div
          = text_field_tag "email", params[:email], :class=>"text"
      .clear
      .double_content_border
      .float_right
        %input{:type => "image", :src=>"/images/submit.png"}
  .clear
.block-padding

