<form action="<%=root_url%>search" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="<%= APP_CONFIG[:google][:custom_search_key] %>" />
    <input type="hidden" name="cof" value="FORID:9" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="24" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script>