.shared_progress_bar.progress_bar
  .quieter.small-spotus 
    Hey Reporters:
    %br/
    build this pitch!
  %p.small-spotus
    There's already
    %strong= number_to_currency(tip.total_amount_pledged)
    %br/
    worth of interest!