<a id="fb_share" name="fb_share"></a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

<% javascript_tag do  %>
 	tweetmeme_source = 'spotus';
 	tweetmeme_style = 'compact';
<% end %>
<%= javascript_include_tag "http://tweetmeme.com/i/scripts/button.js" %>

