<div class="socialSharing">
	<ul>
		<li class="tweetButton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="spotus">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
		<li><iframe src="http://www.facebook.com/plugins/like.php?href=<%=content_url%>&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe></li>
	</ul>
	<%if defined?(widget_url) || defined?(comments_url)%>
		<ul>
			<%if defined?(widget_url)%>
				<li><a href="<%=widget_url%>" rel="facebox">Widget</a></li>
			<%end%>
			<%if defined?(comments_url)%>
				<li><a href="<%=comments_url%>">Comments (<%=comments_count%>)</a></li>
			<%end%>
		</ul>
	<%end%>
</div>