<div class="statsContainer">
	<h2><span><a href="http://spot.us/contributors"><%=number_with_delimiter(User.get_contributor_count(is_admin?))%>+ Contributors</a></h2>
	<h2><a href="http://spot.us/pages/examples">105+ Publishing Partners</a></h2>
</div>