#suggest_city.hide
  - form_for CitySuggestion.new, :html => {:class => "padding_40 form"} do |f|
    %h2 Suggest a City, State
    .row
      %label suggest a city
      = f.text_field :city
    .row
      %label enter your email address
      = f.text_field :email
    .row
      %label Are you human?
      = recaptcha_tags :ajax=>true
    %label &nbsp;
    = image_submit_tag "submit.png", :alt => "Submit suggestion", :title => "Submit suggestion"
    