<div id="section_popup">
	<%if @section%>
		<h2 class="section"><%=@section.title%></h2>
		<%unless @section.embed_code.blank?%>
			<p><%= transform_embed_code(@section.embed_code, 570, 450) %></p>
		<%end%>
		<p><em><%=@section.short_description%></em></p>
		<p><%=@section.extended_description%></p>
	<%else%>
		<h2>Ooops...</h2>
		<p>We haven't gotten to that section yet. Check back in a bit and we are sure it will be there for you.</p>
	<%end%>
</div>