<% @title = "Spot.us - Member Dashboard" %>

<div id="myspot_dashboard">
	<%= render :partial => "myspot/nav", :locals => {:selected_tab => "dashboard"} %>
	<div id="profile_container">
		<%= render :partial => "myspot/dashboard_nav", :locals => {:selected_tab => "ccas"} %>
		<div id="dashboard_content">
		<% if @ccas.any? %>
			<table class="donations">
				<tr>
					<td colspan="4" class="header">
						Community Centered Advertisements
					</td>
				</tr>
				<tr>
					<th class="pitch_header">Title</th>
					<th class="donation_header">Number of answers</th>
					<th class="status_header">Status</th>
					<th class="actions_header">Actions</th>
				</tr>
				<%= render :partial => "myspot/ccas/cca", :collection => @ccas, :spacer_template => "myspot/ccas/cca_spacer" %>
			</table>
		<% end %>
		<%= will_paginate @ccas %>
		</div>
	</div>
</div>