<% @title = "Spot.us - Member Dashboard" %>

<div id="myspot_dashboard">
   <%= render :partial => "myspot/nav", :locals => {:selected_tab => "dashboard"} %>
   <div id="profile_container">
      <%= render :partial => "myspot/dashboard_nav", :locals => {:selected_tab => "tips"} %>
      <div id="dashboard_content">
        <table class="tips">
          <tr>
            <th class="tip_header">Tip</th>
            <th class="created_header">Created</th>
            <th class="pledges_header">Pledges</th>
            <th class="actions_header">Actions</th>
          </tr>
          <tr>
            <td colspan="4">
               <%= render :partial => "myspot/tips/tip", :collection => @tips, :spacer_template => "myspot/tips/tip_spacer" %>
            </td>
          </tr>
   		<tr>
   			<td colspan='4'><%=will_paginate @tips%></td>
   		</tr>
        </table>
     </div>
  </div>
</div>

