%tr
  %td.tip
    %p
      = link_to assignment.title, pitch_assignment_path(assignment.pitch, assignment)
      = assignment.body
    Assignment associated with:
    = link_to h(assignment.pitch.headline), pitch_url(assignment.pitch)
  %td.created= assignment.created_at.to_s(:date)
