<% @title = "Spot.us - Member Dashboard" %>

<div id="myspot_dashboard">
  <%= render :partial => "myspot/nav", :locals => {:selected_tab => "dashboard"} %>
  <div id="profile_container">
    <%= render :partial => "myspot/dashboard_nav", :locals => {:selected_tab => "assignments"} %>
    <div id="dashboard_content">
      <table>
        <tr>
          <th class="tip_header">Assignment</th>
          <th class="created_header">Created</th>
        </tr>
        <tr>
          <td colspan="4">
          <%= render :partial => "myspot/assignments/assignment", :collection => @assignments, :spacer_template => "myspot/assignments/assignment_spacer" %>
          </td>
        </tr>		
        <tr>
          <td colspan='4'><%=will_paginate @assignments%></td>
        </tr>
      </table>
    </div>
  </div>
</div>
