.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 LICENSE AGREEMENT
  .double_content_border  
  
  %h2 Your privacy is important to us.
  
  %p
    PLEASE READ THIS LICENSE AGREEMENT ("AGREEMENT") CAREFULLY BEFORE AGREEING TO ITS TERMS. BY
    PUBLISHING, DISTRIBUTING OR USING THE LITERARY WORK (DEFINED BELOW), YOU, AS THE LICENSEE, ARE
    AGREEING TO BE BOUND BY THE TERMS OF THIS AGREEMENT. IF YOU DO NOT AGREE TO THE TERMS OF THIS
    AGREEMENT, YOU ARE NOT AUTHORIZED TO PUBLISH OR USE THE LITERARY WORK.
  
  %p
    1. 
    %strong Scope.
    This Agreement governs your use of the literary work entitled
    _________________________________________________ written by ___________________________,
    including any printed or electronic versions thereof, (collectively, the "Literary Work") that
    Spot.Us provides to you in conjunction with this Agreement.
  %p
    %u License, Not Sale, of Literary Work. The Literary Work is licensed, not sold, to you by
    Spot.Us, with its place of business at 2489 Ramona Street, Palo Alto, CA 94301

  %p
    2. ___("Company"). YOU MAY OWN THE MEDIA ON WHICH THE LITERARY WORK IS DISTRIBUTED, BUT COMPANY
    AND/OR ITS LICENSOR(S) RETAIN TITLE TO THE LITERARY WORK AND ALL INTELLECTUAL PROPERTY RIGHTS
    THEREIN.

  %p
    3. 
    %strong Grant of Rights; Consideration. 
    Subject to your payment of the License Fee (defined
    below) and the terms and conditions of this Agreement, Company hereby grants you a worldwide,
    exclusive license to reproduce, distribute, prepare derivative works of, perform and publicly
    display the Literary Work for a period of _______ weeks following the Effective Date of this
    Agreement (the "License Term"). You agree to provide the Company with good and valuable
    consideration in the sum of ______________ U.S. dollars (the "License Fee") for use of the
    Literary Work as permitted herein. It will be understood that after the period of time during
    which "Company" has first publishing rights, the original Licensor will release the work under a
    Creative Commons with attribution license.

  %p
    4. 
    %strong Proprietary Rights; Restrictions on Use. 
    You acknowledge and agree that the Literary
    Work is protected by copyright and other intellectual property right laws and international
    treaties. Except as permitted by applicable law and this Agreement, you may not sublicense,
    rent, lease, loan, assign, encumber or transfer the Literary Work. Your rights under this
    Agreement will terminate automatically without notice from Company upon (a) expiration of the
    License Term or (b) earlier if you fail to comply with any term(s) of this Agreement. For
    avoidance of doubt, upon the earlier of the expiration of the License Term or termination of
    this Agreement, Company and its licensors shall be free to exploit the Literary Work for any
    purposes and without restriction of any kind.
  
  %p
    5. 
    %strong Disclaimer of Warranties. 
    YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE LITERARY WORK
    IS AT YOUR SOLE RISK. THE LITERARY WORK IS PROVIDED "AS IS" AND WITHOUT WARRANTY OF ANY KIND AND
    COMPANY AND ITS LICENSOR(S) EXPRESSLY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED. FURTHERMORE,
    COMPANY AND ITS LICENSORS DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE CORRECTNESS,
    ACCURACY, AND RELIABILITY, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE OF THE LITERARY
    WORK. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE
    EXCLUSION MAY NOT APPLY TO YOU.

  %p
    6.
    %strong Limitation of Liability. UNDER NO CIRCUMSTANCES SHALL COMPANY OR ITS LICENSORS BE
    LIABLE FOR ANY INCIDENTAL, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING
    TO THIS AGREEMENT. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF INCIDENTAL OR CONSEQUENTIAL
    DAMAGES SO THIS LIMITATION MAY NOT APPLY TO YOU. In no event shall Company's total liability to
    you for all damages exceed the License Fee paid to Company hereunder.

  %p
    7.
    %strong Miscellaneous. 
    This Agreement will be governed by and construed in accordance with the laws
    of the State of California, U.S.A., without reference to its conflict of law principles. If a
    court of competent jurisdiction finds any provision of this Agreement invalid or unenforceable,
    that provision will be amended to achieve as nearly as possible the same economic effect as the
    original provision and the remainder of this Agreement will remain in full force. Failure of a
    party to enforce any provision of this Agreement shall not constitute and shall not be construed
    as a waiver of such provision or of the right to enforce such provision. This Agreement sets
    forth the entire agreement between the parties with respect to your use of the Literary Work and
    supersedes all prior or contemporaneous representations or understandings regarding such subject
    matter. No modification of or amendment to this Agreement will be binding unless in writing and
    signed by an authorized representative of Company. The parties hereby execute this Agreement as
    of the following date: _______________________________ (the "Effective Date").

  %p
    Executed by Company: ______________________

  %p
    Authorized Signature: ________________________

  %p
    Name: _______________________________
  %p
    Title: _______________________________

  %p
    Address: ______________________________

  %p
    Executed by Licensee: ______________________
  %p
    Authorized Signature: ________________________
  %p
    Name: _______________________________
  %p
    Title: Director Spot.Us
  %p
    Address: 2489 Ramona Street, Palo Alto, CA 94301 


.block-spacer   