%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Quick Donate
  .double_content_border
  %p
    Do you want to support journalism but don't have the time to go through all the Spot.Us pitches to find the right one?
  %p
    Now you can donate to beats and Spot.Us promises that any money donated to these beats will be used ONLY for reporting within those subjects.
  %p
    %ul
      %li
        Donate to
        == #{link_to "Environment Reporting", "http://spot.us/pitches/183"},        
      %li
        Donate to 
        == #{link_to "Education Reporting", "http://spot.us/pitches/182"}, 
      %li
        Donate to local   
        == #{link_to "Political Reporting", "http://spot.us/pitches/184"}, 
  %p
    Didn't see the topic you want to support? Let us know:
    = mail_to "info@spot.us", nil, :encode => "hex"

.block-spacer
.block-spacer
.block-spacer