%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 What is Spot.Us About?
  .double_content_border
  %p
    Digital Millennium Copyright Act Policy 
  %p
    Notice And Takedown Procedure As part of our compliance with the Digital Millennium Copyright
    Act (DMCA), we must respond to clear notices of copyright infringement provided by other
    parties. This page describes the information that should be present in these notices. It is
    designed to make submitting notices of alleged infringement to Spot.Us as straightforward as
    possible while reducing the number of notices that we receive that are fraudulent or difficult
    to understand or verify. The form of notice specified below is consistent with the form
    suggested by the DMCA (the text of which can be found at the U.S. Copyright Office Web Site,
    http://www.copyright.gov), but we will respond to notices of this form from other jurisdictions
    as well.
  %p
    We expect that all users of any part of the Spot.Us site will comply with applicable copyright
    laws. However, if Spot.Us receives proper notiﬁcation of claimed copyright infringement, we
    reserve the right to remove or disable access to material claimed to be infringing and/or to
    terminate subscribers (although the latter will usually be only for repeat infringers),
    regardless of whether we may be liable for such infringement under United States law or the laws
    of another jurisdiction.
  %p
    If we remove or disable access in response to such a notice, we will make a good-faith attempt
    to contact the author of the content so that they may make a counter-notiﬁcation pursuant to
    Sections 512(g)(2) and (3) of the DMCA. We may also document notices of alleged infringement on
    which we act.

  %p
    Designated Agent Spot.Us' Designated Agent to receive notiﬁcation of alleged infringement under
    the DMCA is:

  %p
  %ul
    %li
      <Name>
    %li
      <Email Address>
    %li  
      <Physical Mail Address>

  %p
    Upon receipt of proper notiﬁcation of claimed infringement, Spot.Us will follow the procedures
    outlined here and in the DMCA.

  %p
    Infringement Notiﬁcation If you believe that your work has been copied in a way that constitutes
    copyright infringement, or your intellectual property rights have been otherwise violated,
    please provide Spot.Us’ Designated Agent (listed above) the following information in writing
    (preferably via email):

  %ul
    %li
      1. Identification of the copyrighted work claimed to have been infringed, or, if multiple
      copyrighted works at a single online site are covered by a single notiﬁcation, a
      representative list of such works at that site;
    %li
      2. Identification of the material that is claimed to be infringing or to be the subject of
      infringing activity and that is to be removed or access to which is to be disabled, and
      information reasonably sufficient to permit Spot.Us to locate the material;
    %li
      3. Information reasonably sufficient to permit Spot.Us to contact the complaining party, such
      as an address, telephone number, and, if available, an email address;
    %li
      4. The following statement: "I have a good faith belief that use of the material in the manner
      complained of is not authorized by the copyright owner, its agent, or the law";
    %li
      5. The following statement: "I swear, under penalty of perjury, that the information in the
      notiﬁcation is accurate, and that I am the copyright owner or am authorized to act on behalf
      of the owner of an exclusive right that is allegedly infringed"; and
    %li
      6. A physical or electronic signature of the owner or a person authorized to act on behalf of
      the owner of an exclusive right that is allegedly infringed.
  %p
    Please note that you may be liable for damages (including costs and attorneys' fees) if you
    materially misrepresent that material is infringing your copyrights. Accordingly, if you are not
    sure whether material available online infringes your copyright, we suggest that you first
    contact an attorney.
  %p
    Counter-notiﬁcation 
  %p
    If you are the author of content that is subject to a claim of infringement, you may make a
    counter-notiﬁcation pursuant to sections 512(g)(2) and (3) of the DMCA. To file a
    counter-notiﬁcation with us, please provide Spot.Us’ Registered Agent (listed above) with the
    following information in writing (preferably via email):

  %ul
    %li
      1. Identification of the material that has been removed or to which access has been disabled
      and the location at which the material appeared before it was removed or access to it was
      disabled;
    %li
      2. Your name, address, and telephone number;
    %li
      3. The following statement: "I consent to the jurisdiction of Federal District Court for the
      [insert the federal judicial district in which your address is located]";
    %li
      4. The following statement: "I will accept service of process from [insert the name of the
      person who submitted the infringement notiﬁcation] or his/her agent";
    %li
      5. The following statement: "I swear, under penalty of perjury, that I have a good faith
      belief that the affected material was removed or disabled as a result of a mistake or
      misidentification of the material to be removed or disabled"; and
    %li
      6. Your signature, in physical or electronic form.
  %p
    After we receive this counter-notiﬁcation, Spot.Us will promptly provide the person who
    submitted the original infringement notiﬁcation with a copy of the counter-notiﬁcation, and will
    inform that person that Spot.Us will replace the removed material or restore access to it in 10
    business days. Spot.Us will replace the removed material and restore access to it not less than
    10, nor more than 14, business days following receipt of the counter-notice, unless our
    Designated Agent first receives notice from the person who submitted the original infringement
    notiﬁcation that such person has filed an action seeking a court order to restrain the
    subscriber from engaging in infringing activity relating to the material on our website.
  %p
    Repeat Infringers In accordance with Section 512(i)(1)(a) of the DMCA, Spot.Us will, in
    appropriate circumstances, disable and/or terminate the accounts of users who are repeat
    infringers.
  %p
    Accommodation Of Standard Technical Measures It is Spot.Us’ policy to accommodate and not
    interfere with standard technical measures used by copyright owners to identify or protect
    copyrighted works that Spot.Us determines are reasonable under the circumstances.


.block-spacer
