<div class="headerTitle">
	<h1 rel="nofollow">Learn more about Spot.us</h1>
	<p>Pioneering community-funded reporting across the globe</p>
</div>
<div class="joinContainer">
	<a href="/user/new" title='Register' rel="nofollow">Join &rsaquo;</a>
</div>