<div class="headerTitle">
	<h1 rel="nofollow"><%=params[:id].to_s%></h1>
	<p>Pioneering community-funded reporting</p>
</div>
<div class="joinContainer">
	<a href="/user/new" title='Register' rel="nofollow">Join &rsaquo;</a>
</div>