<% content_for :head do %>
   <script>
      jQuery(document).ready(function($){
         $("#spotus_page_right_column").height($("#spotus_page").height() + 40);
      });
   </script>
<% end %>
<div id="spotus_page_right_column">
   <!-- RIGHT BLOCK -->
</div>