%h2 What is Spot.Us About?

%p
  Spot.Us is a nonprofit project of the Center for Media Change, to pioneer
  &ldquo;community funded reporting.&rdquo; Through Spot.Us the public can commission
  journalists to do investigations into important and perhaps overlooked
  stories. It&rsquo;s a marketplace where independent reporters, community members
  and news organizations can come together and collaborate. Read More:link.

%h2 Who

%p
  Spot.Us was founded by David Cohn and made possible by a generous grant from
  the Knight Foundation. It has also drawn on support from individual funders
  like yourself, a fantastic team of advisors, designers and developers
  (Hashrocket). We are proudly hosted by Engine Yard.

%p
  David Cohn has worked with journalism luminaries such as Jay Rosen and Jeff
  Jarvis. He has been working in the citizen journalism movement since 2005 on
  projects like NewAssignment.Net, Assignment Zero, Beat Blogging, and Off The
  Bus. He also co-organized the first and second Networked Journalism Summit.
  Spot Us is informed by the growing citizen journalism movement. An attempt to
  ensure that journalism is a process, not a product and trying to make that
  process participatory.

%p
  We have a board of advisors that includes: Dan Gillmor, Jay Rosen, Jeff Jarvis,
  Susan Mernit, Fabrice Florin, Brant Houston, Leonard Witt and Jeremy Toeman

