<div class="contentContainer">
  <a name="top"> </a>
  <h2>What is Spot.Us About?</h2>
  
  <p>
    Spot.Us is a nonprofit project of the <a href="http://www.CenterforMediaChange.com/">"Center for
    Media Change"</a> and funded by various groups like the 
    <a href="http://www.knightfoundation.org">Knight Foundation</a>. We partner with various
    organizations including the Annenberg School of Communications in Los Angeles.</p>
  </p>
  <p>
    We are an open source project to pioneer &ldquo;community powered reporting.&rdquo; Through
    Spot.Us the public can commission and participate with journalists to do reporting on important
    and perhaps overlooked topics. Contributions are tax deductible and we partner with news
    organizations to distribute content under appropriate licenses. Donors can also take a survey
    from our sponsors, when available, to support the story of their choice at no cost to
    them.
  <p>
    <img src="http://farm5.static.flickr.com/4097/4932328439_c2af954182_s.jpg" alt="Toa of Journalism"/>
    We practice the <a href="http://taoofjournalism.org">TAO of Journalism</a> - Transparency, Accountability, and Openness
  </p>
  <p>
    You can learn more about us at our <a href="/pages/press">press page</a>.
    Or check out our <a href="/pages/examples">suceess story and partners</a> page.
  </p>    
  <object width="600" height="404">
     <param name="allowfullscreen" value="true" />
     <param name="allowscriptaccess" value="always" />
     <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=2041615&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"
  />
      <embed src="http://vimeo.com/moogaloop.swf?clip_id=2041615&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="600" height="425"></embed>
  </object>
  <p>
     <a href="http://vimeo.com/2041615">Spot.Us - Community Funded  Reporting Intro</a> from <a href="http://vimeo.com/user511977">Digidave</a> on <a href="http://vimeo.com">Vimeo</a>.
  </p>
  <h2>Contact</h2>
  
  <p>
    We are incredibly passionate and do our best to answer every email. Don't hesitate to contact
    us: <a href="mailto:info@spot.us">Email Us</a>
  </p>
  <p>
    Before you send us an email - check our FAQ's below. Perhaps your question has already been
    answered.
  </p>  
  
  <h2>Who</h2>
  
  <p>
       Spot.Us was founded by <a href="http://www.digidave.org">David Cohn</a> and made
       possible by a generous grant from the Knight Foundation. Spot.Us has also drawn on support from
       individual funders like yourself, a fantastic team of advisors, designers and developers from <a
       href="http://www.hashrocket.com">Hashrocket</a> to our current staff. We are proudly hosted by
       <a href="http://engineyard.com">Engineyard</a>. We are an open source project and you can
       contribute on <a href="http://github.com/spot-us">Git Hub</a>.

     <strong>
       <ul>
         <li><a href="/pages/who#staff">Our Team.</a></li>
         <li><a href="/pages/who#bay_community_advisory_board">Our Bay Area Community Advisory Board.</a></li>
         <li><a href="/pages/who#la_community_advisory_board">Our LA Community Advisory Board.</a></li>
         <li><a href="/pages/who#media_advisory_board">Our Media Advisory Board.</a></li>
         <li><a href="/pages/sponsors">Foundation and underwriting sponsors.</a></li>
       </ul>
     </strong>      
   </p>
   <div class="back_to">
      <h2><a name="faq">Frequently Asked Questions</a></h2>
      <a href="#top" class="float-right">Back to top ^</a>
   </div>
   

   <h3> 
    <strong>
      <a href="#faq_citizen">For Citizens</a>
    </strong>   
   </h3>
  <ul>
  <strong>
    <li><a href="#citizen_explanation">Quick Visual Introduction</a></li>
    <li><a href="#faqtip">How Do I Suggest A Story?</a></li>
    <li><a href="#finished_content_citizens">What Happens To The Finished Content?</a></li>
    <li><a href="#join_the_team">What Are Assignments, How Can I Take One Up?</a></li>
    <li><a href="#donation_goal">What If The Pitch I Donate To Doesn't Reach Its Goal?</a></li>
    <li><a href="#thereporters">Who Are These Reporters?</a></li>
    <li><a href="#priceguide">How Are Prices For Each Pitch Determined?</a></li>
    <li><a href="#privacy">About Your Privacy</a></li>
  </strong>
  </ul>  
  <h3> 
    <strong> 
      <a href="#faq_reporter">For Reporters</a>
    </strong>
  </h3>  
  <ul> 
  <strong>   
    <li><a href="#reporters_explanation">Quick Visual Introduction</a></li>
    <li><a href="#mandatory">Required Reading: How To Determine Pricing.</a></li>        
    <li><a href="#pitch_advice">Advice On Creating A Pitch</a></li>
    <li><a href="#qa_editor">What's The Role Of The Peer-Review Editor?</a></li>
    <li><a href="#joined_the_team">What Are Assignments And How Can I use Them?</a></li>
    <li><a href="#finished_content_reporters">What Happens To The Finished Content?</a></li>
    <li><a href="#pitch_goal">What If My Pitch Doesn’t Reach It’s Goal?</a></li>
    <li><a href="#creative_commons">What’s The Creative Commons Deal?</a></li>
  </strong>
  </ul>  
  <h3>
    <strong> 
      <a href="#faq_news_organization">For News Organizations</a>
    </strong>  
  </h3>
  <ul>
    <li><a href="#news_org_explanation">Quick Visual Introduction</a></li>
    <li><a href="#approval">Why Do We Need Approval To Get Started?</a></li>
    <li><a href="#work_with">Advice On Working With Spot.Us. How To Bolster Your Freelance Budget.</a></li>
  </ul>
  <h3>
    <strong> 
      <a href="#faq_general">General FAQ</a>
    </strong> 
  </h3>   
  <ul>
    <li><a href="#future">What Can We Expect In The Future?</a></li>
    <li><a href="#why_sf">Why local? Is my story local?</a></li>
    <li><a href="#form_990">Can I see your 990 form?</a></li>
    
  </ul>  
  <object width="425" height="344">
    <param name="movie" value="http://www.youtube.com/v/wxUqHlZYrRs&hl=en&fs=1"></param>
    <param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/wxUqHlZYrRs&hl=en&fs=1" type="application/x-shockwave-flash"
 allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed>
  </object>
   <div class="back_to">
      <a href="#faq" class="float-right">Back to FAQ</a>
      <h2><a name="faq_citizen">For Citizens</a></h2>
   </div>
   
   <a name="citizen_explanation"></a>
   <div>
       
       <object width="425" height="355">
          <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=citizens-1233284102107397-3&stripped_title=for-citizens-presentation"
  />
         <param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/>
         <embed src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=citizens-1233284102107397-3&stripped_title=for-citizens-presentation"
  type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425"
  height="355"></embed>
      </object>
   </div>
   <a name="faqtip"></a>
   
   <h3>How Do I Suggest A Story?</h3>
  <p>
    Anyone can "suggest a story" about an important topic you think should be reported on. This is
    often related to the question "what are you passionate about?" You can pledge to this tip, but
    no money is taken - it’s just a way to show how much interest you have in this possibly becoming
    a pitch. Suggesting a story could be the spark that starts an investigation. To suggest a story
    just create an account and click "Suggest a Story."    
  </p>  
  <a name="finished_content_citizens"></a>
  <h3> What Happens To The Finished Content?</h3>
  <p>
    Finished content is published on Spot.Us unless we are working with a partnering organization.
    Spot.Us works with local news organizations to get content distributed in as many places as
    possible. See our growing list of 
    <%= link_to 'media partners.', page_path("examples")%>
    Our partner news organizations can also obtain temporary copyright to the content (first
    publishing rights) if they donate 50% or more towards a pitch. Extra proceeds go back to
    community members who originally supported that pitch. We always ensure that the content will be
    made available online.
  </p>  
  <a name="join_the_team"></a>
  <h3> What are Assignments, How Can I Take One Up?</h3>
  <p>
    Spot.Us believes that some projects benefit through collaboration. If a reporter wants, they can
    create "Assignments" and invite the public to help them out. Some assignments lend themselves to
    lots of help, others just need one or two people. You can view and apply for all assignments
    under the "assignment" tab of a pitch. When you apply for an assignment a message is sent to the
    reporter that you are intersted in helping out with the reporting. If the reporter approves you
    taking on the assignment, you'll be notified via email and receive access to the pitch's "story
    updates" so you can show the reporter and the world what you have dug up. Not all stories
    benefit through collaboration, so joining the reporting team is done on a case by case basis by
    the reporter who is in charge of the pitch.
  </p>      
  <a name="donation_goal"></a>
  <h3> What If The Pitch I Donate To Doesn't Reach Its Goal?</h3>
  <p>
    All credits are returned to your account and you can direct them towards any other existing
    pitch. You will have until the end of the fiscal year to put the money back in circulation
    through the Spot.Us system.
  </p>
  <p>
    In the future we hope to build out a more dynamic credit system such that credit
    cards are only charged if the specific pitch you want has reached its funding goal.
  </p>  
  <a name="thereporters"></a>
  <h3>Who Are These Reporters?</h3>
  <p>
    Reporters on Spot.Us are self-identified freelance journalists. We do speak with every reporter
    about their pitch and verify their identity. As a marketplace we will continue to build tools to
    enable you to find out more about these reporters and judge them on the merits of their work.
    But it is important to note that Spot.Us does not try to define who is and is not a
    "journalist." What we say is that "we are choosy but not exclusive." We have worked with a two
    time Pulitzer Prize winning reporter. We've also worked with two high school students. The
    students had to convince us they were up to the challenge and were transparent about their lack
    of experience. Any self-identified freelancer can work with us and if they are earnest, we will
    reciprocate. We do require transparency about a reporters experience. We encourage every citizen
    to view the reporters profile and pitch critically before you donate.
  </p>
  <a name="priceguide"></a>
  <h3>How Are Prices For Each Pitch Determined?</h3>
  <p>
    As a marketplace Spot.Us is continually updating its <a href="/reporter_agreement">reporter agreement</a>. 
    We have built this guidline as a means to explain how much a reporter can reasonable ask for
    during an investigation. It is based on competitive rates throughout the country for
    freelancers.
  </p>  
  <a name="privacy"></a>
  <h3> Your Privacy</h3>
  <p>
    Privacy is very important to us. We will never share your information with a third party without
    your EXPRESS permission. No if’s and’s or but’s. To learn more, please check our <a href="/pages/privacy">Privacy Policy</a>.
  </p>
    <a name="faq_reporter"></a>
     <div class="back_to">
        <a href="#faq" class="float-right">Back to FAQ</a>
        <h2>For Reporters</h2>        
     </div>
      
      <a name="reporters_explanation"></a>
      <div>
       <object width="425" height="355">
          <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=forreporters-1233282379077707-1&stripped_title=spotus-for-reporters-presentation-969770"
    />
         <param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/>
         <embed src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=forreporters-1233282379077707-1&stripped_title=spotus-for-reporters-presentation-969770"
    type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"
    width="425" height="355">
         </embed>
         </object>
      </div>
      <a name="mandatory"></a>
      <h3>Agreement To Work With Spot.Us And Pricing Guidlines.</h3>
      <h5><a href="/pages/reporter_agreement">Required Reading &raquo;</a></h5>
      <p>
          We've created a pricing guidline based on competitive rates for freelancers. This also includes
          the "reporters agreement" that explains the working relationship between Spot.Us and the
          reporter. The most important thing to know is that we are flexible. We work for you, so if you
          have special requests, speak up!
       </p>  
  <a name="pitch_advice"></a>
  <h3>Advice On Creating A Pitch</h3>
  <p>
    Write the pitch so that anyone who reads it will want to see that story materialize. Sell your
    idea and your expertise on the subject. Don’t be afraid to be personal. Upload a YouTube or Vimeo video
    explaining who you are and why you’re the right person for the job. Imagine what civic leaders
    or organizations would want to partner with you. Remember - the public now has a freelance
    budget, pitch them like you would the editor of a major metropolitan newspaper. <a href="http://blog.spot.us/2008/10/09/independent-journalists-how-to-raise-your-own-income">Read More</a>.
  </p>  
  <a name="qa_editor"></a>
  <h3> What’s The Role Of The Peer-Review Editor?</h3>
  <p>
    The Peer-Review editor has three main responsibilities – to ensure fair and accurate reporting,
    to be a second pair of eyes before a story is published as a sounding board for the
    reporter. To do the latter the Peer-Review editor should be in touch with the
    journalist regularly. At any time the Peer-Review
    editor can report suspicious activities to Spot.Us. If Spot.Us is partnering with an existing news organization then they provide editorial oversight. Otherwise Peer-Review editors are assigned by spot.Us,
    and the reporter can reject the first two assigned editors. The investigation will not publish
    without the Peer-Review editor's approval. Any journalist can apply to be a Peer-Review editor
    by applying for that "Assignment."
  </p>  
  <a name="joined_the_team"></a>
  <h3> What are Assignments and How Can I Use Them?</h3>
  <p>
    After creating a pitch, a reporter can create an "Assignment." These are not required, but at
    Spot.Us we believe that the public can help power reporting in a few ways. One ways is by
    donating funds. Another is when the public donates time. The more specific your assignments are,
    the more likely you will get positive results. You can create an assignment to get photography.
    You can create an assignment to have people look over documents. You can even create an
    assignment to have people conduct interviews. When people apply for an assignment you'll be
    notified and it's up to you if they are assigned or not. If assigned, they'll have access to
    your pitch's blog and can turn in their assignments through "story updates." This feature is entirely under your control.
  </p>  
  <a name="finished_content_reporters"></a>
  <h3> What Happens To The Finished Content?</h3>
  <p>
    There is no set flow chart for what happens to the finished content. It might be published on
    Spot.Us' site. If we are working with a partner organization, they might publish it as well. A
    reporter is always notified about potential partnerships and it's their decision to move forward
    with them or not. The reporter is always given attribution for their work. It is not allowed to
    be altered without the author's express permission. If there are no partnering organizations,
    the content is made free to be republished through a Creative Commons license.
  </p>
  <p> 
    Next time an editor rejects your piece purely for monetary reasons, suggest raising
    half of your freelance salary on Spot.Us. Spot.Us is happy if you upload pitches to our site and
    try to shop them around to news organizations at the same time under the condition that
    interested news organizations work with the Spot.Us community.
  </p>
  <a name="pitch_goal"></a>
  <p>
  <h3>What If My Pitch Doesn’t Reach its Goal?</h3>
    You can accept to do the pitch regardless of whether or not you reach the original goal. So, if
    you raise 80% of the stated goal, you can still accept that money, but you must do what was
    outlined in the original pitch. You can also choose to cancel the pitch at any time and
    donations will be directed back to the original donors in the form of credits so they may direct
    it to another pitch.
  </p>
  <p>    
    In the future we will have a more dynamic credit card system that will only charge a users
    credit cards upon the succesful acceptance of a pitch.
  </p>
  <p>
  <a name="creative_commons"></a>
  <h3>What’s The Creative Commons Deal?</h3>
    The end content produced by Spot.Us will be given away for free unless a news organization has
    contributed either 50% or more of the total costs or has provided in-kind contributions
    throughout the project. In that situation - we will grant that news organization temporary
    copyright to the article. If we are not working with a specific news organization we will try
    and get the content published by as many sources as possible. To do so, we use a Creative
    Commons license (attribution, no derivites). You can learn more by reading our <a href="/pages/reporter_contract">Reporter's Contract</a>.
  </p>
    <a name="faq_news_organization"> </a>
    <div class="back_to">
       <a href="#faq" class="float-right">Back to FAQ</a>
       <h2>For News Organizations</h2>
    </div>
     
    <a name="news_org_explanation"> </a>
   <div>
     <object width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=newsorgs-1232420177452987-1&stripped_title=explanation-for-news-orgs-presentation"
     /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess"
     value="always"/><embed
     src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=newsorgs-1232420177452987-1&stripped_title=explanation-for-news-orgs-presentation"
     type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425"
     height="355"></embed></object>
   </div>
  <a name="approval"></a>
  <h3> Why Do We Need Approval To Get Started?</h3>
  <p>
    News organizations have a special role in Spot.Us. They are the only type of user that is
    allowed to donate MORE than 20% of a pitch's goal. As such, we filter news organizations to ensure
    they ascribe to journalistic ethics as described by the Society of Professional Journalists. We
    realize that a waiting period before you become a "news organization" on Spot.Us is less than
    ideal, but it is important to us that these ethics are followed by anybody that could
    singlehandedly fund an investigation. Feel free to email <a href="mailto:info@spot.us">Spot.Us Team</a> if you have questions. We tend to approve accounts within 24 hours.    
  </p>
  <a name="work_with"> </a>
  <h3>Advice On Working With Spot.Us. How To Bolster Your Freelance Budget.</h3>
  <p>
    Spot.Us is an opportunity to bolster your freelance budget by working with and for the public.
    We only work with freelancers, we cannot support staff writers (this may change for nonprofit
    news organizations). But if you do work or want to procure freelance work, perhaps part of their
    wage can be shared with the public. You can donate 50% of their freelance salary upfront and the
    Spot.Us community can fundraise the other 50%. Your organization will still get first publishing
    rights. Or you can register on Spot.Us and find out about high quality articles that have been
    100% community funded, so the reporting comes from a profesional reporter, but you can run the
    content for free.
  </p>
  <strong>Here Are Various Ways Your Organization Can Get Involved</strong>
    
  <ul>
    <li>Spot.Us content that is 100% community funded is made available for free to news organizations
      to republish. Register on the site and we'll let you know when content is going to be published.</li>
    <li>
      Donate 50% of the value of an investigation and you'll get exclusive rights. (This is only
      available until the investigation has reached 51% funding through community donations, so get
      in the game early).</li>
    <li>
      Donate 100% of the value of an investigation and you'll get exclusive rights. You can do this
      at any time - all extra proceeds will be given back to community members to invest in another
      pitch. This is a way to build a new relationship with your audience. They'll love you for
      refunding them and it's a built in audience.</li>
    <li>
      We encourage you to donate small amounts as well. Even a tiny donations from a news
      organization can be the push to give a pitch the momentum it needs to get community funding -
      and you are welcome to the final content or even to apply as a peer-review editor.</li>
   </ul>


    <a name="faq_general"> </a>
    <div class="back_to">
       <a href="#faq" class="float-right">Back to FAQ</a>
       <h2>General FAQ</h2>
    </div>
     
     <a name="future"> </a>
     <h3>What Can We Expect in the Future?</h3>
     <p>SO MUCH!!!</p>
     <p>
       We have lots planned. Our website is currently 1/4th of what we envision. As we
       develop the open source code we want to add the ability for journalists to report on their
       pitches in public on the Spot.Us site. We will add more functionality for all three types of
       users (citizen, reporter, news organization) and who knows what else we might cook up along the
       way. We are responsive to you, so your feedback is welcome.
     </p>
     <a name="why_sf"> </a>
     <h3> Why Local? Is my story local?</h3> 
     <p>
       We accept local stories from across the country. We believe that democracy happens at a local
       level and while national and international reporting is important, we want to support local
       communities making local decisions. Local stories can have national interest, that's fine.
       The fundamental question to ask yourself is whether or not the story you are pitching is
       hinged on something geographic. If it's a story that could happen anywhere, literally
       anywhere, then it probably isn't local and might not be right for Spot.Us.
     </p>
     <a name="form_990"> </a>
     <h3>Can we see your form 990?</h3>
     <p>Why certainly. Our latest 990 form for the year 2010 can be found online <a
     href="http://www.scribd.com/doc/52778569/990-Complete">here</a>.
     
</div>  
   <!--     Changing a Pledge. You can change a pledge or donation at any time. For a tip, just find the
       pledge in your dashboard and make the change. For a donation, if you increase the donation
       you’ll have to “checkout” again – if you lower your donation, you’ll have spare credits which
       you can direct to a different pitch (spreading the love).
       
       Why Credits? Spot Credits are yours and they will remain in your control until a pitch of your
       choosing reaches its fundraising goal. All of the money you donate will go to the reporting
       needed to finish an investigation – Spot.Us also asks for tips to the organization, but it is not
       required and we are transparent in asking for tips. In the future we will be looking into
       options outside of credits to pay for investigative reporting – but for this version, it is the
       best way to get the job done.
       
       Why Tell a Friend? Spot.Us is about giving groups a new sense of editorial power. The only way
       an investigation gets funded is if a group or network sees value in it. If you are a
       civic-leader, you can take ownership of a tip or pitch by spreading word about it and making it
       a reality.
       
       What’s an RSS feed? RSS stands for Really Simple Syndication. That means instead of you having
       to visit spot.us to find out what is new – we will send updates directly to your RSS reader. If
       you’re brand new to RSS, try Google Reader, it’s simple to use. Get your Google Reader up and
       running – then come back and click this funny orange button. FAQ for Reporters
       
       What’s a Reporters Notebook? A reporters notebook allows the QA editor and reporter to
       converse. It also allows a reporter to upload any reporting they’ve done while working on the
       larger investigation. The reporter can make this reporting public or private, but Spot.Us
       encourages transparency at all levels.
       
       Why give extra to spot.us? (also for Right coloumn of Profile View) Spot.Us is an exciting
       nonprofit project to pioneer “community funded reporting.” We believe journalism is a process –
       not a product and all we want to do is support good local investigative journalism. While we do
       everything to keep our overhead low, just accepting donations means we are running at a loss.
       Credit card companies take a small percentage of every transaction. We are trying to cover that
       cost ourselves but as a small nonprofit, we hope you will help us keep the lights on with a
       small donation that goes to the organization to recoup this loss.
       
       How do I add a photo?
       
       How do I add a video?
       
       How do I publish? FAQ for News Organizations
       
       For News Organizations
       
       What Can We Expect in the future? asdf
       
       Ways we can get exclusive content 1. 2. 3. You can always run our content for free, unless
       another news organization has done steps one or two above. 4. We encourage you to donate small
       amounts as well. Even a tiny donations from a news organization can be the push to get a pitch
       the momentum it needs to get community funding – and you are welcome to the final content or
       even to apply as a peer-review editor. -->
   
