<%= render :partial => "page_side_panel" %>
<div id="spotus_page">
  <h2>Contact Us</h2>
  <p>
    We are looking for reporters with strong local pitches. Want to help as a developer? Just want to
    chat? We read everything and will try to respond to every inquiry.
  </p>
  <p>
    Contact the <strong><a href="mailto:david@spot.us">Spot.Us Director</a></strong> David Cohn.
  </p>  
</div>