.block-spacer
.box_white
  %h2 Contact Us
  .double_content_border
  %p
    Interested in becoming a beta user? We are looking for reporters with bay area pitches. Want to
    help as a developer? We are hiring. Just want to chat? We read everything and will try to
    respond to every inquiry.
  %p
    = mail_to "info@spot.us", nil, :encode => "hex"
  %div{:style => "margin-bottom: 10em;"}
.block-spacer
.block-spacer
