<div id="contentContainer">
  <h2>Contact Us</h2>
  <p>
    We are looking for reporters with strong local pitches. Want to help as a developer? Just want to
    chat? We read everything and will try to respond to every inquiry.
  </p>
  <p> 
    Contact the <strong><a href="mailto:david@spot.us">Spot.Us Director</a></strong> David Cohn.
  </p>
  <p>
    Also consider signing up for our <a href="http://spot.us1.list-manage.com/subscribe?u=eed5c3b3aed45d5f05eca391c&id=b693cc07c0">Newsletter</a>  
  </p>
</div>