<div class="contentContainer">
  <h2> Who We Work With.....</h2>  
  <p> 
  Spot.Us is a platform that can be used by other news organizations to fundraise for their
  freelancers. Below are just some of the news organizations that have used Spot.Us to fund
  reporting projects. We also make our content available for them to republish.
  </p>
  <p>Or see what the media is saying about us: <a
  href="http://spot.us/pages/press">press page</a>.
  </p>
  <h2>Featured partners we've worked with include....</h2>
  <ul class="press">
    <ul>   
      <li>
        <img src="http://farm6.static.flickr.com/5295/5416593765_fd8a456a84.jpg">
        <br>The New York Times
        <br>Oakland Tribune
        <br>Columbia Missourian
        <br>La Opinion
        <br>Los Angeles Times
        <br>Los Angeles Watts Times
        <br>Minnesota Premier Publications
        <br><b>AND MORE!</b>
      </li>
      <li>
        <img src="http://farm6.static.flickr.com/5174/5416751639_6f025039bc.jpg">
        <br>Cleveland Free Press
        <br>CleveScene.com
        <br>East Bay Express
        <br>Metro Active - Silicon Valley
        <br>North Bay Bohemian 
        <br>Sacramento News and Review
        <br>Santa Cruz Weekly
        <br>SF Bay Guardian
        <br><b>AND MORE!</b>
      </li>  
      <li>
        <img src="http://farm6.static.flickr.com/5015/5417259604_3eb3611204_m.jpg">
        <br>Good Magazine
        <br>Mother Jones
        <br>Miller-McCune Magazine
        <br>Earth Island Journal        
        <br>Wired Magazine
        <br>San Francisco Magazine
        <br>Race Poverty &amp; Enviornment Magazine
        <br><b>AND MORE!</b>
      </li>  
      <li>
        <img src="http://farm6.static.flickr.com/5292/5416687783_d7732275d5.jpg">
        <br>Oakland Local
        <br>The Public Press
        <br>LAist
        <br>Seattle Post Globe
        <br>Twin Cities Daily Planet
        <br>Western Citizen
        <br>Witness LA
        <br><b>AND MANY MORE!</b>
      </li>
      <li>
        <img src="http://farm6.static.flickr.com/5097/5416708527_c197b1073b_m.jpg">
        <br>New American Media
        <br>Hyphen Magazine
        <br>Latina Lista
        <br>La Opinion
        <br>SF Bay View
        <br>Nguoi Viet Daily News
        <br>SalaamGarage.com
        <br><b>AND MORE!</b>
      </li>
      <li>
        <img src="http://farm6.static.flickr.com/5211/5416733565_8d531ec1a1.jpg">
        <br>The Bay Citizen
        <br>California Watch
        <br>MinnPost.com
        <br>Free Speech Radio News
        <br>Investigate West
        <br>KALW, KPCC, KPFA
        <br>National Radio Project
        <br>The Texas Observer
        <br><b>AND MANY MORE!</b>
      </li>         
  </ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <h2>And that's just off the top of our head! The full list of partners is below....</h2>
  <ul class="press">    
  <ul>   
    <li>
      <img src="http://2.bp.blogspot.com/_i2rtu_o6byE/TKGT28F27UI/AAAAAAAABRo/i1IoCb6jxJw/s400/logo_box.png">
      <a href="http://www.alhambrasource.org/">Alhambra Source</a>
    </li>
    <li>AllVoices.com</li>
	  <li>Alamo City Times</li>   
	  <li>Annenberg School of Communications at USC</li> 
	  <li>The Bay Citizen</li>
    <li>Bay Area Monitor</li>
	  <li>Bay Nature</li>
    <li>Berkeley Daily Planet</li>
    <li>California Watch</li>
    <li>California Report</li>
    <li>Cleveland Free Press</li>
    <li>CleveScene.com</li>
    <li>Columbia Missouri Business Times</li>
    <li>Columbia Missourian</li>
	  <li>Common Language Project</li>
	  <li>Curbed LA</li>
    <li>Daily Casserole</li>
    <li>Earth Island Journal</li>  
    <li>East Bay Express</li>
    <li>EmpireReport.org</li>
    <li>Epoch Times</li>  
    <li>Florida Center for Investigative Reporting</li>
    <li>Free Speech Radio News</li>
    <li>Global Press Institute</li>
    <li>Good Magazine</li>
    <li>GO Media</li>
    <li>Ground Report</li>
    <li>Hear in the City</li>
    <li>Hburgnews.com</li>
    <li>Homocide Watch DC</li>
    <li>Hyphen Magazine</li>
	  <li>Intersections South LA Report</li>
	  <li>Investigate West</li>    
	  <li>KALW</li>
	  <li>KPFA - 94.1FM, Berkeley CA</li>
	  <li>KPCC - The Madeline Brand Show</li>
    <li>LABeez.org</li>
    <li>LAist</li>
    <li>La Opinion</li>
    <li>Latina Lista</li>
    <li>Leimert Park Beat</li>
	  <li>LittleSis.Org</li>
	  <li>Locust Fork News Journal</li>
    <li>Longshot Magazine</li>
    <li>Los Angeles Garment & Citizen</li>
    <li>Los Angeles Times</li>
    <li>Los Angeles Watts Times</li>
    <li>Making Contact: National Radio Project</li>
    <li>McSweeney's Panorama Newspaper Project</li>
    <li>Metro Active - Silicon Valley</li>    
    <li>Miller-McCune Magazine</li>
    <li>Minnesota Premier Publications</li>
	  <li>MinnPost.com</li>
    <li>Mission Local</li>
    <li>Mother Jones</li>
    <li>MuckRock</li>
    <li>Neon Tommy</li>  
    <li>New American Media</li>
    <li>NewsDesk.org</li>
    <li>New York Times</li>
    <li>NewsWire21.org</li>
    <li>Nguoi Viet Daily News</li>
    <li>North Bay Bohemian</li>
    <li>OakBook Magazine</li>
    <li>Oakland Local</li>
    <li>Oakland Tribune</li>
    <li>On Earth Magazine</li>
    <li>Patch.com - Chatsworth</li>
    <li>Pennsylvania from Below</li>
    <li>Placeblogger</li>
    <li>Potrero View</li>
    <li>Public Radio Exchange</li>
    <li>Race Poverty &amp; Enviornment Magazine (Urban Habitat)</li>
    <li>Real Aspen Journal</li>
    <li>Redwood Age</li>
	  <li>Roxbury News</li>
	  <li>Sacramento News and Review</li>
    <li>SalaamGarage.com</li>
    <li>San Francisco Magazine</li>
	  <li>Santa Cruz Weekly</li>
    <li>Seattle Post Globe</li>
    <li>SF Appeal</li>
    <li>SF Bay Guardian</li>
    <li>SF Bay View</li>
    <li>Smile Politely Magazine</li>
    <li>Streetsblog LA and SF</li>
    <li>Somerville Voices</li>
    <li>Texas Bulletin - AARP</li>
	  <li>The Bold Italic</li>
	  <li>The Daily Green</li>
    <li>The Notebook - Covering Philly's Schools</li>
    <li>The Public Press</li>
    <li>The Texas Observer</li>
    <li>The Uptake</li>
	  <li>Twin Cities Daily Planet</li>
	  <li>WAMU D.C. - NPR</li>
	  <li>Way Out West</li>
	  <li>Western Citizen</li>
	  <li>WFPL, Louisville</li>
	  <li>WMNF, Tampa</li>
	  <li>Wired.com</li>
    <li>Witness LA</li>
    <li>Video SF - Vidsf.com</li>
  </ul>         
</div>