<%= render :partial => "page_side_panel" %>
<div id="spotus_page">
  <h2> Who We Work With.....</h2>
  <hr/>
  <p> 
  Spot.Us is a platform that can be used by other news organizations to fundraise for their
  freelancers. Below are just some of the news organizations that have used Spot.Us to fund
  reporting projects. We also make our content available for them to republish.
  </p>
  <p>Or see what the media is saying about us: <a
  href="http://spot.us/pages/press">press page</a>.
  </p>
  <h2>Featured partners we've worked with include....</h2>
  <hr/>
  
  <ul>
  <li><h3><a href="http://www.nytimes.com">The New York Times</a></h3></li>
  <p>
  We sent a reporter to the Pacific Garbage Patch who <a
  href="http://spot.us/stories/252-dissecting-the-great-pacific-garbage-patch">chronicled her voyage
  and published a final story in The New York Times</a>.
  </p>
  <li><h3>Annenberg School of Communications at USC</h3></li>
  <p>
  Our <a
  href="http://uscnews.usc.edu/digital_media/journalism_project_spotus_teams_with_usc_annenberg.html">partnering
  organization in Los Angeles</a>. 
  </p>
  <li><h3>Oakland Tribune</h3></li>
  <p>
  With the Oakland Tribune we funded an investigation into the <a
  href="http://findarticles.com/p/articles/mi_qn4176/is_20090617/ai_n31993719/">growing problem of
  potholes</a>. We also organized "the great pothole bike search" and produced <a
  href="http://www.insidebayarea.com/news/ci_11942436">a map that located major potholes in
  Oakland</a>.
  <li><h3>San Francisco Magazine</h3></li>
  <p>
  Not every reporting project is text. With the San Francisco Magazine <a
  href="http://spot.us/stories/200-follow-the-trash-what-happens-to-your-recyclables">we funded an
  info graphic</a> on what happens to recycables in San Francisco. 
  </p>
  <li><h3>Earth Island Journal</h3></li>
  <p>
  We have funded <a
  href="http://spot.us/stories/199-paul-ehrlich-the-vindication-of-a-public-scholar">two</a> feature
  projects for the Earth Island Journal.
  </p>
  <li><h3>East Bay Express and Making Contact (National Radio Project)</h3></li>
  <p>
  We worked with the East Bay Express and National Radio Project to examine the <a
  href="http://spot.us/stories/241-breaking-the-wall-of-silence-civilian-oversight-of-police-in-oakland">citizen
  oversight of Oakland Police</a>.
  </p>
  <li><h3>KALW - Crosscurrents and KPCC (Los Angeles) - NPR</h3></li>
  <p>
  Two of the NPR stations we are <a
  href="http://spot.us/pitches/265-crimes-courts-and-communities-in-the-bay-area">proud</a> to <a href="http://www.scpr.org/news/2010/02/04/usc-trojans-face-new-coach-ncaa-sanctions/">work with</a>.
  </p>
  <li><h3>North Bay Bohemian, Palto Alto Weekly and the Sacramento News and Review</h3></li>
  <p>
  All played a role in our collaboration to <a
  href="http://spot.us/pitches/337-investors-club-do-the-uc-regents-spin-public-funds-into-private-profit">investigate
  the regents of the University of California</a>.
  </p>
  <li><h3>Oakland Local</h3></li>
  <p>
  Our local sister organization which has used Spot.Us to <a
  href="http://spot.us/stories/341-more-than-ever-oakland-is-hungry">fund</a> <a
  href="http://spot.us/stories/303-parent-community-groups-fight-uphill-battle-to-reform-public-school-food">several</a>
  <a
  href="http://spot.us/stories/279-festival-of-grassroots-economics-asks-wheres-that-new-economy-offers-powerful-answers">stories</a>.
  </p>
  <li><h3>The Public Press</h3></li>
  <p>
  Our local brother organization which has used Spot.Us to fund several stories including the <a
  href="http://spot.us/stories/274-city-budget-watchdog-reporting-on-san-francisco-s-half-billion-dollar-hole">City
  Budget Watchdog</a> series and the <a
  href="http://spot.us/stories/344-the-bay-bridge-explained">Bay Bridge Explained Report</a>.
  </p>
  <p>
  We organized <a href="http://spot.us/stories/290-california-data-camp-exploring-state-data-and-datasf-app-contest">California Data Camp</a> with the Center for Investigative Reporting, a one day event and hackathon that produced
  informational web applications using government data from the city of San Francisco.
  </ul>
  <p>We have also worked with... </p>
  <ul>   
     <li>AllVoices.com</li>
     <li>Bay Area Monitor</li>
     <li>Berkeley Daily Planet</li>
     <li>EmpireReport.org</li>  
     <li>Free Speech Radio</li>
     <li>GO Media</li>
     <li>KPFA - 94.1FM, Berkeley CA</li>
     <li>LABeez.org</li>
	 <li>LA Opinion</li>
     <li>LittleSis.Org</li>
     <li>Los Angeles Garment & Citizen</li>
     <li>Los Angeles Watts Times</li>
     <li>Making Contact: National Radio Project</li>
     <li>McSweeney's Panorama Newspaper Project</li>
     <li>Metro Active - Bay Area</li>    
     <li>Miller-McCune Magazine</li>
     <li>Mission Local</li>
     <li>Neon Tommy</li>  
     <li>New American Media</li>
     <li>NewsDesk.org</li>
     <li>OakBook Magazine</li>
     <li>On Earth Magazine</li>
     <li>Placeblogger</li>
     <li>Potrero View</li>
     <li>Race Poverty & Enviornment Magazine (Urban Habitat)</li>
     <li>Roxbury News</li>
     <li>Santa Cruz Weekly</li>
     <li>SF Appeal</li>
     <li>SF Bay View</li>
     <li>RawStory.com</li>
     <li>Redwood Age</li>
     <li>Video SF - Vidsf.com</li>

  </ul>
  <h3>
  And many more. Want  to be a part of the network? It takes 
  10 seconds to register....</h3>           
</div>