%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 What They Are Saying.....
  .double_content_border
  %p 
    Spot.Us is a platform that can be used by other news organizations to fundraise for their
    freelancers. Here is a growing list of current media organizations that are registered on
    Spot.Us, each with various levels of activity. Our content is made available to them to
    republish and occasionally they will refund our micro-donors for first publishing rights.
    %ul
      %li
        National Public Radio
      %li
        Oakland Tribune
      %li
        MetroActive - Bay Area
      %li
        HuffingtonPost.com
      %li
        RawStory.com
      %li
        Business Week
      %li  
        KALW - Public Radio      
      %li
        Roxbury News
      %li
        KQED - Public Broadcasting
      %li
        Urban Habitat
      %li      
        NewsDesk.org
      %li
        Public-Press.org
      %li
        San Francisco Sentienel 
      %li
        RedWoodAge.com
      %li
        EmpireReport.org
      %li
      %li
      
        

.block-spacer
      
    
        
    
-#
    
    
  http://www.journalism.co.uk/5/articles/533090.php
  IMG: http://blog.spot.us/?attachment_id=995
  Journalism.co.uk
  Title: Q&A: How community-funded news works in practice 
  http://www.suburban-news.org/News/ArticleDetail.aspx?ID=100291
  http://blip.tv/file/1554114
  http://commonsensej.blogspot.com/2008/11/spotus-to-launch.html
  http://www.budiputra.com/2008/11/11/spotus-citizen-funded-community-journalism/
  http://newspaperman.posterous.com/spotus-experiments-with-citize
  http://www.paradox1x.org/archives/2008/11/technology-and.shtml http://www.nhpr.org/node/18990
  http://www.freelinereport.com/freeline-11-12-08/
  http://jonathanpberger.com/wp/2008/11/spotus-launches/
  http://beatblogging.org/2008/11/12/the-best-online-tools-for-beat-reporters/
  http://aroundrobin.blogspot.com/2008/11/pitch-story-find-story-funder-citizen.html
  http://andylark.blogs.com/andylark/2008/11/write-this.html
  http://www.psfk.com/2008/11/media-by-the-people-for-the-people.html
  http://www.goldmanandassociates.com/pr-news-opinion/2008/11/12/crowd-funding-news-site-launches.html
  http://justinmclachlan.com/08/11/have-you-donated-to-spotus-yet/
  http://johnmcquaid.com/2008/11/12/the-rosenbaum-jarvis-smackdownhttp://johnmcquaid.com/2008/11/12/the-rosenbaum-jarvis-smackdown/
  http://jean9fhunter.wordpress.com/2008/11/13/video-of-changing-media-landscape-program-at-columbia-university/
  http://mail.google.com/mail/?ui=2&view=js&name=js&ver=LMLtlgTYR0Q&am=X_MwtcT3ECEJFpSxaw
  http://m-cause.com/blitzed-baited-fooledbut-will-we-switch/
  http://www.feedingtheshark.com/blog/2008/11/14/a-dose-of-optimism-for-journalism
  http://michellerafter.wordpress.com/2008/11/14/as-optimists-tell-its-a-great-time-to-get-into-journalism/
  http://knowmediablog.com/2008/11/14/can-crowdfunding-help-save-the-journalism-business/
  http://www.mister.us/2008/11/spotus-launched-this-week-as-reviewed.html
  http://vraslosk.blogspot.com/2008/11/community-funded-journalism.html
  http://blog.socialactions.com/profiles/blogs/social-actions-roundup-16
  http://michsineath.com/2008/09/08/spotus-announces-first-community-funded-news-article/
  http://blogs.courierpostonline.com/mojodojo/2008/11/17/spotus-citizen-journalism-30/
  http://commonsensej.blogspot.com/2008/11/spotus-to-launch.html
    

