.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Privacy Policy
  .double_content_border  
  
  %h2 Your privacy is important to us.
  
  %p
    No….. seriously. This is a community site – and you are our community, ergo your privacy is
    important to spot.Us.
  
  %p
    We’ve tried to avoid legalese as much as possible in framing this privacy policy. Our goal is to
    make enough space for spot.Us to continue operating without endangering your privacy. As such,
    we do have to occasionally use legal jargon. Still – we’ve tried as much as possible to respect
    your intelligence and privacy by crafting this policy. The policy may be revised or updated from
    time to time by us. We encourage you to check back often to ensure that you are familiar with
    the most recent version and the terms of our policy.
      
  %p
    We’ve tried to keep this informal, but for legal reasons – we also advise that you actually read
    the legal jargon, like the following paragraph.

  %p
    YOUR USE OF THIS SITE, OR YOUR PROVISION TO US OF ANY PERSONAL INFORMATION CONSTITUTES YOUR
    AGREEMENT TO THESE TERMS AND ANY SUBSEQUENT CHANGES TO THESE TERMS; DO NOT USE THE SITE OR
    PROVIDE INFORMATION IF YOU DO NOT AGREE WITH ALL OF THE TERMS.
     
  %h2 On your personal information
    
  %p
    Yes: We do ask for some of your information, including email address, general location,
    interests, and credit card information throughout the site. Anybody that wants to engage in
    spot.us must become a site member and in doing so will fill in these types of fields. We don’t
    collect this information to spy on you – but to create a marketplace that will empower and
    enable local journalism. That is our only goal and we will only use this information to serve
    that end.
    
  %p 
    To stay committed to this goal – we will not share your personal information with any third
    party for the sake of advertising, a quick buck, political ends, alien invasions, monsoons, etc.
  
  %h2 We abide by the rules too
  
  %p
    The only exception to this is if Spot.Us is asked to disclose information in response to
    warrants, subpoenas or other valid legal process. We will respond begrudgingly, but we hope you
    can understand that we don’t want to break the law.
  
  %h2 Some Info You Post is Public

  %p
    Some actions taken on Spot.Us, such as leaving a comment or creating a “pitch” or “tip” are
    public and will be made visible to the public. Identification of all contributed content may
    include, but is not limited to, display of your account name and photo. All content may be
    retained for restorative, archival, or research purposes by Spot.Us. Editing or deleting content
    may alter the displayed state of the content, but will not permanently delete the content from
    the website. We are not responsible for the personal information you choose to submit in the
    public facing parts of the site.
  
  %h2 You can opt-out of us contacting you

  %p
    The more we know about you, the better we are able to customize our web site to suit your
    personal preferences and interests. The e-mail address you provide may be used by Spot.Us to
    contact you for editorial purposes or to advise you of any changes to our site. Spot.Us may also
    contact you on occasion to let you know about specific actions that are available that can be
    taken to benefit the local journalism marketplace that we are setting up. At any time you can
    opt out of these messages from your personal settings page (email notification settings). But –
    we also promise not to spam and that when we do reach out – it will be for a good cause.
  
  %h2 On credit card information

  %p
    We do ask for your credit card information during the process of donating to a pitch. This
    information is only asked on pages that are safe and secure. You can verify this by noting the
    page is SSL (wikipedia SSL for background). Also note: We do not store that credit card
    information on our servers. That information is verified by a professional payment gateway
    system called Authorize.Net. All credit card information is encrypted – so nobody (including
    Authorize.Net) has access to it once you’ve entered the information.
  %p
    Note: No data transmission over the Internet or any wireless network can be 100% guaranteed to
    be secure. As a result, while we try to protect your personal information, we cannot ensure or
    guarantee the security of any information you transmit to us, and you do so at your own risk. We
    are not liable for the illegal acts of any third party.

  %h2 Auto-magical information we get

  %p
    The server does, however, keep a record of other actions you take on the site (pages you visit,
    fields you input, etc). Even if you are not logged in we note what URL you visited, your browser
    type and IP address. Lots of websites do this, it’s standard web server access log stuff. We
    keep this information only to study how people are engaging in our site. We will examine this
    information in terms of demographics, not to study individual users. We will not single people
    out as case studies without their explicit permission.

  %h2 Who Doesn’t Love Google?

  %p
    We analyze traffic to the CMLP site in various ways, including using a service called Google
    Analytics. (Google Analytics is subject to the privacy policy of Google, Inc., which you can
    find on their website.) We use this information to generate statistics and measure site activity
    to improve the usefulness of the site to our visitors.

  %h2 Cookie Monster Information

  %p
    We do use cookies – but only to note if you are a user that has already logged in once. This
    cookie is opt-in and noted in the login screen with a “remember me” checkbox.

  %h2 "You Know, For Kids."

  %p
    This website’s content is intended for adults and we will not knowingly collect personal
    information from children under 13 years of age. If you are a parent or legal guardian of a
    child under age 13 who you believe has submitted personal information to this site, please
    contact us immediately.

  %h2 Not Our Territory

  %p
    Spot.Us contains links to other sites that are not owned or controlled by Spot.Us. Please be
    aware that we are not responsible for the privacy practices of such other sites. We encourage
    you to be aware when you leave our Site and to read the privacy statements of each and every
    website that collects Personal Information. This Privacy Statement applies only to information
    collected by this Site.

  %h2 Can’t We All Get Along?

  %p
    If you believe that Spot.Us has not adhered to the Privacy Statement, please contact Spot.Us by
    e-mail at info@spot.us [Subject line: Privacy Violation]. We will do our best to address your
    concerns. If you feel that your complaint has been addressed incompletely, we invite you to let
    us know for further investigation. If you and Spot.Us are unable to reach a resolution to the
    dispute, you and Spot.Us will settle the dispute exclusively under the rules of the American
    Arbitration Association (www.adr.org).


.block-spacer   
