<div class="contentContainer">

	<div class="staticTextContainer">
		
		<p>Thank you for visiting <a href="http://www.spot.us" title="http://www.spot.us">http://www.spot.us</a>, which is owned and operated by Minnesota Public Radio d/b/a American Public Media. These Terms of Use govern your use of this Site.</p> 

		<p>We know that your privacy is important to you, and we work hard to earn and keep your trust. We have created this Policy to let you know what Personal Information we collect when you use this Site, how we use and share the Personal Information we collect, and how we protect your privacy. It is important to note that this Policy applies only to Personal Information collected through this Site and does not apply to Personal Information obtained or used by APM through other means.</p>

		<p>Throughout this Policy we use certain capitalized terms, which are defined at the end of this Policy - <a rel="nofollow" href="#16">Definitions</a>.</p>

		<p>If you have any questions about this Policy or our privacy practices, please contact us using the following information:</p>

		<a rel="nofollow" name="contact"></a>
		<blockquote>American Public Media<br/>
		480 Cedar Street<br/>
		St. Paul, MN 55101<br/>
		651-290-1500 <br/>
		legal@mpr.org</blockquote>

		<h3>Table of Contents</h3>
		
		<ul>
			<li><a rel="nofollow" href="#1">Effective Date</a></li>

			<li><a rel="nofollow" href="#2">Your Consent</a></li>

			<li><a rel="nofollow" href="#2">This Policy is Part of Our Terms of Use</a></li>

			<li><a rel="nofollow" href="#3">Privacy Notices</a></li>

			<li><a rel="nofollow" href="#4">Other Agreements</a></li>

			<li><a rel="nofollow" href="#5">Information for Users Accessing this Site from Outside the United States</a></li>

			<li><a rel="nofollow" href="#6">Types of Information We Collect</a></li>

			<li><a rel="nofollow" href="#7">Third-Party Cookies</a></li>

			<li><a rel="nofollow" href="#8">How We Use Personal Information Collected Through This Site</a></li>

			<li><a rel="nofollow" href="#9">Your Choices</a></li>

			<li><a rel="nofollow" href="#10">How to Access, Update or Correct Your Personal Information</a></li>

			<li><a rel="nofollow" href="#11">Steps We Take to Safeguard your Personal Information</a></li>

			<li><a rel="nofollow" href="#12">How We Share Your Personal Information With Others</a></li>

			<li><a rel="nofollow" href="#13">Children Under the Age of Thirteen</a></li>

			<li><a rel="nofollow" href="#14">Links to Other Sites</a></li>

			<li><a rel="nofollow" href="#15">This Policy May Change</a></li>

			<li><a rel="nofollow" href="#16">Definitions</a></li>
			
		</ul>

		<a rel="nofollow" name="1"></a>
		<h3>Effective Date</h3>

		<p>December 1, 2011</p>

		<a rel="nofollow" name="2"></a>
		<h3>Your Consent</h3>

		<p>Please take a few minutes to review this Policy before using this Site. By using this Site you are consenting to the collection, use, and disclosure of your Personal Information as set forth in this Policy. If you do not agree to be bound by this Policy, you may not access or use this Site.</p>

		<a rel="nofollow" name="2"></a>
		<h3>This Policy is Part of Our Terms of Use</h3>

		<p>This Policy is part of the  <%= link_to "Terms of Use", page_path('terms') %> that govern your use of this Site. A link to our <%= link_to "Terms of Use", page_path('terms') %> is provided at the bottom of each page of this Site.</p>
		
		<a rel="nofollow" name="3"></a>
		<h3>Privacy Notices</h3>
		
		<p>This Policy may be supplemented or amended from time to time by Privacy Notices posted on this Site. These Privacy Notices provide a level of detail that we cannot provide in this more general description of our privacy practices. For example, certain pages of this Site may contain Privacy Notices providing details about the Personal Information we collect on those pages, why we need that information, and choices you may have about the ways we use that information.</p>
		
		<a rel="nofollow" name="4"></a>
		<h3>Other Agreements</h3>

		<p>When you sign up to use a special feature of this Site, you may be asked to agree to special terms governing your use of the special feature. In such cases, you may be asked to expressly consent to the special terms, for example, by checking a box or clicking on a button marked "I agree." This type of agreement is known as a "click-through" agreement. If any of the terms of the click-through agreement are different than the terms of this Policy, the terms of the click-through agreement will supplement or amend this Policy, but only with respect to the matters governed by the "click-through agreement."</p>

		<a rel="nofollow" name="5"></a>
		<h3>Information for Users Accessing this Site from Outside the United States</h3>

		<p>APM is a Minnesota nonprofit corporation headquartered in the United States. This Site is currently hosted on servers located in the United States, although we reserve the right to relocate this Site to other servers elsewhere in the world. Your Personal Information may be stored on servers located within the United States or in another country. In addition, we may transfer your Personal Information to our service providers and others located in the United States or another country for the purposes described in this Policy. Different countries have different privacy laws and requirements, and some provide less legal protection for your Personal Information than others. Please know, however, that no matter where your Personal Information is collected, used, transferred or stored, if it was collected through this Site, it will be protected by the terms of this Policy.</p>

		<p>BY USING THIS SITE, YOU ARE CONSENTING TO THE COLLECTION, USE, AND TRANSFER OF YOUR PERSONAL INFORMATION IN OR TO THE UNITED STATES OR TO ANY OTHER COUNTRY IN THE WORLD SUBJECT TO THE TERMS OF THIS POLICY.</p>

		<a rel="nofollow" name="6"></a>
		<h3>Types of Information We Collect</h3>

		<p><em>Information You Volunteer.</em> APM collects the Personal Information you and others knowingly and voluntarily provide when you use this Site. For example, we collect the Personal Information you submit when you register with this Site, sign up for one of our newsletters, comment on a news item, or contact us with questions.</p>

		<p><em>Information From Third-Party Social Media Platforms.</em> You may be able to choose to register, log-on, or enhance your profile on this Site using functionalities provided by a third-party social media platform, such as Facebook Connect. By doing this, you are asking the third-party social media platform to send to us information from your profile on that platform. We treat that information as we do any other information you give to us when you register, log-on, or enhance your profile. After you have connected, the third party may also send us additional information from your profile that allows us to offer certain functionalities on the pages you view.</p>

		<p><em>Information Sent to Us by Your Web Browser.</em> We collect information that is sent to us automatically by your Web browser. This information typically includes your IP address, the identity of your Internet service provider, the name and version of your operating system, the name and version of your browser, the date and time of your visit, and the pages you visit. Please check your browser if you want to learn what information your browser sends or how to change your settings.</p>

		<p><em>More About IP Addresses.</em> An "IP address" is a unique number that is automatically assigned to your computer when you connect to the Internet. It is used to identify your computer’s "location" in cyberspace, so that the information you request can be delivered to you. IP addresses do not include your name, email address, or other information that identifies you personally, but in some cases, they can be used to identify you. For example, if you have registered with this Site, we may link your IP address to account information that identifies you personally. We may also provide your IP address to our third-party service providers who can use it to identify your state and zip code. This gives us valuable demographic information about the individuals who use this Site. In addition, if we suspect inappropriate or criminal activity or a threat to the security of this Site or its users, we may share our server logs—which contain users’ IP addresses—with the appropriate investigative authorities, who could use that information to trace and identify individuals.</p>

		<p><em>Cookies and Similar Technologies.</em> We use "cookies" and other Web technologies to collect information and support certain features of this Site. For example, we may use these technologies to:</p>

		<ul>
			<li>collect information about the ways visitors use this Site—which pages they visit, which links they use, and how long they stay on each page;</li>
			<li>to support the features and functionality of this Site—for example, to save you the trouble of re-entering information already in our database or to prompt the settings you established on previous visits; and </li>
			<li>to personalize your experience when you use this Site. </li>
		</ul>

		<p>Generally, the information we collect using these Web technologies does not identify you personally. If, however, you have created a user identity, for example, by registering on this Site, we may link the information we collect using these Web technologies to other information that identifies you personally.</p>

		<p>Generally, if you do not wish to receive cookies, you may set your browser to reject cookies or to alert you when a cookie is placed on your computer. Although you are not required to accept cookies when you visit this Site, you may be unable to use all of the functionality of this Site if your browser rejects our cookies.</p>

		<p><em>Information from your mobile device.</em> If you download one of our mobile applications or access this Site through your mobile device, we may automatically collect certain information from or about your mobile device. The types of information we may collect include the type of device you use, your device’s unique ID, the IP address of your device, your device’s operating system, the type of mobile Internet browsers you use, and information about the way you use our mobile application(s) and this Site.</p>

		<p>Using GPS technology, and with your opt-in consent, we may also collect precise, real-time location information from your mobile device and use that information to deliver tailored content to you. For example, if one of our mobile applications recognizes that you are near a particular location, we may alert you to a news report about that location or send you a calendar of events taking place at that location. We may also share information about your location with your friends and other contacts, to the extent you interact with them using the social networking tools available on this Site or on our mobile application(s). Your mobile device may allow you to adjust your settings so that location information is not available to any mobile website or application. If you have questions about the security and privacy settings of your mobile device, please refer to instructions from your mobile service provider or the manufacturer of your device.</p>

		<a rel="nofollow" name="7"></a>
		<h3>Third-Party Cookies</h3>

		<p>In addition to the cookies APM delivers to your computer through this Site, certain third parties may deliver cookies to your computer for a variety of reasons. For example, we use Google Analytics, a web analytics tool that helps us understand how visitors engage with this Site. To learn more about Google Analytics, <a href="http://analytics.google.com" target="blank">click here</a>. </p>

		<p>Other third parties may deliver cookies to your computer through this Site for the purpose of tracking your online behaviors across nonaffiliated websites and delivering targeted advertisements either on this Site or on other websites.</p>

		<p>APM does not have access to, nor control over, the cookies of third-party service providers or advertisers. However, you have choices about the collection of information by third parties on this Site. For example, if you don’t want information about your visit to this Site sent to Google Analytics, you may download an Opt-out Browser Add-on. Please note that the Add-on does not prevent information from being sent to APM.</p>

		<p>In addition, if you would like to opt-out of having interest-based information collected by certain entities during your visits to this or other sites, click here. You will be directed to an industry-developed website that contains mechanisms for choosing whether each participating entity may collect and use data for online behavioral advertising purposes. It may be that some of the third parties that collect interest-based information on this Site do not participate in the industry-developed opt-out website, in which case the best way to avoid third-party tracking of your online behaviors may be through your browser settings and/or deletion of cookies.</p>

		<a rel="nofollow" name="8"></a>
		<h3>How We Use Personal Information Collected Through This Site</h3>

		<p>Generally, we use the Personal Information we collect through this Site:</p>

		<ul>
			<li>to provide the information, products and services you request;</li>
			<li>to better understand your needs and interests;</li>
			<li>to provide you with a personalized experience when you use this Site;</li>
			<li>to provide you with effective customer service; </li>
			<li>to improve the content, functionality and usability of this Site;</li>
			<li>to contact you with information and notices related to your use of this Site; </li>
			<li>to contact you with special offers and other information we believe will be of interest to you (in accordance with any privacy preferences you have expressed to us); </li>
			<li>to invite you to participate in surveys and provide Feedback to us (in accordance with any privacy preferences you have expressed to us); </li>
			<li>to improve our products and services;</li>
			<li>to improve our marketing and promotional efforts; </li>
			<li>for security, credit or fraud prevention purposes; and</li>
			<li>for any other purpose identified in any other agreement between you and us. </li>
		</ul>

		<p>Please see below for information about the choices you have about the ways we use your Personal Information.</p>

		<a rel="nofollow" name="9"></a>
		<h3>Your Choices</h3>

		<p><em>In General.</em> We respect your right to make choices about the ways we collect, use, and disclose your Personal Information. Discussed above are choices you have about delivery of cookies to your computer through this Site and choices you have about our collection of location information. In addition, we may ask you to indicate certain choices at the time we collect your Personal Information. For example, at the time you give us your contact information, we may provide to you an opportunity to choose (via "opt out" or "opt in") whether you receive certain communications from us and/or our business partners. We will also include an "unsubscribe" link in each electronic newsletter or promotional email we send to you, and you can always text STOP to stop receiving SMS text messages from us.</p>

		<p><em>Previously Expressed Preferences.</em> You may change previously expressed preferences regarding how we use your Personal Information. If you have registered with this Site or downloaded one of our mobile applications, you may be able to change certain privacy preferences through your account settings. Otherwise, if at any time you wish to be taken off our mailing lists, please contact us using the information provided <a href="#contact" rel="nofollow">above</a>. Once we have the information we need, we will remove you from our mailing lists as you have requested. Please give us a reasonable amount of time to honor your request.</p>

		<a rel="nofollow" name="10"></a>
		<h3>How to Access, Update or Correct Your Personal Information</h3>

		<p>If you have registered with this Site or downloaded one of our mobile applications, you may be able to access, update, or correct your Personal Information through your account settings. Otherwise, you may need our help. If you wish to access, update, or correct your Personal Information, please contact us using the information provided <a href="#contact" rel="nofollow">above</a>. We will respond to you within a reasonable time and, in any case, within the time limits established by applicable law. We may ask you for additional information to verify your identity. In most cases, we will provide access and correct or delete any inaccurate information you discover. In some cases, however, we may limit or deny your request if the law permits or requires us to do so or if we are unable to verify your identify. </p>

		<a rel="nofollow" name="11"></a>
		<h3>Steps We Take to Safeguard your Personal Information</h3>

		<p>We maintain reasonable administrative, physical, and technological measures to protect the confidentiality and security of Personal Information you submit on or through this Site. For example, we use SSL encryption to protect your credit card information as it travels over the Internet. Unfortunately, no website, server or database is completely secure or "hacker proof." We therefore cannot guarantee that your Personal Information will not be disclosed, misused or lost by accident or by the unauthorized acts of others.</p>

		<a rel="nofollow" name="12"></a>
		<h3>How We Share Your Personal Information With Others</h3>

		<p><em>Third–Party Vendors.</em> We may share Personal Information collected through this Site with third-party vendors who act for or on behalf of APM. For example, we may share Personal Information with companies that provide credit card verification services, online recruiting services, and Web hosting services. These third-party vendors may need information about you to perform their functions.</p>

		<p><em>APMG Related Companies.</em> APM is a related company of American Public Media Group ("APMG"). When you provide Personal Information through this Site we may share your Personal Information with APMG and its related companies. Before doing so, however, we may offer you the opportunity to "opt out." Every APMG related company is required to handle information collected through this Site in accordance with this Policy and the privacy preferences you have expressed to us. Accordingly, if we share your Personal Information with a related company, it will use your information only as permitted under this Policy (and any applicable Privacy Notices notices) and will honor the privacy preferences you have expressed to us</p>

		<p><em>User-Generated Content.</em> The User-Generated Content you submit on or through this Site is available to others who visit this Site. Any Personal Information contained in User-Generated Content you submit can be read, collected, or used by others, and could be used to send you unsolicited messages. In addition, we may use User-Generated Content you submit on or through this Site in connection with our news gathering and reporting activities or for advertising campaigns and other promotions. We may or may not use your name in connection with such use, and we may or may not seek your consent before using the content for such purposes. Therefore, you should have no expectation of privacy with respect to User-Generated Content you submit on or through this Site. You should not submit any content you do not wish to make available to the general public, and you must take special care to make sure your submissions comply with our <%= link_to "Terms of Use", page_path('terms') %>. In particular, your submissions must not violate the privacy or other rights of others.</p>

		<p><em>Other Carefully Selected Third Parties.</em> From time to time, we may share your Personal Information with carefully selected third parties (other than our vendors and related companies). For example, we may partner with a third party to offer a contest or giveaway through this Site, and we may share with the third party the Personal Information you submit for purposes of participating in the contest or giveaway. Your ability to participate in the contest or giveaway may be conditioned on your consent to such disclosure. In other cases, we may offer you an opportunity to "opt out" of such disclosure.</p>

		<p><em>Business Negotiations.</em> We may contemplate, for strategic or other reasons, selling, buying, merging, or otherwise reorganizing one or more of our businesses. In negotiating with a third party about entering into such an arrangement, we may need to disclose your Personal Information. In such cases, we will take reasonable measures to protect the Personal Information we disclose, for example, by requiring a prospective purchaser to sign a non-disclosure agreement limiting the use and protecting the confidentiality of the Personal Information. </p>

		<p><em>Business Transfers.</em> Your Personal Information may be transferred to a successor organization if, for example, we transfer the ownership or operation of this Site to another organization or if we merge with another organization. If such a transfer occurs, the successor organization’s use of your Personal Information will still be subject to this Policy and the privacy preferences you have expressed to us.</p>

		<p><em>Compliance with Laws and Protection of Our Rights and the Rights of Others.</em> We may disclose your Personal Information when we, in good faith, believe disclosure is appropriate to comply with the law, a court order, or a subpoena. We may also disclose your Personal Information to prevent or investigate a possible crime, such as fraud or identity theft; to protect the security of this Site; to enforce or apply our online <%= link_to "Terms of Use", page_path('terms') %> or other agreements; or to protect our own rights or property or the rights, property or safety of our users or others.</p>
		
		<p><em>As Described in a Privacy Notice.</em> We reserve the right to disclose your Personal Information as described in any Privacy Notice posted on the Web page where you provide that information. By providing your Personal Information on that Web page you will be consenting to the disclosure of your Personal Information as described in that Privacy Notice.</p>
		
		<a rel="nofollow" name="13"></a>
		<h3>Children Under the Age of Thirteen</h3>

		<p>This Site is not intended for children or minors under the age of thirteen years without the permission of a parent or guardian. If you believe that a child has submitted Personal Information on or through this Site without the consent and supervision of a parent or guardian, please contact us using the information provided <a href="#contact" rel="nofollow">above</a>.</p>

		<a rel="nofollow" name="14"></a>
		<h3>Links to Other Sites</h3>

		<p>This Site contains links to other websites operated by APM and its service providers, websites operated by APM’s related companies, and websites operated by nonaffiliated organizations. For example, you may see links on this Site to the Public Insight Network, the purpose of which is to connect journalists with knowledgeable sources. This Policy does not apply to Personal Information collected through the Personal Insight Network or to Personal Information collected on any other website. When you access another website through a link on this Site, please take a few minutes to review the privacy policy posted on that site.</p>

		<a rel="nofollow" name="15"></a>
		<h3>This Policy May Change</h3>

		<p>This Policy describes APM’s current policies and practices with regard to the Personal Information we collect through this Site.</p>

		<p>We are continually improving and adding to the features and functionality of this Site and the services we offer through this Site. As a result of these changes (or changes in the law), we may need to update or revise this Policy. Accordingly, we reserve the right to update or modify this Policy at any time, without prior notice, by posting the revised version of this Policy behind the link marked "Privacy Policy" at the bottom of each page of this Site. Your continued use of this Site after we have posted the revised Policy constitutes your agreement to be bound by the revised Policy.</p>

		<p>For your convenience, whenever this Policy is changed, we will alert you by posting a notice on our home page for sixty days. We will also update the "effective date" at the top of this page. If more than sixty days goes by between your visits to this Site, be sure you check the effective date to see if this Policy has been revised since your last visit.</p>

		<p>You may access the current version of this Policy at any time by clicking the link marked "Privacy Policy" at the bottom of each page of this Site.</p>

		<a rel="nofollow" name="16"></a>
		<h3>Definitions</h3>

		<p><em>The terms "APM," "we," "us," and "our"</em> refer to Minnesota Public Radio d/b/a American Public Media.</p>

		<p><em>The term "Feedback"</em> refers to all of the text, photographs, images, illustrations, graphics, sounds, video, audio-video clips, and other content that you post on or through this Site that is specifically about how we can improve this Site and the products and services we make available through this Site. See also the definition of "User-Generated Content."</p>

		<p><em>The term "Personal Information"</em> refers to information that identifies you personally, alone or in combination with other information available to us. Examples of Personal Information include your name, address, and email address.</p>

		<p><em>The term "Privacy Notice"</em> refers to notices posted on particular pages of this Site that provide a level of detail that we cannot provide in this more general description of our privacy practices. Privacy Notices provide details about the Personal Information we collect on those pages, why we need that information, and choices you may have about the ways we use that information.</p>

		<p><em>The terms "Privacy Policy" and "Policy"</em> refer to this online Privacy Policy.</p>

		<p><em>References to this "Site"</em> refer to the website owned by APM and located at <a href="http://www.spot.us" title="http://www.spot.us">http://www.spot.us</a>.</p>

		<p><em>The term "User-Generated Content"</em> refers to all of the text, photographs, images, illustrations, graphics, sound recordings, video, audio-video clips, and other content that you post on or through this Site using the social networking tools we make available to you and that does not constitute Feedback. One way that User-Generated Content differs from other information you provide to us is that, once submitted, User-Generated Content is made available instantaneously to others who visit this Site. Examples of User-Generated Content include comments posted to discussion boards or beneath stories available on this Site.</p>

		<p>fb.us.7435815.03</p>

	</div>
	
</div>