.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Privacy Policy
  .double_content_border  
  
  %h2 Your privacy is important to us.
  
  %p
    No… seriously. This is a community site and you are our community, ergo your privacy is
    important to Spot.Us.
  
  %p
    Our goal is to make enough space for Spot.Us to continue operating without endangering your
    privacy. The policy may be revised or updated from time to time by us. We encourage you to check
    back often to ensure that you are familiar with the most recent version and the terms of our
    policy.
      
  %p
    We’ve tried to keep this informal, but we also advise that you read
    the policy completetly (including the boring paragraphs).

  %p
    YOUR USE OF THIS SITE, OR YOUR PROVISION TO US OF ANY PERSONAL INFORMATION CONSTITUTES YOUR
    AGREEMENT TO THESE TERMS AND ANY SUBSEQUENT CHANGES TO THESE TERMS; DO NOT USE THE SITE OR
    PROVIDE INFORMATION IF YOU DO NOT AGREE WITH ALL OF THE TERMS.
     
  %h2 On Your Personal Information
    
  %p
    Yes, we do ask for some of your information, including email address, general location,
    interests, and credit card information throughout the site. Anybody who wants to engage in
    Spot.Us must become a site member and fill in these types of fields during the sign up process.
    We don’t collect this information to spy on you, but to create a marketplace that will empower
    and enable local journalism. That is our only goal. We will only use this information to serve
    that end.
    
  %p 
    To stay committed to this goal, except as otherwise provided in this Privacy Policy, we will not
    share your personal information with any third party for the sake of advertising or political
    ends.
  %h2 We Abide By The Rules, Too
  
  %p
    If Spot.Us is asked to disclose the information in response to warrants, subpoenas or other
    valid legal process, we will begrudgingly do so, but we hope you can understand that we don’t
    want to break the law.
    
  %h2 Some Info You Post Is Public

  %p
    Some actions taken on Spot.Us, such as leaving a comment or creating a "pitch" or "tip" are
    visible to the public. Identification of all contributed content may include, but is not limited
    to, display of your account name and photo. All content may be retained for restorative,
    archival, or research purposes by Spot.Us. Editing or deleting content may alter the displayed
    state of the content, but will not permanently delete the content from the website. We are not
    responsible for the personal information you choose to submit in the public facing parts of the
    site.
  
  %h2 You Can Opt Out Of Emails From Spot.Us

  %p
    The more we know about you, the better we are able to customize our web site to suit your
    personal preferences and interests. The e-mail address you provide may be used by Spot.Us to
    contact you for editorial purposes or to advise you of any changes to our site. Spot.Us may also
    contact you on occasion to let you know about specific actions that are available that can be
    taken to benefit the local journalism marketplace that we are setting up. At any time you can
    opt out of these messages from your personal settings page (under email notification settings).
    But even if you don't opt-out, we promise not to spam and that when we do reach out it will be
    for a good cause.
  
  %h2 On Credit Card Information

  %p
    We do ask for your credit card information during the process of donating to a pitch. This
    information is only asked on pages that are safe and secure. You can verify this by noting that
    the page is encrypted with SSL. Also note, we do not store that credit card information on our
    servers. That information is verified by a professional payment gateway system called
    Authorize.Net. All credit card information is encrypted – so nobody (including Authorize.Net)
    has access to it once you’ve entered the information.
  %p
    Note: No data transmission over the Internet or any wireless network can be 100% guaranteed to
    be secure. As a result, while we try to protect your personal information, we cannot ensure or
    guarantee the security of information you transmit to us, and you do so at your own risk. We
    are not liable for the illegal acts of any third party.

  %h2 Auto-magical Information We Get

  %p
    The server does, however, keep a record of other actions you take on the site (pages you visit,
    fields you input, etc). Even if you are not logged in we note what URL you visited, your browser
    type and IP address. Lots of websites do this, it’s standard web server access log stuff. We
    keep this information only to study how people are engaging in our site. We will examine this
    information in terms of demographics, not to study individual users. We will not single people
    out as case studies without their explicit permission.

  %h2 Who Doesn’t Love Google?

  %p
    We analyze traffic to Spot.Us in various ways, including using a service called Google
    Analytics. (Google Analytics is subject to the privacy policy of Google, Inc., which you can
    find on their website.) We use this information to generate statistics and measure site activity
    to improve the usefulness of the site to our visitors.

  %h2 Cookie Monster Information

  %p
    We do use cookies but only to note if you are a user that has previously logged in to our site. This
    cookie is opt-in and noted in the login screen with a “remember me” checkbox.

  %h2 "You Know, For The Kids."

  %p
    This website’s content is intended for adults and we will not knowingly collect personal
    information from children under 13 years of age. If you are a parent or legal guardian of a
    child under age 13 who you believe has submitted personal information to this site, please
    contact us immediately.

  %h2 Not Our Territory

  %p
    Spot.Us contains links to other sites that are not owned or controlled by Spot.Us. Please be
    aware that we are not responsible for the privacy practices of such other sites. We encourage
    you to be aware when you leave our site and to read the privacy statements of each and every
    website that collects personal information. This Privacy Policy applies only to information
    collected by Spot.Us Site.

  %h2 Can’t We All Just Get Along?

  %p
    If you believe that Spot.Us has not adhered to the Privacy Statement, please contact Spot.Us by
    e-mail at info@spot.us (please include he subject: Privacy Violation]. We will do our best to
    address your concerns. If you feel that your complaint has been addressed incompletely, we
    invite you to let us know for further investigation.
    
  %p
    Effective date of this agreement: November 1st, 2008

.block-spacer   
