%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Quick Donate
  .double_content_border
  %p
    This feature is coming. Spot.Us is a living breathing website and we have lots of features, like
    the ability to donate to a beat rather than a specific pitch. We have lots on our plate. Before
    we can push forward we first have to make sure Spot.Us' website is running strong and serving
    you.

  %hr/
  %p
    For now we ask that you find a specific pitch (Fund a story above) and donate to that.

.block-spacer
.block-spacer
.block-spacer