%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Mandoatry Reading for All Reporters
  %h3 
    == #{link_to "Also See FAQ's for Reporters", page_path("about") + "#faq_reporter"},
  
  .double_content_border
  %p    
    Spot.Us is a new marketplace that is constantly learning how the public will value journalism.
    As such - we suggest the following as a guide to figuring out how much a reporter should ask
    while pitching the public.
  %p
    %h3{:style => "color: red;"}
      %strong 
        1. Investigative Report 
  %strong
    $600-$1,400 - Most are $1,000 
    %br 
      Deadlines: Three months to fundraise; two
    months to report.
  %p
    Involves research and original reporting - is enterprise reporting that requires digging.
    Involves expertise in subject matter Reporting is time-consuming The writing is crafted for
    clarity and is organized into scenes. May require travel or out of pocket expenses - (Should be
    added to cost) Multimedia rich - a part of telling the story. A ground upon which new community
    is built. Provides new information that education and informs
  %p
    %h3{:style => "color: red;"}
      %strong 
        2. Enterprise Report
  %strong
    $400-$950 Most are $550 Deadlines: 
    %br
      Ten weeks to fundraise; one months to report.
  %p
    Involves multiple interviews with experts or involved subjects. On-site reporting. Interviews
    conducted in several different places. Uses multimedia to enhance story. Requires good knowledge
    of subject matter. Works with and bolsters an existing community. Provides resources to
    information that can educate and inform.
  %p
    %h3{:style => "color: red;"}
      %strong 
        3. Beat Report
  %strong
    $350-$500, Most are $350 
    %br  
      Deadlines: Two months to fundraise; one months to report.
  %p
    Interviewees found through other reports/news conferences. Most or all interviews conducted on
    phone. Interviews conducted mostly in one place. Minimal use of multimedia.

  %p
    %h3{:style => "color: red;"}
      %strong 
        4. Quick Hit
  %strong 
    $150-$350 
    %br 
      Deadline: One month to fundraise; two weeks to report.
  %p
    Do not take much longer than a full day of reporting/writing
  
  %h3 
    More mandatory reading ;)
    %a{:name => "Agreement"}
  %h2{:style => "color: red;"} Spot.Us and Reporter Agreement
  %P  
    Note: This is separate from the
    == #{link_to "legal contract", page_path("reporter_contract")}
    that reporters agree to when creating a pitch. This is to lay out the expectations of Spot.Us and the reporter in our working relationship to
    fund good journalism.
  %p
  %h3{:style => "color: red;"}
    %strong 
      Spot.Us will do the following: 
  %ul
    %li
      1. Provide any technical assistance necessary within reasonable expectations. 
    %li
      2. Be available for consultation regarding the focus of your pitch. 
    %li
      3. Be available for consultation regarding the fundraising efforts for your pitch. 
    %li
      4. Spot.Us fundraises for specific pitches - including yours as resources permit. (see reporters agree to #2) 
    %li
      5. Assign a fact-check editor to assist the reporter. Editor is entitled to 10% of money raised. 
    %li
      6. Deliver money raised to reporter/fact-check editor upon completion of reporting and
      receiving a w-9.

  %h3{:style => "color: red;"}
    %strong 
      Reporters agree to the following:
  %ul
    %li
      1. Maintain consistent communication via email, texts or calls, with Spot.Us.
    %li
      2. Help to promote story online and offline to civic groups and to pitch traditional news organizations.
    %li
      3. Agree to being filmed or do to a video for the purposes of marketing the story.
    %li
      4. Work collaboratively with an assigned fact-check editor. Reporter can reject first two assigned editors but third time is the charm ;)
    %li
      5. Upon acceptance of assignment (raised money) to do thorough, accurate and timely reporting.
    %li
      6. Rock out!
  %p
    <div style="width:425px;text-align:left" id="__ss_927390"><a style="font:14px
    Helvetica,Arial,Sans-serif;display:block;margin:12px 0 3px 0;text-decoration:underline;"
    href="http://www.slideshare.net/Digidave/spotus-for-reporters-presentation?type=powerpoint"
    title="Spot.Us - for reporters">Explanation</a><object style="margin:0px"
    width="425" height="355"><param name="movie"
    value="http://static.slideshare.net/swf/ssplayer2.swf?doc=for-reporters-1232234044468507-3&stripped_title=spotus-for-reporters-presentation"
    /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/>
    <embed
    src="http://static.slideshare.net/swf/ssplayer2.swf?doc=for-reporters-1232234044468507-3&stripped_title=spotus-for-reporters-presentation"
    type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"
    width="425" height="355"></embed></object><div
    style="font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;">View SlideShare
    <a style="text-decoration:underline;"
    href="http://www.slideshare.net/Digidave/spotus-for-reporters-presentation?type=powerpoint"
    title="View Spot.Us - for reporters on SlideShare">presentation</a> or <a
    style="text-decoration:underline;"
    href="http://www.slideshare.net/upload?type=powerpoint">Upload</a> your own. (tags: <a
    style="text-decoration:underline;" href="http://slideshare.net/tag/journalism">journalism</a>
    <a style="text-decoration:underline;"
    href="http://slideshare.net/tag/spot">spot</a>)</div></div>