.block-spacer
.box_white
  %h2 INDEPENDENT CONTRACTOR AGREEMENT
  .double_content_border  
  %p
    THIS INDEPENDENT CONTRACTOR AGREEMENT (the "Agreement") is entered into as of the date of
    acceptance on the website www.spot.us (the "Effective Date") by and between the Center for Media
    Change, Inc., a California public benefit corporation [doing business as Spot.Us] (the
    "Organization") and the independent reporter identified by a specific user account that has
    created a pitch and accepted the “Contractors Agreement” associated with it and thereby has
    entered this agreement ("Contractor") (together, the "Parties") and sets forth the terms and
    conditions governing the contractual relationship (the "Relationship") between the Parties.
  
  %p
    1. SERVICES. Contractor agrees to investigate a topic (the "Topic") as described in the “pitch”
    that was created by this user on the website www.spot.us and produce a journalistic article (the
    "Article") pertaining to the Topic (the "Services"). The Article’s deliverables shall be what is
    described in the “pitch” and shall be furnished by Contractor to the Organization no later than
    [sixty (60) days] after the date hereof unless an alternative deadline is otherwise stipulated
    in the originating pitch. Contractor agrees to use his or her best efforts in performing the
    Services and hereby agrees that he or she shall not accept work, enter into a contract or accept
    an obligation inconsistent or incompatible with Contractor’s obligations to the Organization
    under the terms of this Agreement.

  %p
    The Organization may require revision of the Article by Contractor after submission and
    Contractor agrees that such revisions shall be made in a timely manner as requested by the
    Organization. The Organization reserves the right to directly edit or revise the Article after
    submission by Contractor and Contractor agrees that he or she will cooperate with the
    Organization's revision and editing process. Upon the Organization's request, Contractor will be
    available for and will cooperate with the Organization's fact-checking procedures and will
    supply the Organization with Contractor's investigation and research material relating to the
    Article.

  %p
    2. TERMINATION. This Agreement commences on the Effective Date and continues until the Article
    has been accepted by the Organization in final form, without further edits ("Article
    Acceptance"), unless terminated earlier by the Organization, for any reason, with ten (10)
    calendar days' prior written notice. If Contractor breaches this Agreement or fails to fulfill
    Contractor's responsibilities under this Agreement, Organization may, in addition to its other
    remedies, immediately terminate this Agreement. If the Agreement is terminated for any reason,
    no Fee will be due to Contractor as provided in Section 3 below. In all cases, Section 5 (Grant
    of Rights), Section 6 (Confidentiality), Section 7 (Non-Competition), Section 8 (Certain
    Covenants) and Section 9 (General Provisions) herein shall survive any termination of the
    Agreement.
  
  %h1 TODO
    
  / 
  /     3.  CONSULTING FEES.  In exchange for the Services to be provided under this Agreement, the Organization agrees to pay Contractor a fee specifically stated in the originating pitch which is set by the Contractor (the "Fee") within thirty days of the date of the Article Acceptance.  The Organization's obligation to pay the Fee is expressly conditioned upon the Contractor's providing the Services to Organization's reasonable satisfaction.  Payment hereunder will be made payable and sent to Contractor or Contractor's designated payee (''Payee"), as set forth below.  Contractor represents that payments to Payee of monies due to Contractor under this Agreement will discharge such payment obligations.  Any change in these payment instructions requires a written document signed by both Contractor and Payee.
  / Make check payable to: the user’s address as defined in the profile page of the website www.spot.us.
  / 4.  INDEPENDENT CONTRACTOR STATUS.  The Organization and Contractor each acknowledge and agree that Contractor shall serve as an independent contractor and not as an employee of the Organization.  The Organization and Contractor hereby covenant with one another to treat the engagement of Contractor as that of an independent contractor, and not an employee, for all purposes. 
  / 
  /     a.  Exercise of Independent Judgment.  Contractor is engaged by the Organization to exercise his or her own independent and professional judgment in performing the Services pursuant to this Agreement.  Contractor, in his or her sole discretion, will determine the manner, means, details and methods used in performing the Services.  
  / 
  /     b.  No Right to Fringe Benefits.  In connection with the Services, Contractor shall not be entitled to, and shall make no claim to, rights or fringe benefits afforded to the Organization’s employees, including health insurance, disability or unemployment insurance, workers’ compensation insurance, pension and retirement, profit-sharing, or any other policy or plan applicable to employees of the Organization.
  / 
  /     c.  Responsibility for Taxes.  Contractor is responsible for paying all Federal, state, and local income or business taxes, including estimated taxes, self-employment and any other taxes, fees, additions to tax, interest or penalties which may be assessed, imposed, or incurred as a result of the Fees paid by the Organization pursuant to this Agreement. 
  / 
  / d.  Inability to Bind the Organization.  Contractor shall not have any right or authority to assume or create any obligation or responsibility, express or implied, on behalf of or in the name of the Organization, or to bind the Organization in any manner, except as may be authorized in writing by a duly authorized officer or manager of the Organization, and shall not make any contrary representation to any third party.  
  / 
  / e.  Assistants.  Contractor is responsible in all respects for any assistants or sub-contractors that Contractor may retain.  
  / 
  /     5.  GRANT OF RIGHTS.  Contractor agrees that he or she will promptly make full written disclosure to the Organization, will hold in trust for the sole right and benefit of the Organization, and does hereby assign to the Organization, or its designee, all of Contractor’s right, title and interest throughout the world in and to the Article, whether or not registrable under copyright or similar laws.  Contractor further acknowledges that the Article is a "work made for hire" (to the greatest extent permitted by applicable law) and is compensated by the Fee paid to Contractor under this Agreement.  The Organization has the sole discretion to decide whether, when and how to publish the Article and may sell or license any rights to the Article.  The Organization may use Contractor's name and likeness in publishing, promoting, advertising, and publicizing the Article or the Organization and its activities.
  / 
  / 6.  CONFIDENTIALITY.  The subject of Contractor's Services under this Agreement and all details relating to them will be held confidential by Contractor and may be discussed by Contractor only with those individuals necessary for the preparation of the Article.  Contractor will not allow anyone outside of the Organization (including but not limited to the subjects and the subjects' representatives) to view the Article or portions thereof before the Article has been submitted to the Organization.
  / 
  / 7.  NON-COMPETITION.  Contractor will not, until ninety (90) days after the initial publication or public dissemination of the Article, write, publish, or disseminate, or cooperate in the publication of, in any form, an article, broadcast, or other communication, or submit to an interview, on the same or a similar subject as the Article unless Contractor has received written consent to do so by the Organization.
  / 
  / 8.  CERTAIN COVENANTS AND INDEMNIFICATION.  Contractor covenants that the Article will be original work by Contractor, will not have been previously published in any form and will not infringe upon the personal or proprietary rights of, or give rise to any claim by, any third party.  In the event any complaint relating to the Services is made by any third party at any time, whether by a formal legal claim or otherwise, Contractor will fully cooperate with the Organization in responding to and defending against such complaint or claim.  Contractor covenants that Contractor will conduct a due and diligent inquiry with regard to all representations of fact contained in the Article and that all such representations will be true and correct to the best of Contractor's knowledge.  
  / 
  / Contactor agrees to indemnify and hold the Organization harmless from any and all losses, claims, damages, expenses and liabilities (including any investigation, legal and other expenses) incurred by the Organization on account of any action, suit, proceeding or alternative dispute resolution mechanism, whether civil, criminal, administrative, or investigative, arising out of Contractor's performance of the Services pursuant to this Agreement.
  / 
  / 9.  GENERAL PROVISIONS.
  / 
  /     a.  Relationship of the Parties.  Nothing contained in this Agreement shall be deemed to render the Relationship between the Parties hereto as that of employer and employee and neither Party shall hold itself out as such.  The Relationship of the Parties is solely contractual in nature.
  / 
  /     b.  Assignment.  Contractor shall neither assign any rights nor delegate any personal duties under this Agreement.  This Agreement may be assigned to any successor of the Organization.
  / 
  /  c. Notices.  Any notices which are required to be given pursuant to this Agreement must be in writing and may be given by personal delivery, or by registered or certified mail (postage prepaid, return receipt requested), facsimile, courier, or overnight mail delivery.
  / 
  /     d.  Modification/Waiver.  This Agreement may not be modified or waived in whole or in part except in writing signed by each of the Parties.  A waiver of any of the terms or conditions of this Agreement in any instance shall not be deemed or construed to be a waiver of such term or condition for the future, or of any subsequent breach thereof, or of any other term or condition of this Agreement. 
  / 
  /     e.  Governing Law; Forum Selection.  This Agreement shall be construed and enforced in accordance with the laws of the State of California without regard to its conflicts of law rules.  
  / 
  /     f.  Counterparts.  This Agreement may be executed in one or more counterparts, each of which shall be deemed to constitute an original and which together shall constitute one and the same Agreement.
  / 
  /     g.  Entire Agreement.  This Agreement is complete and embraces the entire understanding of and between the Parties, all prior understandings of or in connection with the subject matter contained herein, either oral or written, having been merged herein or canceled.  No representations have been made by the Organization except those expressly set forth herein.
  / 
  / 
  / 
  / By clicking the button related to this agreement the Parties have executed this Agreement as of the date the originating pitch is created.
  / 

    

.block-spacer
