%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Mandatory Reading for All Reporters
  %h3 
    == #{link_to "Also See FAQ's for Reporters", page_path("about") + "#faq_reporter"},
  
  .double_content_border
  %p    
    Spot.Us is a new marketplace that is constantly learning how the public will value journalism.
    As such - we suggest the following as a guide to figuring out how much a reporter should ask
    while pitching the public.
  %p
    %h3{:style => "color: red;"}
      %strong 
        1. Investigative Report 
  %strong
    $600-$1,400 - Most are $1,000
    %br 
    Roughly 60 hours of work at a rate of $10-$25 based on level of experience
    %br 
      Deadlines: Three months to fundraise; two
    months to report.
  %p
    %ul
      %li 
        Involves research and original/enterprise reporting that is time consuming.
      %li
        Requires expertise in subject matter.
      %li
        The story is crafted and the writing has clarity and is organized into scenes.
      %li
        Extensive blogging about the reporting throughout the process of reporting.
      %li
        Multimedia rich - a part of telling the story.
      %li
        A ground upon which new community is built.
      %li
        Provides new information that educates and informs.      
  %p
    %h3{:style => "color: red;"}
      %strong 
        2. Enterprise Report
  %strong
    $400-$950 Most are $550 Deadlines: 
    %br
    Roughly 40 hours of work at a rate of $10-$25 based on level of experience
    %br
    Ten weeks to fundraise; one month to report.
  %p
    %ul
      %li 
        Involves multiple interviews with experts or involved subjects. 
      %li
        On-site reporting. Interviews conducted in several different places. 
      %li
        Persistent blogging through the fundraising and reporting process.
      %li
        Uses multimedia to enhance story. 
      %li  
        Requires good knowledge of subject matter. 
      %li
        Works with and bolsters an existing community. 
      %li  
        Provides resources to information that can educate and inform.
  %p
    %h3{:style => "color: red;"}
      %strong 
        3. Beat Report
  %strong
    $350-$500, Most are $350 
    %br
    Roughly 25 hours of work at a rate of $10-$25 based on level of experience
    %br  
      Deadlines: Two months to fundraise; one month to report.
  %p
    %ul
      %li
        Minimal use of multimedia.
      %li
        Blogging is encouraged through the process of fundraising and reporting.
      %li
        Interviews conducted in person or on phone.
      %li
        Story of clean and crafted for clarity.    

  %p
    %h3{:style => "color: red;"}
      %strong 
        4. Quick Hit
  %strong 
    $150-$350 
    %br
    Roughly 15 hours of work at a rate of $10-$25 based on level of experience
    %br 
      Deadline: One month to fundraise; two weeks to report. Note: Not preferred on Spot.Us.
  %p
    %ul
      %li
        Does not require speciality knowledge. 
      %li
        Help update an ongoing story and pushes it a little further. 
      %li
        Uses links to help build the background.
  
  %h3 
    More mandatory reading ;)
    %a{:name => "agreement"}
  %h2{:style => "color: red;"} Spot.Us and Reporter Agreement
  %P  
    Note: This is separate from the
    == #{link_to "legal contract", page_path("reporter_contract")}
    that reporters agree to when creating a pitch. This is to lay out the expectations of Spot.Us and the reporter in our working relationship to
    fund good journalism.
  %p
  %h3{:style => "color: red;"}
    %strong 
      Spot.Us will do the following: 
  %ul
    %li
      Provide any technical assistance necessary within reasonable expectations. 
    %li
      Be available for consultation regarding the focus of your pitch. 
    %li
      Add to the blogging efforts of pitches during the reporting process.
    %li  
      Be available for consultation regarding the fundraising efforts for your pitch. 
    %li
      Spot.Us fundraises for specific pitches - including yours as resources permit. (see reporters agree to #2) 
    %li
      Assign a peer-review editor to assist the reporter. Editor is entitled to 10% of money raised. 
    %li
      Deliver money raised to reporter/peer-review editor upon completion of reporting and
      receiving a w-9.

  %h3{:style => "color: red;"}
    %strong 
      Reporters agree to the following:
  %ul
    %li
      Maintain consistent communication via email, texts or calls, with Spot.Us.
    %li
      Blog throughout the process their reporting efforts.
    %li  
      Help to promote story online and offline to civic groups and to pitch traditional news organizations.
    %li
      Agree to being filmed or do to a video for the purposes of marketing the story.
    %li
      Work collaboratively with an assigned peer-review editor. Reporter can reject first two assigned editors but third time is the charm ;)
    %li
      Upon acceptance of assignment (raised money) to do thorough, accurate and timely reporting.
    %li
      Rock out!
  %p
    <div style="width:425px;text-align:left" id="__ss_927390"><a style="font:14px
    Helvetica,Arial,Sans-serif;display:block;margin:12px 0 3px 0;text-decoration:underline;"
    href="http://www.slideshare.net/Digidave/spotus-for-reporters-presentation?type=powerpoint"
    title="Spot.Us - for reporters">Explanation</a><object style="margin:0px"
    width="425" height="355"><param name="movie"
    value="http://static.slideshare.net/swf/ssplayer2.swf?doc=for-reporters-1232234044468507-3&stripped_title=spotus-for-reporters-presentation"
    /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/>
    <embed
    src="http://static.slideshare.net/swf/ssplayer2.swf?doc=for-reporters-1232234044468507-3&stripped_title=spotus-for-reporters-presentation"
    type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"
    width="425" height="355"></embed></object><div
    style="font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;">View SlideShare
    <a style="text-decoration:underline;"
    href="http://www.slideshare.net/Digidave/spotus-for-reporters-presentation?type=powerpoint"
    title="View Spot.Us - for reporters on SlideShare">presentation</a> or <a
    style="text-decoration:underline;"
    href="http://www.slideshare.net/upload?type=powerpoint">Upload</a> your own. (tags: <a
    style="text-decoration:underline;" href="http://slideshare.net/tag/journalism">journalism</a>
    <a style="text-decoration:underline;"
    href="http://slideshare.net/tag/spot">spot</a>)</div></div>
