<div class="contentContainer">
	<h1> Mandatory Reading for All Reporters</h1>
	<hr/>
	<h4><a href="/pages/about#faq_reporter">Also See FAQ's for Reporters &raquo;</a></h4>
	<p>    
		Spot.Us is a new marketplace that is constantly learning how the public will value journalism.
		As such - we suggest the following as a pricing guide for various pitches.
	</p>
	<p>    
		The prices below are not written in stone. Reporters can suggest their own rates in creating a
		pitch, but must justify them.
	</p>
	<h2>
		1. Investigative Report
	</h2>
	<p> 
		<strong>
			$600-$1,400 - Most are $1,000
		</strong>  
		<br/>
		Roughly 60 hours of work at a rate of $10-$25 based on level of experience
		<br/> 
		Deadlines: Three months to fundraise; two months to report.
	</p>
	<p>
		<ul>
			<li>Involves research and original/enterprise reporting that is time consuming.</li>
			<li>Requires expertise in subject matter.</li>
			<li>The story is crafted and the writing has clarity and is organized into scenes.</li>
			<li>Extensive blogging about the reporting throughout the process of reporting.</li>
			<li>Multimedia rich - a part of telling the story.</li>
			<li>A ground upon which new community is built.</li>
			<li>Provides new information that educates and informs.</li>
		</ul>      
	</p>
	<h2>
		2. Enterprise Report
	</h2>
	<p>
		<strong>
			$400-$950 Most are $550 Deadlines: 
		</strong>
		<br/>
		Roughly 40 hours of work at a rate of $10-$25 based on level of experience
		<br/>
		Ten weeks to fundraise; one month to report.
	</p>
	<p>
		<ul>
			<li>Involves multiple interviews with experts or involved subjects.</li> 
			<li>On-site reporting. Interviews conducted in several different places.</li>
			<li>Persistent blogging through the fundraising and reporting process.</li>
			<li>Uses multimedia to enhance story.</li>
			<li>Requires good knowledge of subject matter.</li>
			<li>Works with and bolsters an existing community.</li> 
			<li>Provides resources to information that can educate and inform.</li>
		</ul>  
	</p>
	<h2>
		3. Beat Report
	</h2>
	<p> 
		<strong>
			$350-$500, Most are $350
		</strong>  
		<br/>
		Roughly 25 hours of work at a rate of $10-$25 based on level of experience
		<br/>  
		Deadlines: Two months to fundraise; one month to report.
	</p>
	<p>
		<ul>
			<li>Minimal use of multimedia.</li>
			<li>Blogging is encouraged through the process of fundraising and reporting.</li>
			<li>Interviews conducted in person or on phone.</li>
			<li>Story is clean and crafted for clarity.</li>
		</ul> 
	</p>       
	<h2>
		4. Quick Hit
	</h2>
	<p>
		<strong> 
			$150-$350 
		</strong>
		<br/>
		Roughly 15 hours of work at a rate of $10-$25 based on level of experience
		<br/> 
		Deadline: One month to fundraise; two weeks to report. Note: Not preferred on Spot.Us.
	</p>
	<p>
		<ul>
			<li>Does not require speciality knowledge.</li>
			<li>Help update an ongoing story and pushes it a little further.</li> 
			<li>Uses links to help build the background.</li>
		</ul>
	</p>
	<br/><br/>
	<hr />
	<br/><br/>
	<p>
		<a name="agreement"></a>
	</p>
	<p>
		<h2>Spot.Us and Reporter Agreement</h2>
	</p>
	<p>  
		Note: This is separate from the
		<a href="/pages/reporter_contract">legal contract</a> that reporters agree to when creating a
		pitch. This is to lay out the expectations of Spot.Us and the reporter in our working
		relationship to produce good journalism.
	</p>
	<h2>
		Spot.Us will do the following:
	</h2>
	<p>
		<ul>
			<li>Provide any technical assistance necessary within reasonable expectations.</li>
			<li>Be available for consultation regarding the focus of your pitch.</li>
			<li>Add to the blogging efforts of pitches during the reporting process.</li>
			<li>Be available for consultation regarding the fundraising efforts for your pitch.</li> 
			<li>Spot.Us fundraises for specific pitches - including yours as resources permit. (see reporters agree to #2)</li> 
			<li>Assign a Peer-Review editor to assist the reporter if none is previously identified.</li> 
			<li>Promptly deliver money raised to reporter(s) upon publishing and receiving a w-9.</li>
		</ul>
	</p>
	<h2>
		Reporters agree to the following:
	</h2>
	<p>
		<ul>
			<li>Maintain consistent communication via email, texts or calls, with Spot.Us.</li>
			<li>Blog throughout the process their reporting efforts.</li>
			<li>Help to promote story online and offline to civic groups and to pitch traditional news organizations.</li>
			<li>Agree to being filmed or do to a video for the purposes of marketing the story.</li>
			<li>Work collaboratively with an assigned peer-review editor. Reporter can reject first two assigned editors but third time is the charm ;)</li>
			<li>Upon acceptance of assignment (raised money) to do thorough, accurate and timely reporting.</li>
			<li>Rock out!</li>
		</ul> 
	</p> 

	<div style="width:425px;text-align:left" id="__ss_927390">
		<a style="font:14px
		Helvetica,Arial,Sans-serif;display:block;margin:12px 0 3px 0;text-decoration:underline;"
		href="http://www.slideshare.net/Digidave/spotus-for-reporters-presentation?type=powerpoint"
		title="Spot.Us - for reporters">
			Explanation
		</a>
		<object style="margin:0px" width="425" height="355">
			<param name="movie" value="http://static.slideshare.net/swf/ssplayer2.swf?doc=for-reporters-1232234044468507-3&stripped_title=spotus-for-reporters-presentation" />
			<param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/>
			<embed src="http://static.slideshare.net/swf/ssplayer2.swf?doc=for-reporters-1232234044468507-3&stripped_title=spotus-for-reporters-presentation" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed>
		</object>
	</div>
</div>

