<div class="contentContainer" style=" width:700px; float:left; padding: 20px 20px 40px 0;">
	<% if !@page.embed_code.blank? %>
		<div class="videoContainer">
			<%= transform_embed_code(@page.embed_code, 700, 350) %>
		</div>
	<% elsif @page.featured_image? %>
		<div style="clear:both;display:block;">
			<%= image_tag(@page.featured_image.url(:featured_image)) %>
		</div>
	<%end%>
	<%=@page.body.strip_double_spaces%>
</div>