<div class="contentContainer">
  <h2>Spot.Us Sponsorships</h2>
  <p>Spot.Us isn't possible without support from community members who give as little as $2 and
  as much as $2,000. <a href="http://spot.us/contributors">View the list of small donors on our
  community page</a>.</p>
  <p>Spot.Us also has a unique approach toward corporate underwriting and sponsorship that we
  believe is of more value than traditional advertising.</p>
  <p>Community members unlock sponsorship funds by engaging with your brand, product or
  cause. Then they get to choose where the funds go. You create value for them and in exchange, they'll create value for you; providing feedback or taking the time to learn more about your brand, product or cause.</p>
  <p>It's real engagement. They may even thank you for it!</p>
  <p>From a community member: "This is one of the best advertising experiences I’ve ever had. I gave something of what I know, I got something of what they wanted me to know, and I gave the resulting spot $ to a story I wanted to support."</p>
  <p>Want to learn more? The slideshow below can explain or contact david(AT)spot.us for details and rates.</p>  
  <img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0
  src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyODU2MjcxOTM1NjImcHQ9MTI4NTYyNzE5NTk4NiZwPTEwMTkxJmQ9c3NfZW1iZWQmZz*yJm89YWZiMjkxMzQwY2Zj/NGY1OTk*MWQ2YmQ5YjI5Y2IyMmUmb2Y9MA==.gif"
  /><div style="width:425px" id="__ss_4739739"><object
  id="__sse4739739" width="425" height="355"><param name="movie"
  value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=sponsorshipprezo-100712223014-phpapp02&stripped_title=communityfocused-sponsorship-4739739&userName=Digidave"
  /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess"
  value="always"/><embed name="__sse4739739"
  src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=sponsorshipprezo-100712223014-phpapp02&stripped_title=communityfocused-sponsorship-4739739&userName=Digidave"
  type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425"
  height="355"></embed></object></div></p>
  <h2>
    <strong>
      Community-focused sponsors
    </strong>
  </h2>
  <ul class="press">    
    <li>
      <a href="http://www.thewhitmaninstitute.org/"><img src="http://farm6.static.flickr.com/5265/5615334974_69c976ce47_s.jpg" height="138"/></a>
      The <a href="http://www.thewhitmaninstitute.org/">Whtiman Institute's'</a> exists to promote a more peaceful and sustainable world through respectful dialogue, critical thinking and vibrant citizen engagement.
    </li>
    <li>
      <a href="http://www.robleefoundation.org/"><img src="http://farm5.static.flickr.com/4097/5431790107_6ae2e99fa9_m.jpg" height="138"/></a>
      The <a href="http://www.robleefoundation.org/">Roblee Foundation’s</a> mission is to promote change by supporting organizations that address significant social issues, improve quality of life, and help individuals fulfill their potential.
    </li>
    <li>
      <a href="http://www.pcrush.com/"><img src="http://www.edealinfo.com/image/merchant_logo/pcrush.gif"/></a>
      HP has a comprehensive suite of partners specializing in a variety of services such as <a href="http://www.pcrush.com/">PC Rush</a>. You can turn to HP partners for <a href="http://www.hp.com/sbso/special/doityourself/ebook.html?jumpid=ex_r295_go/marketingebook/kimsmb/1H08DoItYourself/SuccessEbook/021408">printing</a> and <a href="https://saas.hp.com/site/portal/ebooks/hpsaas/index.html">imaging</a> Needs.
    </li> 
    <li>
      <a href="http://www.aarp.com"><img src="http://belleflora.files.wordpress.com/2009/12/aarp-logo1.gif?w=300&h=151"/></a>
      Founded in 1958 <a href="http://www.aarp.com">AARP</a> is a nonprofit, nonpartisan membership organization that helps people 50
      and over improve the quality of their lives.
    </li>
    <li>
      <a href="http://www.knightcomm.org/"><img src="http://www.knightcomm.org/files/knight_logo.jpg"/></a>
      <a href="http://www.knightcomm.org/">Knight Commission on the Information Needs of Communities in a Democracy</a> was a blue ribbon panel of
      seventeen media, policy and community leaders that met in 2008 and 2009. Its purpose was to
      assess the information needs of communities, and recommend measures to help Americans better
      meet those needs. <a href="http://www.pbs.org/idealab/2011/01/spotus-survey-shows-support-for-more-diverse-public-media004.html">See their survey results</a>
    </li>  
    <li>
      <a href="http://www.mortgagerevolution.info/"><img src="http://passivecashmentors.com/wp-content/uploads/2010/03/mortgage_revolution1.jpg"/></a>
      <a href="http://www.mortgagerevolution.info/">Mortgage Revolution</a> is a grass-roots movement of mortgage professionals joining forces to
      influence a positive change in our industry. Our Mission is to empower loan officers and the
      mortgage industry by setting higher standards for transparency in lending and ethical business
      conduct.
    </li>  
    <li>
      <a href="http://www.savetheinternet.com/"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/hs462.snc4/50232_95840189225_470_n.jpg"/></a>
      <a href="http://www.savetheinternet.com/">Free Press</a> is a national, nonpartisan, nonprofit organization working to reform the media through education, organizing and advocacy. We promote diverse and independent media
      ownership, strong public media and universal access to communications. <a
      href="http://www.pbs.org/idealab/2010/10/spotus-users-public-media-higher-quality-than-commercial277.html">See
      their survey results</a>.
    </li>
    <li>
      <a href="http://www.shirky.com/">Clay Shirky</a> is a really really nice guy. When given the
      opportunity to direct a speaker's fee to the nonprofit of his choice, he chose Spot.Us. We
      thank him immensely and suggest you check out his book "<a href="http://www.amazon.com/Cognitive-Surplus-Creativity-Generosity-Connected/dp/1594202532">Cognitive
      Surplus</a>." <a href="http://www.pbs.org/idealab/2010/08/what-the-spotus-community-thinks-of-objectivity243.html">Also see the results of his survey</a>.
    </li>  
  </ul>  
  <ul class="press">    
    <li>
      <a href="http://knightfoundation.org"><img src="http://blog.prx.org/wp-content/uploads/2010/06/kflogo-4000px-300x71.png"/></a>      
      <a href="http://knightfoundation.org">Knight Foundation</a> has supported Spot.Us through its Knight News Challenge grant. Spot.Us would
      not be possible without their support.
    </li>  
    <li>
      <a href="http://thehf.org/"><img src="http://media.marketwire.com/attachments/201005/7077_harnisch_logo.gif"/></a>
      <a href="http://thehf.org/">The Harnisch Foundation</a> has supported Spot.Us
      and made our community-focused sponsorship model possible.
     </li>  
   <li>
      <a href="http://www.fullcirclefund.org">Full Circle Fund</a> is an engaged philanthropy
      organization cultivating the next generation of community leaders and driving lasting social
      change in the Bay Area. They have been incredibly supportive through Spot.Us' growth.
   </li>
   <li>
     <a href="http://www.calendow.org/"><img src="http://grantfinder.calendow.org/grantfinder_inter/images/TCE_logo.jpg"/></a>
     <a href="http://www.calendow.org/">California Endowment</a> is a private, statewide health
     foundation that was created in 1996 as a result of Blue Cross of California's creation of
     WellPoint Health Networks, a for-profit corporation.   
   </li>
   <li>
	   <div style="height: 54px; width: 179px;"><a title="Salesforce Foundation"
     href="http://www.salesforce.com/foundation/"><img border="0" alt="CRM Donations from
     Salesforce.com"
     src="http://www.salesforce.com/assets/images/foundation/nonprofit_crm_bug_lg.gif"; />
     </a></div> <div style="background-image:
     url(http://www.salesforce.com/assets/images/foundation/nonprofit_crm_wh_lg.gif); height: 29px;
     width: 179px; font-family: Verdana; font-size: 9px; color: rgb(0, 0, 0);"> <div
     style="text-indent: 59px;"> <a title="Best CRM" style="text-decoration: none; color: rgb(0,
     0, 0);" href="http://www.salesforce.com"></a></div> <div style="text-indent:
     59px;"> <a title="donor management" style="text-decoration: none; color: rgb(0, 0, 0);"
     href="http://www.salesforcefoundation.org"></a></div></div> The <a
     title="Salesforce Foundation" href="http://www.salesforce.com/company/foundation/">Salesforce
     Foundation</a> program supports nonprofits through
     volunteerism, grant giving, and <a title="Salesforce CRM" href="http://www.salesforce.com/
     "target="_blank">CRM</a> license donations</a>. Salesforce CRM helps nonprofits
     and businesses with <a title="contact management"
     href="http://www.salesforce.com/smallbusinesscenter/"; target="_blank">contact management</a>,
     <a title="sales force automation" href="http://www.salesforce.com/crm/sales-force-automation/";
     target="_blank">sales force automation</a>, <a title="call center software"
     href="http://www.salesforce.com/crm/customer-service-support/call-center-management/";
     target="_blank">call center software</a>, and custom <a title="application development"
     href="http://www.salesforce.com/platform/"; target="_blank">application development</a>. Allowing
     nonprofits to focus on mission.</p>
  </li>  
  <li>
    The Kastia Foundation is a family-run philanthropy fund that annually gives thousands of dollars
    to non-profits and citizens in need.
  </li>
  </ul>
</div>