<%= render :partial => "page_side_panel" %>
<div id="spotus_page">
  <h3>Spot.Us Sponsorships</h3>
  <p>Spot.Us isn't possible without support from community members who give as little as $2 and
  as much as $2,000. <a href="http://spot.us/contributors">View the list of small donors on our
  community page</a>.</p>
  <p>Spot.Us also has a unique approach toward corporate underwriting and sponsorship that we
  believe is of more value than traditional advertising.</p>
  <p>Community members unlock sponsorship funds by engaging with your brand, product or
  cause. Then they get to choose where the funds go. You create value for them and in exchange, they'll create value for you; providing feedback or taking the time to learn more about your brand, product or cause.</p>
  <p>It's real engagement. They may even thank you for it!</p>
  <p>From a community member: "This is one of the best advertising experiences I’ve ever had. I gave something of what I know, I got something of what they wanted me to know, and I gave the resulting spot $ to a story I wanted to support."</p>
  <p>Want to learn more? The slideshow below can explain or contact david(AT)spot.us for details and rates.</p>  
  <img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0
  src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyODU2MjcxOTM1NjImcHQ9MTI4NTYyNzE5NTk4NiZwPTEwMTkxJmQ9c3NfZW1iZWQmZz*yJm89YWZiMjkxMzQwY2Zj/NGY1OTk*MWQ2YmQ5YjI5Y2IyMmUmb2Y9MA==.gif"
  /><div style="width:425px" id="__ss_4739739"><object
  id="__sse4739739" width="425" height="355"><param name="movie"
  value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=sponsorshipprezo-100712223014-phpapp02&stripped_title=communityfocused-sponsorship-4739739&userName=Digidave"
  /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess"
  value="always"/><embed name="__sse4739739"
  src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=sponsorshipprezo-100712223014-phpapp02&stripped_title=communityfocused-sponsorship-4739739&userName=Digidave"
  type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425"
  height="355"></embed></object></div></p>
  
  <h2>
    <strong>
      Community-focusd sponsors
    </strong>
  </h2>
<h3>HP Partners</h3>
<img src="http://s3.amazonaws.com/spotus-production-storage/cca-banners/banners/000/000/010/-1_large_banner.png?1286727932"/>
<p>HP has a comprehensive suite of partners specializing in a variety of services such as <a href="http://www.pcrush.com/">PC Rush</a>.</p>
<h3>AARP</h3>
<img src="http://profile.ak.fbcdn.net/profile-ak-snc4/object3/458/45/n57259033959_7485.jpg"/>
<p>Founded in 1958, <a href="http://www.aarp.org/">AARP</a> is a nonprofit, nonpartisan membership organization that helps people 50
and over improve the quality of their lives.</p>
<p>AARP has offices in all 50 states, the District of Columbia, Puerto Rico and the U.S. Virgin
Islands.</p>
<p>As a social welfare organization, as well as, the nation’s largest membership organization for
people 50+, AARP is leading a revolution in the way people view and live life.</p>
<h3>Mortgage Revolution</h3>
<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/hs321.snc4/41567_127326319704_7423_n.jpg"/>
<p>The <a href="http://www.mortgagerevolution.info/">Mortgage Revolution</a> is a grass-roots movement of true mortgage professionals joining forces to influence a positive change in our industry.</p>
<p>Our Mission is to empower loan officers and the mortgage industry by setting higher standards for transparency in lending and ethical business conduct.</p>
<p>We believe that mortgage reform needs to come from within and it is up to us to protect the profession that we love.</p>

<h3>Free Press</h3>
<img src="http://profile.ak.fbcdn.net/profile-ak-snc4/object3/1321/102/n96554128735_1544.jpg"/>
<p><a href="http://www.savetheinternet.com/">Free Press</a> is a national, nonpartisan, nonprofit organization working to reform the media.</p>
<p>Through education, organizing and advocacy, we promote diverse and independent media ownership,
strong public media, quality journalism, and universal access to communications. Free Press is the
largest media reform organization in the United States, with nearly half-a-million activists and
members and a full-time staff of more than 30 based in our offices in Washington, D.C., and
Florence, Mass. Free Press and the Free Press Action Fund, our advocacy arm, are nonprofit
organizations that rely on the support of our members. Please click here to make a donation or learn
about member benefits.</p> <p>SaveTheNews.org, a project of Free Press, is leading the search for
new public policies to save journalism and to promote a robust free press in America.</p>

<h3>Clay Shirky</h3>
<p><a href="http://www.shirky.com/">Clay Shirky</a> is a really really nice guy. When given the opportunity to direct a speaker's fee to the nonprofit of his choice, he chose Spot.Us. We thank him immensely and suggest you check out his book "<a href="http://www.amazon.com/Cognitive-Surplus-Creativity-Generosity-Connected/dp/1594202532">Cognitive Surplus</a>."
  <h2>
    <strong>
      Foundation Support
    </strong>
  </h2>    
   <p>
     <a href="http://knightfoundation.org">Knight Foundation</a> has supported Spot.Us
     through its Knight News Challenge grant. Spot.Us would not be possible
     without their support.
    </p>
    <p>
      <img src="http://media.marketwire.com/attachments/201005/7077_harnisch_logo.gif"/>
      <a href="http://thehf.org/">Harnisch Foundation</a> has supported Spot.Us
      and made our community-focused sponsorship model possible.
     </p>  
  <p>
    <a href="http://www.fullcirclefund.org">Full Circle Fund</a> is an engaged philanthropy
    organization cultivating the next generation of community leaders and driving lasting social
    change in the Bay Area. They have been incredibly supportive through Spot.Us' growth.
   </p>
  <p>
    The Kastia Foundation
   </p>
	<p>The <a title="Salesforce Foundation" href="http://www.salesforce.com/company/foundation/">Salesforce Foundation </a>corporate philanthropy program supports nonprofits worldwide through volunteerism, grant giving, and <a title="Salesforce CRM" href="http://www.salesforce.com/ "target="_blank">CRM</a> license donations</a>. Salesforce CRM helps nonprofit organizations and businesses with <a title="contact management" href="http://www.salesforce.com/smallbusinesscenter/"; target="_blank">contact management</a>, <a title="sales force automation" href="http://www.salesforce.com/crm/sales-force-automation/"; target="_blank">sales force automation</a>, <a title="call center software" href="http://www.salesforce.com/crm/customer-service-support/call-center-management/"; target="_blank">call center software</a>, and custom <a title="application development" href="http://www.salesforce.com/platform/"; target="_blank">application development</a>. That way nonprofits can focus on fulfilling their mission.</p>
	<p>
		<div style="height: 54px; width: 179px;"><a title="Salesforce Foundation" href="http://www.salesforce.com/foundation/"><img border="0" alt="CRM Donations from Salesforce.com" src="http://www.salesforce.com/assets/images/foundation/nonprofit_crm_bug_lg.gif"; /> </a></div> <div style="background-image: url(http://www.salesforce.com/assets/images/foundation/nonprofit_crm_wh_lg.gif); height: 29px; width: 179px; font-family: Verdana; font-size: 9px; color: rgb(0, 0, 0);"> <div style="text-indent: 59px;">The <a title="Best CRM" style="text-decoration: none; color: rgb(0, 0, 0);" href="http://www.salesforce.com">Best CRM</a> for</div> <div style="text-indent: 59px;"> <a title="donor management" style="text-decoration: none; color: rgb(0, 0, 0);" href="http://www.salesforcefoundation.org">Donor Management</a></div> </div> 
	</p>
</div>