%h1 Terms of Service

%p
  Welcome to Spot.Us – a nonprofit project of the Center for Media Change that is
  trying to pioneer &ldquo;community funded reporting.&rdquo; We believe journalism is a
  process, not a product and that the process should be participatory. We have
  tried to create a marketplace that enables news organizations, independent
  reporters and community members to come together and collaborate on meaningful
  journalism. Independent reporters create &ldquo;pitches&rdquo; that outline journalistic
  work they intend to fulfill and a specific fundraising goal. Community members
  donate toward pitches. News organizations can also donate to pitches, run the
  final content for free or get exclusive rights to the content by refunding the
  original donors. The refunded money can only be used to support more
  journalism, so while donors never receive cash back, they are able to donate
  towards two works of journalism for the price of one.

%p
  Our site is all about community and trust. We aren&rsquo;t much for lawyers, but we
  are also told that the legal mumbo-jumbo in a terms of service is necessary
  for both you and us. So, this is our terms of service page. Please check it
  out.

%p
  This Terms of Use Agreement is a contract between you and Spot.Us and governs
  all transactions between you and Spot.Us, as well as your use of the website
  == (#{link_to "www.spot.us", "http://www.spot.us/"}).
  By using the Website, you agree to be bound by this Agreement,
  whether or not you become a donor in Spot.Us&rsquo; program.

%p
  Spot.Us may change the Terms from time to time, at Spot.Us&rsquo; sole discretion.
  Your continued use of this website following the posting of such changes will
  constitute your assent to all such changes. Please periodically visit this
  section of the site to review the current version of the Terms. This
  provision is only because we are a nonprofit startup and still getting our
  feet on the ground, we have no intention of making sweeping changes.

%p
  You may receive a written copy of this Agreement by emailing us at:
  == #{mail_to "info@spot.us", nil, :encode => "hex"},
  Subject: Spot.Us Terms of Use Agreement.

%h2 1. Participation in the Program

%p
  Spot.Us is a marketplace where independent journalists can pitch the public
  for small donations that can add up to fund an investigation into work that
  will benefit the public. The marketplace is set up so that a &ldquo;pitch&rdquo; from a
  reporter acts as a contract. In the contract a reporter sets a target
  fundraising goal. Spot.Us cannot guarantee that the fundraising goal will be
  met. Spot.Us makes no warranty or guarantee of performance on behalf of the
  reporters whose projects are promoted on this site.

%p
  By participating in the Program or otherwise using this Website, you hereby
  acknowledge and agree that (a) Spot.Us makes no representation as to whether
  the finished content will meet your specific demands. Rather we work to make
  sure the final content meets the requirements laid out by the reporters. We
  make efforts to ensure that every project is completed but take no
  responsibility on behalf of the reporters. (b) Donations made via the Website
  may be returned as &ldquo;credits&rdquo; to the user in the case that a &ldquo;pitch&rdquo; is
  unsuccessful in reaching its target goal, but we will not reimburse actual
  U.S. dollars. (As a small startup nonprofit, we simply can&rsquo;t afford that kind
  of regular transaction). YOU ASSUME TOTAL RESPONSIBILITY FOR YOUR DONATION&rsquo;S
  MADE THROUGH THIS SITE.

%p
  You understand that any and all decisions made by you with respect to the
  Program are yours alone. Spot.Us cannot and does not verify the accuracy of
  information in pitches, but does allow users to investigate the reporters who
  produce them. Donors furthermore acknowledge that journalism may not adhere
  to exact production schedules defined in project descriptions and that on
  some occasions projects may change in scope or direction while underway.
  Spot.Us will not make any refunds of donations to donors for any reason other
  than inaccurately entered donation amounts or recipients, which must be
  reported within five business days of the donation to qualify for a refund.

%h3 1.1. Donation Distribution

%p
  You understand that every pitch is assigned an independent &ldquo;quality
  assurance editor&rdquo; who receives 10% of the money raised. These are not
  Spot.Us employees, but other independent contractors. The remaining 90% of
  the money goes to the reporter. Spot.Us will not take any of this money,
  but does ask for extra contributions to be made towards its operational
  costs.

%h3 1.2. Tax Deductibility

%p
  You understand that Spot.Us is a project of the non-profit Center for Media
  Change. Spot.Us has received exemption with the Internal Revenue Service as an
  organization that qualifies as a public charity under Section 501©(3) of the
  Internal Revenue Code of 1986, as amended from time to time. Your donations are
  tax-deductible, but you are solely responsible for determining the proper tax
  treatment for any donation you make through the Website and the Program.
  Spot.Us has not and will not provide any tax or legal advice to you in
  connection with any donation you might make.

%h2 2. Negative Participation Sucks

%p
  Although Spot.Us assumes no obligation to monitor the conduct of any User off
  the Website, it is a violation of this Agreement to use any information
  obtained from the Website in order to harass, abuse, or harm another person,
  or in order to contact, advertise to, solicit, or sell to any User without
  their prior explicit consent. Please see our privacy policy for more details.

%h3 2.1 Comments

%p
  Spot.Us welcomes user comments on our stories and posts. Spot.Us&rsquo; mission is
  to engage the public in news analysis of issues in their community and to
  encourage interaction with journalists. We intend for this area to be used by
  users as a place for civil, thought-provoking and high-quality public
  discussion. In order to achieve this, Spot.Us requires that all commenters
  register and post comments with their user names. Spot.Us reserves the right
  to remove postings that include the use of foul language, personal attacks or
  the use of language that may be libelous or interpreted as inciting hate or
  sexual harassment; however we are under no obligation to do so. User comments
  may be reviewed by moderators and may be included or excluded at our
  discretion.

%h3  2.2. Creation of any content

%p
  Users have the right to produce content on the site but they also understand
  that content may not be illegal, obscene, defamatory, threatening, infringing
  of intellectual property rights, invasive of privacy or otherwise injurious
  or objectionable.

Under any of the above circumstances Spot.Us has a right to delete the offending material.

%h2 3. Copyright

%p
  If you post any messages or other information on the Website, you agree that
  such messages and information shall be considered Content, and you shall be
  deemed to have automatically granted, represented and warranted that the
  content be licensed under a Creative Commons with Attributions license. The
  only exception to this will be content produced by users who identify
  themselves as &ldquo;reporters&rdquo; who have a separate contractors agreement they have
  agreed to which supersedes this section of the &lsquo;terms of service&rsquo; agreement.
  After a certain period of time all content produced by reporters will revert
  back to Creative Commons.

%h3 3.1

%p
  You may view the contract between reporters, which Supercedes item 3 above,
  here. After a certain period of time – all content will revert back to
  Creative Commons.

%h3 3.2

%p
  Spot.Us will on occasion transfer its temporary copyright to a news
  organization in exchange for money that will be distributed towards other
  journalism projects at the discretion of community members.

%h2 4. Accounts

%p
  Spot.Us holds the right to terminate or restrict access to a user&rsquo;s account,
  and to delete any content posted through it.

%p
  You acknowledge, consent and agree that Spot.Us may, at its sole discretion
  and to the extent permitted by law, access, read, preserve and disclose your
  account information, usage history and submitted Content in order to: (a)
  comply with any applicable law, regulation, legal process, or governmental
  request; (b) respond to claims that any Content violates the rights of third
  parties, including intellectual property rights or libel; (c) enforce this
  Agreement and investigate potential violations thereof; (d) detect, prevent,
  or otherwise address fraud, security, or technical issues; (e) respond to
  your requests for customer service; or (f) protect the rights, property, or
  personal safety of Spot.Us, its users, or the public.

%h2 5. Don&rsquo;t Sue us Into Oblivion

%h3 5.1

%p
  This Service is available &ldquo;as is.&rdquo; We do not warrant that this Service will
  be uninterrupted or error-free. There may be delays, omissions, interruptions
  and inaccuracies in the news, information or other materials available
  through this Service. We are not responsible for the availability or content
  of other services that may be linked to this Service. We do not make any
  warranties, express or implied, including without limitation, those of
  merchantability and fitness for a particular purpose, with respect to this
  Service or any information or goods that are available or advertised or sold
  through this Service. We do not make any representations, nor do we endorse
  the accuracy, completeness, timeliness or reliability of any advice, opinion,
  statement or other material or database displayed, uploaded or distributed in
  this Service or available though links in this Service. We reserve the right
  to correct any errors or omissions in this Service but are under no
  obligation to do so. We do not guarantee or warrant that this Service or
  materials that may be downloaded from this Service do not contain viruses,
  worms or other destructive features. We are not liable for any damages or
  harm attributable to such features. If you rely on this Service and any
  materials available through this Service, you do so solely at your own risk.

%h3 5.2. Disputes with spot.us and Jury Trial Waiver

%p
  If there is any dispute about or involving spot.us, the Website or the
  Program, by using the Website, you agree that the dispute will be governed by
  the laws of the State of California without regard to its conflict of law
  provisions. You agree to personal jurisdiction by and venue in the state and
  federal courts located in the San Francisco, California.

%p
  %strong
    TO THE EXTENT PERMITTED BY APPLICABLE LAW, YOU HEREBY WAIVE YOUR RIGHT TO A
    JURY TRIAL OF ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR BASED UPON
    THIS AGREEMENT OR ANY CONTEMPLATED USE HEREIN, INCLUDING CONTRACT, TORT,
    BREACH OF DUTY AND ALL OTHER CLAIMS. THIS WAIVER IS A MATERIAL INDUCEMENT
    FOR THE PARTIES TO ENTER INTO THIS AGREEMENT.

%p
  WITHOUT INTENDING IN ANY WAY TO LIMIT YOUR AGREEMENT TO WAIVE YOUR RIGHT TO A
  TRIAL BY JURY, if the above waiver of the right to a trial by jury is not
  enforceable, you agree that any and all disputes or controversies of any
  nature between you, Spot.Us or any other user arising at any time shall be
  decided by a reference to a private judge, mutually selected by you, and as
  applicable, Spot.Us,

%h3 5.3.Indemnity

%p
  You agree to indemnify and hold Spot.Us harmless from any loss, liability,
  claim, or demand, including reasonable attorney&rsquo;s fees, made or incurred by
  any third party due to or arising (directly or indirectly) out of your use of
  the Website or participation in the Program or arising from a breach of this
  Agreement.

