<div class="contentContainer">
	
	<div class="staticTextContainer">
	
		<p>Thank you for visiting <a href="http://www.spot.us" title="http://www.spot.us">http://www.spot.us</a>, which is owned and operated by Minnesota Public Radio d/b/a American Public Media. These Terms of Use govern your use of this Site.</p> 

		<p>Throughout these Terms of Use we use certain capitalized terms, which are defined at the end of these Terms of Use - <a rel="nofollow" href="#22">Definitions</a>.</p>
	
		<h3>Table of Contents</h3>

		<ul>

			<li><a rel="nofollow" href="#1">Effective Date:</a></li>

			<li><a rel="nofollow" href="#2">Your Acceptance of These Terms of Use</a></li>

			<li><a rel="nofollow" href="#3">Your Acceptance of Our Privacy Policy</a></li>

			<li><a rel="nofollow" href="#4">Your Consent to Other Agreements</a></li>

			<li><a rel="nofollow" href="#5">Ownership of this Site and its Content</a></li>

			<li><a rel="nofollow" href="#6">Permission to Republish Content</a></li>

			<li><a rel="nofollow" href="#7">Trademarks</a></li>

			<li><a rel="nofollow" href="#8">Links to This Site</a></li>

			<li><a rel="nofollow" href="#9">Responsibility for User-Generated Content Posted on or Through this Site</a></li>

			<li><a rel="nofollow" href="#10">Removal of Content</a></li>

			<li><a rel="nofollow" href="#11">Your Feedback</a></li>

			<li><a rel="nofollow" href="#12">Your Obligations</a></li>

			<li><a rel="nofollow" href="#13">DISCLAIMERS</a></li>

			<li><a rel="nofollow" href="#14">LIMITATION OF LIABILITY</a></li>

			<li><a rel="nofollow" href="#15">Links to Third-Party Websites</a></li>

			<li><a rel="nofollow" href="#16">Modification and Discontinuation</a></li>

			<li><a rel="nofollow" href="#17">Waiver</a></li>

			<li><a rel="nofollow" href="#18">Severability</a></li>

			<li><a rel="nofollow" href="#19">Governing Law, Jurisdiction and Venue</a></li>

			<li><a rel="nofollow" href="#20">Indemnity</a></li>

			<li><a rel="nofollow" href="#20">These Terms of Use May Change</a></li>

			<li><a rel="nofollow" href="#21">Entire Agreement</a></li>

			<li><a rel="nofollow" href="#22">Definitions</a></li>

			<li><a rel="nofollow" href="#23">Questions</a></li>

		</ul>

		<a rel="nofollow" name="1"></a> 
		<h3>Effective Date:</h3>

		<p>December 1, 2011</p>

		<a rel="nofollow" name="2"></a>
		<h3>Your Acceptance of These Terms of Use</h3>

		<p>These Terms of Use apply to all users of this Site. By using this Site you are agreeing to comply with and be bound by these Terms of Use. If you do not agree to these Terms of Use, you may not access or use this Site.</p>

		<a rel="nofollow" name="3"></a>
		<h3>Your Acceptance of Our Privacy Policy</h3>

		<p>By agreeing to these Terms of Use, you agree to the terms of our <%= link_to "Privacy Policy", page_path('privacy') %> and any applicable Privacy Notices, which are expressly incorporated herein. Before using this Site, please carefully review our Privacy Policy. All Personal Information provided to us as a result of your use of this Site will be handled in accordance with our Privacy Policy. To the extent there are inconsistencies between these Terms of Use and our Privacy Policy, these Terms of Use control.</p>

		<a rel="nofollow" name="4"></a>
		<h3>Your Consent to Other Agreements</h3>

		<p>When you sign up to use a special feature of this Site, you may be asked to agree to special terms governing your use of the special feature. In such cases, you may be asked to expressly consent to the special terms, for example, by checking a box or clicking on a button marked "I agree." This type of agreement is known as a "click-through" agreement. If any of the terms of the click-through agreement are different than the terms of these Terms of Use, the terms of the click-through agreement will supplement or amend these Terms of Use, but only with respect to the matters governed by the "click-through agreement."</p>

		<a rel="nofollow" name="5"></a>
		<h3>Ownership of this Site and its Content</h3>

		<p>This Site, including all its Content are protected under applicable intellectual property and other laws, including without limitation the laws of the United States and other countries. All Content and intellectual property rights therein are the property of APM or the material is included with the permission of the rights owner and is protected pursuant to applicable copyright and trademark laws. </p>

		<p>The presence of any Content on this Site does not constitute a waiver of any right in such Content. You do not acquire ownership rights to any such Content viewed through this Site. Except as otherwise provided herein, none of this Content may be used, copied, reproduced, distributed, republished, downloaded, modified, displayed, posted or transmitted in any form or by any means, including, but not limited to, electronic, mechanical, photocopying, recording, or otherwise, without our express prior written permission.</p>

		<p>Permission is hereby granted to the extent necessary to lawfully access and use this Site and to display, download, or print portions of this Site on a temporary basis and for your personal, educational, noncommercial use only, provided that you (i) do not modify the Content; (ii) you retain any and all copyright and other proprietary notices contained in the Content; and (iii) you do not copy or post the Content on any network computer or broadcast the Content in any media.</p>

		<a rel="nofollow" name="6"></a>
		<h3>Permission to Republish Content</h3>

		<p>Please see our <a href="http://minnesota.publicradio.org/about/site/terms/permissions.shtml" title="permissions page">permissions page</a> for information on republishing Content from this Site. If you are a broadcaster with questions about airing our programming, <a href="http://americanpublicmedia.publicradio.org/contact/" title="please contact American Public Media">please contact American Public Media</a>.</p>

		<a rel="nofollow" name="7"></a>
		<h3>Trademarks</h3>

		<p>The names and logos of Spot.us, Minnesota Public Radio, and American Public Media; all product and service names; all graphics; all button icons; and all trademarks, service marks and logos appearing within this Site, unless otherwise noted, are trademarks (whether registered or not), service marks and/or trade dress of APM (the "APM Marks"). All other trademarks, product names, company names, logos, service marks and/or trade dress mentioned, displayed, cited or otherwise indicated within this Site are the property of their respective owners. You are not authorized to display or use the APM Marks in any manner without our prior written permission. You are not authorized to display or use trademarks, product names, company names, logos, service marks and/or trade dress of other owners featured within this Site without the prior written permission of such owners. The use or misuse of the APM Marks or other trademarks, product names, company names, logos, service marks and/or trade dress or any other materials contained herein, except as permitted herein, is expressly prohibited.</p>

		<a rel="nofollow" name="8"></a>
		<h3>Links to This Site</h3>

		<p>You may link to individual pages within this Site, but you must do so in a way that presents the page in its entirety. You may not cause a page from this Site to appear within the frame of another site nor may you link to individual page elements such as a graphic or photograph. You may not link directly to an audio file or to an audio stream; you must link to the page from which the file is accessed. Links to pages within this Site may be presented in text format only. The APM Marks may not be used in association with links without express permission.</p>

		<a rel="nofollow" name="9"></a>
		<h3>Responsibility for User-Generated Content Posted on or Through this Site</h3>

		<p><em>You are responsible for User-Generated Content that you post.</em> Under no circumstances will we be liable in any way for any User-Generated Content.</p>

		<p>This means that you, not APM, are entirely responsible for all User-Generated Content that you post and that you can be held personally liable for comments that are defamatory, obscene, or libelous, or that violate these Terms of Use, an obligation of confidentiality, or the rights of others. If any part of the User-Generated Content you post is not your original work, it is your responsibility to obtain any necessary permission to post it.</p>

		<p>Because we do not control the User-Generated Content posted on or through this Site, we cannot and do not warrant or guarantee the truthfulness, integrity, suitability, or quality of that User-Generated Content. You also agree and understand that by accessing this Site, you may encounter User-Generated Content that you may consider to be objectionable. We have no responsibility for any User-Generated Content, including without limitation any errors or omissions therein. We are not liable for any loss or damage of any kind you may claim was incurred as a result of the use of any User-Generated Content posted, emailed, transmitted or otherwise made available on or through this Site. The User-Generated Content posted on or through this Site expresses the personal opinions of the individuals who posted it and does not necessarily reflect the views of APM or any person or entity associated with APM.</p>

		<p><em>You own User-Generated Content, but we may use it.</em> You own the copyright in any original User-Generated Content you post; we do not own any copyrights in User-Generated Content. However, by using this Site you are granting us and our subsidiaries, affiliates, successors and assigns, a nonexclusive, fully paid, worldwide, perpetual, irrevocable, royalty-free, transferable license (with the right to sublicense through unlimited levels of sublicensees) to use, copy, modify, distribute, publicly display and perform, publish, transmit, remove, retain repurpose, and commercialize User-Generated Content you post in any and all media or form of communication whether now existing or hereafter developed, without obtaining additional consent, without restriction, notification, or attribution, and without compensating you in any way, and to authorize others to do the same. For this reason, we ask that you not post any User-Generated Content that you do not wish to license to us, including any photographs, videos, confidential information, or product ideas.</p>

		<p><em>We may disclose and/or remove User-Generated Content.</em> APM has certain rights. We have the right (but do not assume the obligation) to:</p>

		<ul>
			<li>monitor all User-Generated Content;</li>
			<li>require that you avoid certain subjects;</li>
			<li>remove or block any User-Generated Content at any time without notice at our sole and absolute discretion;</li>
			<li>disclose any User-Generated Content and the identity of the user who posted it in response to a subpoena or whenever we believe that disclosure is appropriate to comply with the law or a court order, to prevent or investigate a possible crime or other violation of law, to protect the rights of APM or others, or to enforce these Terms of Use; and</li>
			<li>terminate your access to and use of this Site, or to modify, edit or block your transmissions thereto in our sole discretion.</li>
		</ul>

		<p>You agree that our exercise of such discretion shall not render us the owners of User-Generated Content you post, and that you will retain ownership thereof as described above.</p>

		<p><em>Restrictions on User-Generated Content.</em> It is a condition of these Terms of Use that you do not:</p>

		<ul>
			<li>upload, post, transmit or otherwise make available 
				<ul>
					<li>any User-Generated Content that is unlawful, harmful, hateful, threatening, abusive, harassing, libelous, defamatory, obscene, vulgar, pornographic, profane, racially disparaging, indecent, or invasive of another’s privacy;
					<li>any User-Generated Content that constitutes or encourages activity illegal under criminal or civil law;
					<li>any User-Generated Content that is false, misleading, or fraudulent; 
					<li>any User-Generated Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information or proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements); 
					<li>any User-Generated Content that violates or infringes upon the rights of others, including User-Generated Content which violates the patent rights, copyrights, trademark rights, privacy rights, publicity rights, trade secret rights, confidentiality rights, contract rights, or any other rights of any individual, living or deceased, or any legal entity;
					<li>any User-Generated Content that contains the image, name or likeness of anyone other than yourself, unless (i) that person is at least eighteen years old and you have first obtained his/her express permission or (ii) that person is under  eighteen years old but you are his/her parent or legal guardian; 
					<li>any request for or solicitation of any personal or private information from any individual;
					<li>any request for or solicitation of money, goods, or services for private gain;  
					<li>any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; or 
					<li>any User-Generated Content that contains advertising, promotions or marketing, or which otherwise has a commercial purpose;
				</ul>
			</li>
			<li>impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity; or</li>
			<li>violate any local, state, national or international law, rule or regulation.</li>
		</ul>
	
		<p>By posting User-Generated Content, you represent and warrant that (i) you own or otherwise control all necessary rights to the User-Generated Content and have the right to grant the license set forth in these Terms of Use; (ii) the User-Generated Content is accurate, and (iii) you are at least eighteen years old and you have read and understood—and your User-Generated Content fully complies with—these Terms of Use and applicable laws and will not cause injury to any person or entity.</p>

		<a rel="nofollow" name="10"></a>
		<h3>Removal of Content</h3>

		<p><em>In general.</em> On certain pages of this Site, we may provide to you a tool to report objectionable User-Generated Content. If that tool is not available, you can report objectionable User-Generated Content and other objectionable Content by contacting us using the information provided <a rel="nofollow" name="24">below</a>. While we do not have any obligation to remove Content from this Site merely because of a removal request, we will review all such requests and will remove Content that we determine should be removed, in our sole discretion and in accordance with these Terms of Use and applicable law. Please be aware, however, that if the Content has already been distributed to other websites or published in other media, we will not be able to recapture and delete it. Also, a back-up or residual copy of the Content we remove from this Site may remain on back-up servers.</p>

		<p><em>Violation of copyrights.</em> APM does not knowingly violate or permit others to violate the copyrights of others.  We will promptly remove or disable access to material that we know is infringing or if we become aware of circumstances from which infringing activity is apparent. </p>

		<p>If you are requesting removal of content because of a violation of your copyrights, please note that the Digital Millennium Copyright Act of 1998 (the "DMCA") provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under U.S. copyright law. If you believe that your own work, or the work of a third party for whom you are authorized to act, is featured on this Site or has been otherwise copied and made available on this Site in a manner that constitute copyright infringement, please notify us immediately.  Your notice must be in writing and must include </p>

		<ul>
			<li>an electronic or physical signature of the copyright owner or of the person authorized to act on behalf of the owner of the copyright interest;</li>
			<li>a description of the copyrighted work that you claim has been infringed;</li>
			<li>a description of where the material that you claim is infringing is located on this Site (including the URL, title and/or item number if applicable, or other identifying characteristics); </li>
			<li>your name, address, telephone number, and email address, and, if you are not the owner of the copyright, the name of the owner; and</li>
			<li>a written statement by you that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
			<li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
		</ul>
	
		<p>Your statement must be addressed as follows:</p>

		<blockquote>Mitzi T. Gramling, Copyright Agent<br/>
		American Public Media<br/>
		480 Cedar Street<br/>
		St. Paul, MN 55101<br/>
		651-290-1500 <br/>
		legal@mpr.org</blockquote>

		<p>Any notification by a copyright owner or a person authorized to act on its behalf that fails to comply with requirements of the DMCA shall not be considered sufficient notice and shall not be deemed to confer upon us actual knowledge of facts or circumstances from which infringing material or acts are evident.</p>

		<a rel="nofollow" name="11"></a>
		<h3>Your Feedback</h3>

		<p>Although we do not claim ownership of User-Generated Content you post using this Site, the Feedback you provide to us through this Site will be and remain our exclusive property. Your submission of Feedback will constitute an assignment to us of all worldwide rights, title and interests in your Feedback, including all copyrights and other intellectual property rights in your Feedback. We will be entitled to reduce to practice, exploit, make, use, copy, disclose, display or perform publicly, distribute, improve and modify any Feedback you submit for any purpose whatsoever, without restriction and without compensating you in any way. For this reason, we ask that you not send us any Feedback that you do not wish to assign to us.</p>

		<a rel="nofollow" name="12"></a>
		<h3>Your Obligations</h3>

		<p>In consideration of your use of this Site, you agree that to the extent you provide Personal Information to APM it will be true, accurate, current, and complete and that you will update all Personal Information as necessary.</p>

		<p>To the extent you create an account through this Site, you understand and agree that any account you create, including your username and password, are personal to you and may not be used by anyone else. You are responsible for maintaining the confidentiality of your username and password and are fully responsible for all activities that occur under your username and password by you or by anyone else using your username and password, whether or not authorized by you. You agree to change your password immediately if you believe your password may have been compromised or used without authorization. You also agree to immediately inform us of any apparent breaches of security such as loss, theft or unauthorized disclosure or use of your username or password by contacting us using the information provided <a rel="nofollow" name="24">below</a>. Until we are so notified you will remain liable for any unauthorized use of your account.</p>

		<p>You agree to use this Site in a manner consistent with any and all applicable rules and regulations. You agree not to upload or transmit through this Site any computer viruses, trojan horses, worms or anything else designed to interfere with, interrupt or disrupt the normal operating procedures of a computer. Any unauthorized modification, tampering or change of any information, or any interference with the availability of or access to this Site is strictly prohibited. We reserve all rights and remedies available to us.</p>

		<a rel="nofollow" name="13"></a>
		<h3>DISCLAIMERS</h3>

		<p>WE MAKE NO REPRESENTATIONS OR WARRANTIES WITH RESPECT TO THIS SITE OR ITS CONTENT, OR ANY PRODUCT OR SERVICE AVAILABLE ON OR PROMOTED THROUGH THIS SITE. THIS SITE AND ALL OF ITS CONTENT (INCLUDING USER-GENERATED CONTENT) ARE PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS, WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT PERMITTED BY LAW, APM, ITS AFFILIATES, AND THEIR SERVICE PROVIDERS AND LICENSORS DISCLAIM ANY AND ALL REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS, IMPLIED, ARISING BY STATUTE, CUSTOM, COURSE OF DEALING, COURSE OF PERFORMANCE OR IN ANY OTHER WAY, WITH RESPECT TO THIS SITE, ITS CONTENT, AND ANY PRODUCTS OR SERVICES AVAILABLE OR PROMOTED THROUGH THIS SITE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, APM, ITS AFFILIATES, AND THEIR SERVICE PROVIDERS AND LICENSORS DISCLAIM ALL REPRESENTATIONS AND WARRANTIES (A) OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE; (B) RELATING TO THE SECURITY OF THIS SITE; (C) THAT THE CONTENT OF THIS SITE IS ACCURATE, COMPLETE OR CURRENT; OR (D) THAT THIS SITE WILL OPERATE SECURELY OR WITHOUT INTERRUPTION OR ERROR.</p>

		<p>WE DO NOT REPRESENT OR WARRANT THAT THIS SITE, ITS SERVERS, OR ANY TRANSMISSIONS SENT FROM US OR THROUGH THIS SITE WILL BE FREE OF ANY HARMFUL COMPONENTS (INCLUDING VIRUSES).</p>

		<p>APM DOES NOT ENDORSE AND IS NOT RESPONSIBLE FOR STATEMENTS, ADVICE AND OPINIONS MADE BY ANYONE OTHER THAN AUTHORIZED APM SPOKESPERSONS. WE DO NOT ENDORSE AND ARE NOT RESPONSIBLE FOR ANY STATEMENTS, ADVICE OR OPINIONS CONTAINED IN USER-GENERATED CONTENT AND SUCH STATEMENTS, ADVICE AND OPINIONS DO NOT IN ANY WAY REFLECT THE STATEMENTS, ADVICE AND OPINIONS OF APM. WE DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES AGAINST THE POSSIBILITY OF DELETION, MISDELIVERY OR FAILURE TO STORE COMMUNICATIONS, PERSONALIZED SETTINGS, OR OTHER DATA. YOU ACCEPT THAT OUR SHAREHOLDERS, OWNERS, OFFICERS, DIRECTORS, EMPLOYEES AND OTHER REPRESENTATIVES SHALL HAVE THE BENEFIT OF THIS CLAUSE.</p>

		<p>APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OF CERTAIN WARRANTIES, SO ALL OR PART OF THIS DISCLAIMER OF WARRANTIES MAY NOT APPLY TO YOU.</p>

		<a rel="nofollow" name="14"></a>
		<h3>LIMITATION OF LIABILITY</h3>

		<p>WE ARE NOT RESPONSIBLE OR LIABLE IN ANY MANNER FOR ANY USER-GENERATED CONTENT. ALTHOUGH WE INCLUDE STRICT PROVISIONS REGARDING USER-GENERATED CONTENT IN THESE TERMS OF USE, WE DO NOT CONTROL AND ARE NOT RESPONSIBLE FOR WHAT USERS POST USING THIS SITE AND ARE NOT RESPONSIBLE FOR ANY OFFENSIVE, INAPPROPRIATE, OBSCENE, UNLAWFUL, INFRINGING OR OTHERWISE OBJECTIONABLE OR ILLEGAL USER-GENERATED CONTENT YOU MAY ENCOUNTER IN CONNECTION WITH YOUR USE OF THIS SITE.</p>

		<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAWS WE, ON BEHALF OF OUR DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS, LICENSORS AND SERVICE PROVIDERS, EXCLUDE AND DISCLAIM LIABILITY FOR ANY LOSSES AND EXPENSES OF WHATEVER NATURE AND HOWSOEVER ARISING INCLUDING, WITHOUT LIMITATION, ANY DIRECT, INDIRECT, GENERAL, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES; LOSS OF USE; LOSS OF DATA; LOSS CAUSED BY A VIRUS; LOSS OF INCOME OR PROFIT; LOSS OF OR DAMAGE TO PROPERTY; CLAIMS OF THIRD PARTIES; OR OTHER LOSSES OF ANY KIND OR CHARACTER, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THIS SITE. YOU ASSUME TOTAL RESPONSIBILITY FOR ESTABLISHING SUCH PROCEDURES FOR DATA BACK UP AND VIRUS CHECKING AS YOU CONSIDER NECESSARY. THIS LIMITATION OF LIABILITY APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR ANY OTHER BASIS.</p>

		<p>IF ANY PART OF THIS LIMITATION ON LIABILITY IS FOUND TO BE INVALID OR UNENFORCEABLE FOR ANY REASON, THEN THE AGGREGATE LIABILITY OF THE RELEASED PARTIES FOR LIABILITIES THAT OTHERWISE WOULD HAVE BEEN LIMITED SHALL NOT EXCEED TEN DOLLARS ($10.00).</p>

		<p>This Site gives you specific legal rights and you may also have other rights which vary from country to country. Some jurisdictions do not allow certain kinds of limitations or exclusions of liability, so the limitations and exclusions set out in these Terms of Use may not apply to you. Other jurisdictions allow limitations and exclusions subject to certain conditions. In such a case the limitations and exclusions set out in these Terms of Use shall apply to the fullest extent permitted by the laws of such applicable jurisdictions. Your statutory rights as a consumer, if any, are not affected by these provisions, and we do not seek to exclude or limit liability for fraudulent misrepresentation.</p>

		<a rel="nofollow" name="15"></a>
		<h3>Links to Third-Party Websites</h3>

		<p>This Site contains links to other websites operated by APM’s service providers and by nonaffiliated organizations. Because we have no control over third-party websites, we are not responsible for the availability of those websites and do not endorse and are not responsible or liable for any content, advertising, services, products, or other materials on or available from such websites. APM shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any content, advertising, services, products, or other materials on or available from such websites. These Terms of Use do not apply to your use of third-party websites; your use of such websites is subject to the terms and policies of the owner of such websites.</p>

		<a rel="nofollow" name="16"></a>
		<h3>Modification and Discontinuation</h3>

		<p>We reserve the right at any time and from time-to-time to modify, edit, delete, suspend or discontinue, temporarily or permanently this Site (or any portion thereof) and/or the information, materials, products and/or services available through this Site (or any part thereof) with or without notice. You agree that we shall not be liable to you or to any third party for any such modification, editing, deletion, suspension or discontinuance of this Site.</p>

		<a rel="nofollow" name="17"></a>
		<h3>Waiver</h3>

		<p>Our failure at any time to require performance of any provision of these Terms of Use or to exercise any right provided for herein will not be deemed a waiver of such provision or such right. All waivers must be in writing. Unless the written waiver contains an express statement to the contrary, no waiver by APM of any breach of any provision of these Terms of Use or of any right provided for herein will be construed as a waiver of any continuing or succeeding breach of such provision, a waiver of the provision itself, or a waiver of any right under these Terms of Use.</p>

		<a rel="nofollow" name="18"></a>
		<h3>Severability</h3>

		<p>If any provision of these Terms of Use is held by a court of competent jurisdiction to be contrary to law, such provision will be changed and interpreted so as to best accomplish the objectives of the original provision to the fullest extent allowed by law and the remaining provisions of these Terms of Use will remain in full force and effect.</p> 

		<a rel="nofollow" name="19"></a>
		<h3>Governing Law, Jurisdiction and Venue</h3>

		<p>These Terms of Use will be governed under the laws of the State of Minnesota without regard to its conflicts of law provisions. All actions or proceedings arising out of or relating to these Terms of Use will be venued exclusively in state or federal court in Ramsey County, Minnesota. You hereby irrevocably consent and submit to the personal jurisdiction of said courts for all such purposes. However, we retain the right to bring legal proceedings in any jurisdiction where we believe that infringement of these Terms of Use is taking place or originating.</p>

		<a rel="nofollow" name="20"></a>
		<h3>Indemnity</h3>

		<p>You agree to indemnify and hold APM, its subsidiaries, and affiliates, and their respective officers, agents, partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use of this Site in violation of these Terms of Use and/or arising from a breach of these Terms of Use and/or any breach of your representations and warranties set forth above and/or if any material that you post using this Site causes us to be liable to another. We reserve the right to defend any such claim, and you agree to provide us with such reasonable cooperation and information as we may request.</p>

		<a rel="nofollow" name="20"></a>
		<h3>These Terms of Use May Change</h3>

		<p>We reserve the right to update or modify these Terms of Use at any time, without prior notice, by posting the revised version of these Terms of Use behind the link marked "Terms of Use" at the bottom of each page of this Site.  These changes will be effective as of the date we post the revised version on this Site.  Your continued use of this Site after we have posted the revised Terms of Use constitutes your agreement to be bound by the revised Terms of Use.</p>  

		<p>For your convenience, whenever these Terms of Use are changed, we will alert you by placing the word "New" next to the link marked "Terms of Use" in the universal footer of this Site. We will also update the "effective date" at the top of this page. If you have not used this Site recently, be sure you check the effective date to see if these Terms of Use have been revised since your last visit.</p>

		<p>You may access the current version of these Terms of Use at any time by clicking on the link marked "Terms of Use" in the universal footer of this Site.</p>

		<a rel="nofollow" name="21"></a>
		<h3>Entire Agreement</h3>

		<p>These Terms of Use (together with our Privacy Policy and any click-through agreements applicable to you) contain the entire understanding and agreement between you and APM with respect to this Site and supersede all previous communications, negotiations, and agreements, whether oral, written, or electronic, between you and APM with respect to this Site and your use of this Site. </p>

		<a rel="nofollow" name="22"></a>
		<h3>Definitions</h3>

		<p><em>The terms "APM," "we," "us," and "our"</em> refer to Minnesota Public Radio d/b/a American Public Media.</p>
	
		<p><em>The term "Content"</em> refers to all of the software and code comprising or used to operate this Site, and all of the text, photographs, images, illustrations, graphics, sound recordings, video and audio-video clips, and other materials available on this Site, including User-Generated Content.</p>

		<p><em>The term "Feedback"</em> refers to the Content you post on or through this Site that is specifically about how we can improve this Site and the products and services we make available through this Site. See also the definition of "User-Generated Content."</p>

		<p><em>The term "including"</em> means "including, but not limited to." </p>

		<p><em>The term "Personal Information"</em> refers to information that identifies you personally, alone or in combination with other information available to us. Examples of Personal Information include your name, address, and email address.</p>

		<p><em>The term "Privacy Notice"</em> refers to notices posted on particular pages of this Site that provide a level of detail that we cannot provide in this more general description of our privacy practices. Privacy Notices provide details about the Personal Information we collect on those pages, why we need that information, and choices you may have about the ways we use that information.</p>
			
		<p><em>The terms "Privacy Policy" and "Policy"</em> refer to the online Privacy Policy available <%= link_to "here", page_path('privacy') %> .</p>

		<p><em>The term "Site"</em> refers to the website located at www.Spot.us.org and owned by Minnesota Public Radio d/b/a American Public Media.</p>

		<p><em>The term "User-Generated Content"</em> refers to all of the text, photographs, images, illustrations, graphics, sound recordings, video, audio-video clips, and other Content that you post on or through this Site using the social networking tools we make available to you and that does not constitute Feedback. One way that User-Generated Content differs from other information you provide to us is that, once submitted, User-Generated Content is made available instantaneously to others. Examples of User-Generated Content include comments posted beneath news reports available on this Site.</p>

		<a rel="nofollow" name="23"></a>
		<h3>Questions</h3>

		<p>If you have any questions about this Site or these Terms of Use, please contact us using the following information:</p>

		<a rel="nofollow" name="24"></a>
		<blockquote>American Public Media<br/>
		480 Cedar Street<br/>
		St. Paul, MN 55101<br/>
		651-290-1500<br/>
		legal@mpr.org</blockquote>
		
		<p>fb.us.7552376.02</p>

	</div>

</div>