.block-spacer
.box_white
  %h2 Terms of Service
  .double_content_border  
  %h2
    1. Introduction
  %p
    Welcome to Spot.Us – a nonprofit project of the Center for Media Change that is trying to
    pioneer &ldquo;community funded reporting.&rdquo; We believe journalism is a process, not a
    product and that the process should be participatory. We have tried to create a marketplace that
    enables news organizations, independent reporters and community members to come together and
    collaborate on meaningful journalism. Independent reporters create &ldquo;pitches&rdquo; that
    outline journalistic work they intend to fulfill and a specific fundraising goal. Community
    members donate toward pitches. News organizations can also donate to pitches, run the final
    content for free or get exclusive rights to the content by refunding the original donors. The
    refunded money can only be used to support more journalism, so while donors never receive cash
    back, they are able to donate towards two works of journalism for the price of one.
  
  %p
    Our site is all about community and trust. We prefer to keep things informal, but we are also
    told terms of service is necessary for both you and us. So, this is our terms of service page.
    Please check it out.
  
  %h2
    2. The Agreement
  %p
    This Terms of Service Agreement (the "Agreement") is a contract between you and Spot.Us that
    governs your use of the www.spot.us website (the "Website") and all associated services and
    transactions between you and Spot.Us (the "Services"). By using the Website, you agree to be
    bound by this Agreement, whether or not you become a donor in Spot.Us&rsquo; journalism program
    (the "Program").
  
  %p
    Spot.Us may change the Agreement from time to time, at Spot.Us&rsquo; sole discretion. Your
    continued use of this website following the posting of such changes will constitute your assent
    to all such changes. Please periodically visit this section of the site to review the current
    version of the Agreement. This provision is included because we are a nonprofit startup and
    still getting our feet on the ground; we have no intention of making sweeping changes.
  
  %p
    You may receive a written copy of this Agreement by emailing us at:
    == #{mail_to "info@spot.us", nil, :encode => "hex"},
    Please include the subject: "Spot.Us Terms of Agreement."
  
  %h2 3. Participation In The Program
  %hr/
  %p
    Spot.Us is a marketplace where independent journalists can pitch the public for small donations
    that can add up to fund an investigation into work that will benefit the public. The marketplace
    is set up so that a &ldquo;pitch&rdquo; from a reporter acts as a contract. In the contract a
    reporter sets a target fundraising goal. Spot.Us cannot guarantee that the fundraising goal will
    be met. Spot.Us makes no warranty or guarantee of performance on behalf of the reporters whose
    projects are promoted on this site.
  
  %p
    By participating in the Program or otherwise using the Services, you hereby acknowledge and
    agree that (a) Spot.Us makes no representation as to whether the finished content will meet your
    specific demands. Rather we work to make sure the final content meets the requirements laid out
    by the reporters. We make efforts to ensure that every project is completed but take no
    responsibility on behalf of the reporters. (b) Donations made via the Website may be returned as
    &ldquo;credits&rdquo; to the user in the case that a &ldquo;pitch&rdquo; is unsuccessful in
    reaching its target goal, but we will not reimburse actual U.S. dollars. (As a small startup
    nonprofit, we simply can&rsquo;t afford that kind of regular transaction). YOU ASSUME TOTAL
    RESPONSIBILITY FOR YOUR DONATIONS&rsquo;S MADE THROUGH THIS SITE.
  
  %p
    You understand that any and all decisions made by you with respect to the Program are yours
    alone. Spot.Us cannot and does not verify the accuracy of information in pitches, but does allow
    users to investigate the reporters who produce them. Donors furthermore acknowledge that
    journalism may not adhere to exact production schedules defined in project descriptions and that
    on some occasions projects may change in scope or direction while underway. Spot.Us will not
    make any refunds of donations to donors for any reason other than inaccurately entered donation
    amounts or recipients, which must be reported within five business days of the donation to
    qualify for a refund.
  
  %h3 3.1. Donation Distribution
  
  %p
    You understand that every pitch is assigned an independent &ldquo;quality assurance
    editor&rdquo; who receives 10% of the money raised. These are not Spot.Us employees, but other
    independent contractors. The remaining 90% of the money goes to the reporter. Spot.Us will not
    take any of this money, but does ask for additional contributions to be made towards its
    operational costs.
  
  %h3 3.2. Tax Deductibility
  
  %p
    You understand that Spot.Us is a project of the non-profit Center for Media Change which has
    received an exemption from the Internal Revenue Service as an organization that qualifies as a
    public charity under Section 501(c)(3) of the Internal Revenue Code of 1986, as amended from
    time to time. Your donations are tax-deductible, but you are solely responsible for determining
    the proper tax treatment for any donation you make through the Services and the Program. Spot.Us
    will not provide any tax or legal advice to you in connection with any donation you might make.
  
  %h2 4. Negative Participation Sucks
  %hr/
  %p
    Although Spot.Us assumes no obligation to monitor the conduct of any user off the Website, it is
    a violation of this Agreement to use any information obtained from the Website in order to
    harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell to
    any user without their prior explicit consent. Please see our = link_to 'Privacy Policy',
    page_path("privacy") for more details.
  
  %h3 4.1 Comments
  
  %p
    Spot.Us welcomes user comments on our stories and posts. Spot.Us&rsquo; mission is to engage the
    public in news analysis of issues in their community and to encourage interaction with
    journalists. We intend for comment sections to be used as a place for civil, thought-provoking
    and high-quality public discussion. In order to achieve this, Spot.Us requires that all
    commenters register and post comments with their user names. Spot.Us reserves the right to
    remove postings that include the use of foul language, personal attacks or the use of language
    that may be libelous or interpreted as inciting hate or sexual harassment; however we are under
    no obligation to do so. User comments may be reviewed by moderators and may be included or
    excluded at our discretion.
  
  %h3  4.2. Creation Content
  
  %p
    Users have the right to produce content on the site but they also understand that content must
    not be illegal, obscene, defamatory, threatening, infringing of intellectual property rights,
    invasive of privacy or otherwise injurious or objectionable. Under any of these circumstances,
    Spot.Us reserves the right to delete the offending material.
    
  %h2 5. Copyright
  %hr/
  %p
    If you post any messages or other information on the Website, you shall be deemed to have
    automatically granted, represented and warranted that such content be licensed under a Creative
    Commons Attribution 3.0. The only exception to this will be content produced by users who
    identify themselves as &ldquo;reporters&rdquo; who have a separate agreement that supersedes
    this section of the &lsquo;Terms of Service&rsquo; Agreement. After the period of time specified
    in that agreement, all content produced by reporters will revert back to Creative Commons
    Attribution 3.0 License.
  
  %h3 5.1
  
  %p
    You may view the contract between Spot.Us and "reporters," which Supercedes this section
    = link_to 'here.', page_path("reporter_contract")
    
  %h3 5.2 Copyright Licenses
  %p
    Spot.Us will on occasion grant an exclusive license for the use of a reporter’s story to a news
    organization for a limited period of time in exchange for money that will be distributed towards
    other journalism projects at the discretion of community members.
  
  %h3 5.3 Copyright Complaints
  %p
    If you are a copyright owner and you believe that your copyrighted materials have been used in a
    way that constitutes copyright infringement, please see our DMCA Notice Policy [ADD LINK TO DMCA
    POLICY].
    
  %h2 6. Accounts
  %hr/
  %p
    In order to take part in the Program, you will be required to register and establish a
    password-protected account with Spot.Us (an “Account”). You represent and warrant that all
    information provided by in the Account is current, accurate and complete, and that you will
    maintain the accuracy and completeness of this information.
  %p
    You are solely responsible for maintaining the confidentiality and security of your password(s)
    and Account(s). You understand and agree that you are fully responsible for all actions and
    postings made from your Account. You agree to notify Spot.Us immediately if you become aware of
    any unauthorized use of your Account Spot.Us holds the right to terminate or restrict access to
    a user&rsquo;s account, and to delete any content posted through it.
  
  %p
    You acknowledge, consent and agree that Spot.Us may, at its sole discretion and to the extent
    permitted by law, access, read, preserve and disclose your account information, usage history
    and submitted content in order to: (a) comply with any applicable law, regulation, legal
    process, or governmental request; (b) respond to claims that any content violates the rights of
    third parties, including intellectual property rights or libel; (c) enforce this Agreement and
    investigate potential violations thereof; (d) detect, prevent, or otherwise address fraud,
    security, or technical issues; (e) respond to your requests for customer service; or (f) protect
    the rights, property, or personal safety of Spot.Us, its users, or the public.
  
  %h2 7. Don&rsquo;t Sue Us Into Oblivion (Disclaimer of Warranty)
  %hr/
  %h3 7.1
  
  %p
    The Service is available &ldquo;as is.&rdquo; We do not warrant that it will be uninterrupted or
    error-free. There may be delays, omissions, interruptions and inaccuracies in the news,
    information or other materials available through the Service. We are not responsible for the
    availability or content of other services that may be linked to the Service. We do not make any
    warranties, express or implied, including without limitation, those of merchantability and
    fitness for a particular purpose, with respect to the Service or any information or goods that
    are available or advertised or sold through the Service. We do not make any representations, nor
    do we endorse the accuracy, completeness, timeliness or reliability of any advice, opinion,
    statement or other material or database displayed, uploaded or distributed in the Service or
    available though links in the Website. We reserve the right to correct any errors or omissions
    in the Service but are under no obligation to do so. We do not guarantee or warrant that the
    Service or materials that may be downloaded from the Website do not contain viruses, worms or
    other destructive features. We are not liable for any damages or harm attributable to such
    features. If you rely on the Service and any materials available through the Website, you do so
    solely at your own risk.
  
  %h3 7.2. Disputes With Spot.Us and Jury Trial Waiver
  
  %p
    If there is any dispute about or involving spot.us, the Website or or partaking in the Service
    in any way the, you agree that the dispute will be governed by the laws of the State of
    California without regard to its conflict of law provisions. You agree to personal jurisdiction
    by and venue in the state and federal courts located in the San Francisco Bay Area of
    California.
    
  %p
    You agree to indemnify and hold Spot.Us harmless from any loss, liability, claim, or demand,
    including reasonable attorney&rsquo;s fees, made or incurred by any third party due to or
    arising (directly or indirectly) out of your use of the Website or Service, participating in the
    Program or arising from a breach of this Agreement.
 
  %h2 8. Termination of Service
  %hr/
  %p
    Spot.Us disclaims all responsibility and liability for the availability, timeliness, security or
    reliability of the Program. Spot.Us reserves the right to modify, suspend, or discontinue the
    Program without any notice at any time and without any liability to you.


  %h2 9.No Waiver of Terms
  %hr/
  %p
    Failure of Spot.Us to exercise or enforce any right or provision of this Agreement shall not be
    deemed a waiver of such right or provision in any instance.
   
    
    
.block-spacer