%div#inline_donation_form
  %div#donation_button
    = link_to_remote image_tag("donate_25.png"), :update => "#inline_donate_form", :url => donations_url, :method => :post
  %div#donation_custom{:style => "display:none"}
    stuff
  = link_to_function "OR PLEDGE ANOTHER AMOUNT", :id => "toggle_donation_button"

