<div class="clearfix">
   <%= render :partial => 'donations/donate_default_form', :locals => {:news_item => news_item} %>
   <%= render :partial => "shared/progress_bar", :locals => {:pitch => news_item} %>
</div>