<%if show_cca?(@show_cca) && (!defined?(only_progress) || !only_progress)%>
	<% html_options = {:id => "new_donation_#{news_item.id}"}%>
	<% html_options[:target] = "_blank" if @is_widget%>
	<%# form_for Donation.new(:pitch => news_item, :amount => Donation::DEFAULT_AMOUNT<news_item.funding_needed ? Donation::DEFAULT_AMOUNT : news_item.funding_needed), :url => myspot_donations_path, :html => html_options do |f|   ({:protocol=>"https"}) %>
	<%=form_tag("https://#{APP_CONFIG[:default_host]}/purchase/#{news_item.id}/", {:target => @is_widget ? "_blank" : ""}) %>
		<%= hidden_field_tag :total_amount, news_item.suggested_funding %>
		<%= submit_tag "Fund This", :alt => "Donate #{Donation::DEFAULT_AMOUNT}", :title => "Click here to donate $#{Donation::DEFAULT_AMOUNT}" %>
	</form>
<%end%>