<div class="introContainer">
	<p>You can use Spot.us to <a href="/stories/unfunded" title='support reporting' id='help_to-support-reporting'>support reporting</a>, to  <a href="" title='news publisher' id='help_to-support-reporting'>start a story</a>, or as a <a href="" title='news publisher' id='help_to-support-reporting'>news publisher.</a></p>
	<p>Want to be a Sponsor? <span><a href="/pages/sponsors">Let us know</a></span>.</p>
</div>
<%= render :partial => "shared/stats"%>
<div class="joinContainer">
	<a href="/user/new" title='Join Us'>Join Us &rsaquo;</a>
</div>