- if news_item.supporting_organizations.any? || news_item.donations_and_credits.from_organizations.any?
  %h2 Organizational Support
  .supporters.clearfix
    - news_item.organizational_donors.each do |supporter|
      = render :partial => 'news_items/organizational_donor', :locals => {:news_item => news_item, :supporter => supporter}
    - news_item.supporting_organizations.each do |supporter|
      = render :partial => 'news_items/organizational_supporter', :locals => {:news_item => news_item, :supporter => supporter}
