.create_tip_spacer
.block-spacer-negative
%h3 Common Questions
.double_content_border
%h4.title Building a Pitch?
%p.alt-spotus
  You are about to build a pitch! Traditionall you would pitch an editor. But through Spot.Us you 
  can pitch the public because now they have a freelance budget. Fill out the fields in this form, 
  including an image and caption.
  == #{link_to "Check our FAQ for for reporters", page_path("about") + "#faq_reporter"},

%h4.title How Much Should I ask for?"
%br/ 
%p.alt-spotus 
  Be reasonable and make sure you can justify your request. The smaller your goal, the easier it will 
  be to achieve it. As you prove your journalistic integrity you can ask for more in your second pitch. 
  You can also accept the pitch at any time, even if you haven't reached your fundraising goal.
  Feel free to ask a news organization to split the bill with the Spot.Us community.

%h4.title What happens next?
%p.alt-spotus 
  We fundraise! It won't be easy, but when it's done, you'll be reporting on a pitch you crafted
  working directly for the public. If you have questions along the way, don't hesitate to contact
  us.
  = mail_to "david@spot.us", nil, :encode => "hex"
