<% @title = "Spot.us - Edit Your Story" %>

<div class="formContainer">
	<div class="formBody">
		<% unless @story.errors.empty? %>
			<% content_for :error do %>
				<%= error_messages_for :story %>
			<% end %>
		<% end %>

		<div class="row">
			<label>Original Pitch:</label> <%= link_to @story.pitch.headline, @story.pitch %>
		</div>
	
		<h2>Edit Your Story</h2>
		<%= render :partial => 'form' %>
	</div>
</div>