<div class="contentContainer" style=" width:700px; float:left; padding: 20px 20px 40px 0;">
	<h2>Oops, something went wrong</h2>
	<p style="padding-left:10px;">
		If the error is persistent, please contact us.
	</p>
</div>