<div class="introContainer">
	<p>You can use Spot.us to <a href="/stories/unfunded" title='support reporting'>support reporting</a>, to <%= facebox_login_link_to("start a story", new_pitch_path) %>, or as a <a href="" title='news publisher'>news publisher.</a></p>
	<p>Want to be a Sponsor? <span><a href="#">Let us know</a></span>.</p>
</div>
<div class="statsContainer">
	<h2>4,500+ Contributions</h2>
	<h2>85+ Publishing Partners</h2>
</div>
<div class="joinContainer">
	<a href="/user/new" title='Join Us'>Join Us &rsaquo;</a>
</div>