<div class="introContainer">
	<p>Get a <a href="" title='help_email-alerts' id='help_email-alerts'><b><FONT COLOR="#DC143C">personalized email</FONT></b> when a pitch comes in that is JUST right for you</a> (No registration).</p>
	<p>Want to be a Sponsor? <span><a href="pages/sponsors">Let us know</a></span>.</p>
</div>
<%= render :partial => "shared/stats"%>
<div class="joinContainer">
	<a href="/user/new" title='Join Us'>Join Us &rsaquo;</a>
</div>