<div class="introContainer">
	<p>Thank you for your interest in Spot.us. We are not accepting new pitches or donations at this time. <a href="/pages/status">Learn more about why.</a></p>
</div>
<%= render :partial => "shared/stats"%>
<div class="joinContainer">
	<a href="/user/new" title='Join Us'>Join Us &rsaquo;</a>
</div>
