<div class="introContainer">
	<p>Get <a href="" title='help_email-alerts' id='help_email-alerts'>personalized emails when a pitch comes in about a topic you love</a> (No registration).</p>
	<p>Want to be a Sponsor? <span><a href="pages/sponsors">Let us know</a></span>.</p>
</div>
<div class="statsContainer">
	<h2><span><a href="http://spot.us/contributors">4,850+ Contributors</a></h2>
	<h2><a href="http://spot.us/pages/examples">95+ Publishing Partners</a></h2>
</div>
<div class="joinContainer">
	<a href="/user/new" title='Join Us'>Join Us &rsaquo;</a>
</div>