<% @title = "Spot.us - Home" %>
<div class="lowerWrapper">
	<div class="contentContainer">
		<div class="storyGrid">
			<ul>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">Across L.A., blurring lines between commercial and residential</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">Most California Exonorees Denied Compensation for Imprisonment</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">The LA Justice Report - Project 2: DANGEROUS JAILS</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">Across L.A., blurring lines between commercial and residential</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">Most California Exonorees Denied Compensation for Imprisonment</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">The LA Justice Report - Project 2: DANGEROUS JAILS</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>			<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">Across L.A., blurring lines between commercial and residential</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">Most California Exonorees Denied Compensation for Imprisonment</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
				<li>
					<img src="/images/new/placeholder.png">
					<h3><a href="#">The LA Justice Report - Project 2: DANGEROUS JAILS</a></h3>
					<span>01/01/11 by <a  href="#">name of Person</a></span>
					<a href="#" class="creditsButton">Free Credits</a>
					<a href="#" class="fundButton">Fund This Story</a>
					<span>$100 raised and $100 to go</span>
				</li>
			</ul>
		</div>
	</div>
</div>