- # IBOX Content Start      
#inner_content{:style=>"display:none;"}
  .clear
  .double_content_border
  .box_white
    %p If you were to view source, you would find a div called 'inner_content'. This is that div. We have used CSS to set its display property to none, but using <a href="/blog/p_ibox.html">iBox</a>, you can clearly see it as an overlay. Hurrah!
  %div{:style=>"background:#999999;color:#ffffff;border:1px dashed #FFFFFF;padding:10px;margin:10px;"} 
    %h3 It is a hidden div!
    %p If you were to view source, you would find a div called 'inner_content'. This is that div. We have used CSS to set its display property to none, but using <a href="/blog/p_ibox.html">iBox</a>, you can clearly see it as an overlay. Hurrah!
    .clear
- # IBOX Content End