- @title = "Spot.us - Create a Tip"
.block-spacer
%h3 Create a Tip

#equalize

  - # first column content 
  .span-715.box_white

  
  - # second column content   
  .span-160.box_white

.clear
.block-spacer