= link_to_ibox "View Image", :for => "../images/preview_tip.png", :title=>""
:plain
  <a title="<img src='../images/preview_icon.png' class='float_left'/>Loading Internal HTML Content" rel="ibox" href="#inner_content">#inner_content</a>
  
  <div id="inner_content" style="display:none;">
    <div style="background:#000000;color:#ffffff;border:1px dashed #FFFFFF;padding:15px;margin:15px;">  
      <h3>It is a hidden div!</h3>
      <p>If you were to view source, you would find a div called 'inner_content'. This is that div. We 
  have used CSS to set its display property to none, but using <a href="/blog/p_ibox.html">iBox</a>, 
  you can clearly see it as an overlay. Hurrah!</p>
      <p>It is even styled. Oh so pretty it is</p>
    </div>
  </div>


