- @title = "Spot.us - Create a Pitch"
.block-spacer
%h3 Create a Tip

#equalize
  .span-455.box_white
    %h3 hello 321
    %p I was here
    .block-spacer-negative
    %h3 hello 321
    %p I was here
    .block-spacer-negative
    %h3 hello 321
    %p I was here
  .span-220.column_v.box_white
    %h3 hello 321
    %p I was here
    .block-spacer-negative
    %h3 hello 321
    %p I was here
  .span-160.box_white
    %h3 hello 321
    %p I was here
.clear
.block-spacer
