:plain
      <div id="example" class="flora">
              <ul>

                  <li><a href="#fragment-1"><span>One</span></a></li>
                  <li><a href="#fragment-2"><span>Two</span></a></li>
                  <li><a href="#fragment-3"><span>Three</span></a></li>
              </ul>
              <div id="fragment-1" class="ui-tabs-panel" style="display: block;">
                  <p>First tab is active by default:</p>
                  <pre><code>$('#example > ul').tabs();</code></pre>
              </div>
              <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>
              <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>
      </div>
  