- @title = "Spot.us - Home"

.block-spacer
.home-boxer
  %div.home-floater{:style=>"width:345px;float:left;background: #fff;"}
    %h3 What is Spot.us?
    .double_content_border
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. 
    %p
      Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus.
    
  %div.home-floater{:style=>"width:510px;float:right;background: #fff;"}
    %h3.float-left Help Fund this Story
    .float-right
      %span= link_to "View more Pitches &raquo;", "#"
    .double_content_border.clear
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus.
  .clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
.home-boxer
  %div.home-floater{:style=>"width:345px;float:left;background: #fff;"}
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. 
    %p
      Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus.

  %div.home-floater{:style=>"width:510px;float:right;background: #fff;"}
    %h3 Help Fund this Story
    .double_content_border
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus.
  .clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer