- @title = "Spot.us - Member Profile"
.block-spacer
%h3 My Spot
- # nav
#tab_container
  %ul.navigation
    %li
      %a{ :href => "#screens", :class => "selected" } Activity
    %li
      %a{ :href => "#javascripts" } Dashboard
    %li
      %a{ :href => "#image_assets" } Profile
    %li
      %a{ :href => "#issues" } Settings
.clear


#equalize

  - # first column content 
  .span-605.box_white
  
  - # second column content   
  .span-270.box_white

.clear
.block-spacer