<div class="updateContainer">
	<h2>Assignments</h2>
	<% if @pitch.assignments.any? %>
	<%= render :partial => 'assignments', :locals => {:pitch => @pitch}%>
	<% else %>
	Not every pitch has assignments. Like large cats, some reporters like to work
	alone. Check to see if other pitches do have assignments you can help out with!
	<% end %>
</div>

<%=render :partial => "pitches/sidebars/narrow"%>


