<div class="pitchLeftContainer">
	<h2>Qualifications</h2>
		<%= @pitch.skills %>
	<h2>Delilverables</h2>
		<%= @pitch.delivery_description %>
	<h2>Disclaimers</h2>
	<%= @pitch.disclosure %>
</div>
<%=render :partial => "pitches/tabs/sidebar"%>