<div class="donorsContainer">
	<h2>Donors: $2,302 donated by 34 people</h2>
		<ul>
			<li><img src="/images/default_avatar.png">
				<h3>Spot.us</h3>
				<span>Joined  02.25.09</span>
				<h4>Contributed $6,032 to 82 stories</h4>
				Spot.us is an open source project to pioneer "community funded
				journalism." Through Spot.us, the public can commission...
				<a href="#">more &rarr;</a>
			</li>
			<li><img src="/images/default_avatar.png">
				<h3>Spot.us</h3>
				<span>Joined  02.25.09</span>
				<h4>Contributed $6,032 to 82 stories</h4>
				Spot.us is an open source project to pioneer "community funded
				journalism." Through Spot.us, the public can commission...
				<a href="#">more &rarr;</a>
			</li>
			<li><img src="/images/default_avatar.png">
				<h3>Spot.us</h3>
				<span>Joined  02.25.09</span>
				<h4>Contributed $6,032 to 82 stories</h4>
				Spot.us is an open source project to pioneer "community funded
				journalism." Through Spot.us, the public can commission...
				<a href="#">more &rarr;</a>
			</li>
			<li><img src="/images/default_avatar.png">
				<h3>Spot.us</h3>
				<span>Joined  02.25.09</span>
				<h4>Contributed $6,032 to 82 stories</h4>
				Spot.us is an open source project to pioneer "community funded
				journalism." Through Spot.us, the public can commission...
				<a href="#">more &rarr;</a>
			</li>
			<li><img src="/images/default_avatar.png">
				<h3>Spot.us</h3>
				<span>Joined  02.25.09</span>
				<h4>Contributed $6,032 to 82 stories</h4>
				Spot.us is an open source project to pioneer "community funded
				journalism." Through Spot.us, the public can commission...
				<a href="#">more &rarr;</a>
			</li>
			<li><img src="/images/default_avatar.png">
				<h3>Spot.us</h3>
				<span>Joined  02.25.09</span>
				<h4>Contributed $6,032 to 82 stories</h4>
				Spot.us is an open source project to pioneer "community funded
				journalism." Through Spot.us, the public can commission...
				<a href="#">more &rarr;</a>
			</li>
		</ul>
</div>
<%=render :partial => "pitches/sidebars/narrow"%>