<div class="updateContainer">
	<h2>Story Updates</h2>
	<% if @pitch.posts.any? %>
	
		<ul>
			<% @pitch.posts.each do |post| %>
				<%=render :partial => 'post_in_list', :locals => { :post => post }%>
			<% end %>
		</ul>

	<% else %>
		<p>
			<em>This story has no updates yet.</em>
		</p>
	<% end %>
</div>
<%=render :partial => "pitches/sidebars/narrow"%>