- div_for tip do
  .block-spacer-negative
  .box_white
    #equalize
      = render :partial => 'news_items/news_item', :object => tip
      .span-280
        = render :partial => "pledges/button", :locals => { :news_item => tip }
    .clear
