<% apply_fragment ['tip_alt_', tip] do %>
	<div class="pitch">
		<%= render :partial => 'news_items/news_item', :object => tip %>
	    <div class="donater">
	      <%= render :partial => "pledges/button", :locals => { :news_item => tip } %>
	    </div>
	   
	   <!-- <div class="author clearfix">
	      <%#= link_to image_tag(tip.user.photo(:thumb), :class => "avatar", :alt => ""), profile_path(tip.user) %>
	      <%#= link_to "By " + truncate(tip.user.full_name.upcase, :length => 28), profile_path(tip.user), {:title => tip.user.full_name.upcase} %>
	   </div> -->
	</div>
<% end %>


