%h1
  Listing tips
%table
  %tr
  - for tip in @tips
    %tr
      %td
        = link_to 'Show', tip
      %td
        = link_to 'Edit', edit_tip_path(tip)
      %td
        = link_to 'Destroy', tip, :confirm => 'Are you sure?', :method => :delete

%br/
= link_to 'New tip', new_tip_path
