   <% unless @tip.errors.empty? %>
     <% content_for :error do %>
       <%= error_messages_for :tip %>
     <% end %>
   <% end %>

   <% @title = "Spot.us - Create a Tip" %>
<div class="status">
Thank you for your interest in Spot.us. We are not accepting new pitches or donations at this time.
<a href="/pages/status">Learn more about why.</a>
</div> 
