- if current_user && logged_in? && current_balance.to_i > 0
  You need
  %span#current_balance= number_to_currency(current_balance)
  to fund your donations.
  = link_to "Purchase &raquo;", edit_myspot_donations_amounts_path