<%if  current_user.total_credits>0%>
	<li class="purchase" id="hoverAnchorCredits"><%=link_to image_tag("/images/new/credits.png"), "/stories/unfunded"%></a></li>
	<li class="menuSeparator">&nbsp;</li>
<%end%>