<div class="footerContainer">
	<div class="footerNotes">
		<h3>Almost Funded Stories</h3>
		<ul>
			<li><a href="#">Saguache County: A test case in Colorado election integrity</a> <span>$100.00 to go</span></li>
			<li><a href="#">Downtown LA's Transit-Oriented Stadium</a> <span>$100.00 to go</span></li>
			<li><a href="#">Across L.A., blurring lines between commercial and residential</a> <span>$100.00 to go</span></li>
			<li><a href="#">Most California Exonorees Denied Compensation for Imprisonment</a> <span>$100.00 to go</span></li>
		</ul>
	</div><!--end footernotes-->
	<div class="footerNotes">
		<h3>Unfunded Stories</h3>
		<ul>
			<li><a href="#">Saguache County: A test case in Colorado election integrity</a></li>
			<li><a href="#">Downtown LA's Transit-Oriented Stadium</a></li>
			<li><a href="#">Across L.A., blurring lines between commercial and residential</a></li>
			<li><a href="#">Most California Exonorees Denied Compensation for Imprisonment</a></li>
		</ul>
	</div><!--end footernotes-->
	<div class="footerNotes">
		<h3>What is Spot.us?</h3>
		<p>Spot.Us is an open source project to pioneer “community powered reporting.” Through Spot.Us the public can commission and participate with journalists to do reporting on important and perhaps overlooked topics. Contributions are tax deductible and we partner with news organizations to distribute content under appropriate licenses.</p>
	</div><!--end footernotes-->	
</div>