<div class="headerContainer">
	<div class="logoContainer">
		<a href="/" title="Spot.us - Community Funded Reporting">
			<span>Spot.us - Community Powered Reporting</span>
			<%if @current_network && @current_network.name=="la"%>
			<span><img src="/images/new_design/usc.png" alt="USC Annenberg Center" /></span>
			<%end%>
		</a>
	</div><!--end logo container-->
	<div class="rightheaderContainer">
		<ul class="loginMenu">
			<li><a href="#">Join</a> or <a href="#">Login</a></li>
			<li>| <a href="#">Learn More</a></li>
		</ul><!--end loginMenu-->
		<ul class="socialMenu">
			<li><a href="#"><img src="/images/new/facebook_w18.png"></a></li>
			<li><a href="#"><img src="/images/new/twitter_w18.png"></a></li>
			<li><a href="#"><img src="/images/new/flickr_w18.png"></a></li>
			<li><a href="#"><img src="/images/new/rss_w18.png"></a></li>
		</ul><!--end socialMenu-->
	<div class="searchBox">
		<input type="text">
	</div><!--end searchBox-->
		<ul class="headerMenu">
			<li><a href="#">Create a story</a></li>
			<li><a href="#">Fund a story</a></li>
			<li class="last"><a href="#">Earn Credits</a></li>
		</ul><!--end header menu-->
	</div><!--end rightContainer-->
</div>