<div style="margin-top:2px;">
	<div class="roundedcornr_box_807323">
		<div class="roundedcornr_top_807323"><div></div></div>
		<div class="roundedcornr_content_807323">
			<%=link%>
		</div>
      	<div class="roundedcornr_bottom_807323"><div></div></div>
    </div>
</div>