.partners
  .engine_yard
    %span.small 
      = link_to "Engine Yard Hosting.", "http://www.engineyad.com"
  .hashrocket
    %span.small 
      = link_to "Hashrocket 3-2-1 Launch.", "http://www.hashrocket.com"