.partners
  .engine_yard
    %span.small 
      = link_to "Rails Hosting by Engine Yard.", "http://www.engineyard.com/?utm_source=spot.us&utm_medium=hosting&utm_campaign=SpotUs-Hosting"
  .hashrocket
    %span.small 
      = link_to "Hashrocket 3-2-1 Launch.", "http://www.hashrocket.com"