%ul.user-header-nav
  #logged_in.hide
    %li.no-pipe
      Hello,
      %span.current_user_full_name
    %li#current_balance_line
    %li
      = link_to "My Spot", myspot_profile_path
    %li.no-pipe
      = link_to "Logout", destroy_session_path
  #not_logged_in.hide
    %li
      = link_to "Register", new_session_path, :rel => 'facebox'
    %li.no-pipe
      = link_to "Login", new_session_path, :rel => 'facebox', :id => "sign_in"

.slogan
  %span.pink Community
  %span.moss-green Funded Reporting
.clear

