<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
	<%= render :partial => 'layouts/head' %>
	<body style='background:#E3EEEF;'>
		<iframe id="helpframe" src='' height='0' width='0' frameborder='0'></iframe>
		<%#= fb_connect_javascript_tag %>
		<%#= init_fb_connect "XFBML" %>
		<div class="spotus_widget" style="padding-bottom:30px;margin:0px auto;" id='spotus_widget'>
			<div class="spotus_widget_header" style='text-transform:upper-case;background:#11363E;font-size:11px;margin:0px auto;text-align:center;'>
				<span>SpotUs Lite</span>
				<span style="color: #ce859d;">Beta</span>
			</div>
			<div class="spotus_pitch">
				<% if flash[:success]%>
					<span><%=flash[:success]%></span>
				<%end%>
				<%= yield %>
			</div>
			<div class="spotus_footer" style="margin:0px auto;">
				<div class="spotus_slogan">
					<span class="spotus_pink">Community</span>
					<span class="spotus_moss-green">Funded Reporting</span>
				</div>
			</div>
		</div>
		<%= render :partial => 'layouts/google_analytics' if RAILS_ENV == "production" %>
		<script>
			jQuery(document).ready(function($){
				var host = jQuery.cookie('spotus_lite_host');
				var height = document.body.scrollHeight;
				var height_offset = document.body.offsetHeight;
				var height_obj = document.getElementById('spotus_widget').scrollHeight;
				var height_obj_offset = document.getElementById('spotus_widget').offsetHeight;
				if (height_offset > height) {
					height = height_offset;
				}
				if (height_obj > height) {
					height = height_obj;
				}
				if (height_obj_offset > height) {
					height = height_obj_offset;
				}
				var pipe = document.getElementById('helpframe');
				var domain = unescape(host);
				domain = domain.replace('http://', '');
				domain = domain.replace('www.', '');
				pipe.src = host+'/helper.html?height='+height+'&domain='+domain+'&cacheb='+Math.random();
			});
		</script>
	</body>
</html>