<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Filament Group Lab Example From Page from: Setting Equal Heights with jQuery</title>
	<link rel="shortcut icon" href="/images/favicon2.ico" type="image/x-icon" />
	<link href="/style/demoPages" media="screen" rel="Stylesheet" type="text/css" />
	
	<script src="/javascripts/jquery.js" type="text/javascript"></script>
	<script src="/javascripts/jQuery.equalHeights.js" type="text/javascript"></script>
	<script src="/javascripts/application.js" type="text/javascript"></script>

	
	<style type="text/css">
	.container { float:left; clear:left; width:100%; padding:0 0 2em; }
	.box { float:left; width:24%; margin-right:1%; background-color:#c9efbe; }
	.box p { margin:.5em; padding:0; }
	.containWidth {width: 460px;}
    </style>
    
    <script type="text/javascript">
    $(function(){ $('#equalize').equalHeights(); });
    </script>
<script src="/mint/?js" type="text/javascript"></script>
</head>

<body>
<div id="demoHeader">
		<a href="/"><img src="/images/logo_examples.gif" alt="Filament Group, Inc." width="141" height="26" id="logo" /></a>	
		<h1>This is an example from the Filament Group Lab Article: <a href="/lab/setting_equal_heights_with_jquery/">Setting Equal Heights with jQuery</a></h1>

		<p id="copyright">&copy;2008 Filament Group, Inc. All Rights Reserved.</p>
</div><!-- /demoHeader --><div class="containWidth">
	<h2>Variable heights:</h2>
	<div class="container">
		<div class="box"><p>A - Lorem ipsum dolor sit amet</p></div>
		<div class="box"><p>B - consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
		<div class="box"><p>C</p></div>

		<div class="box"><p>D - Ut enim ad minim</p></div>
	</div>
	
	<h2>Same markup, equal heights:</h2>
	<div class="container" id="equalize">
		<div class="box"><p>A - Lorem ipsum dolor sit amet</p></div>
		<div class="box"><p>B - consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
		<div class="box"><p>C</p></div>

		<div class="box"><p>D - Ut enim ad minim</p></div>
	</div>
	<%= yield %>
</div>
</body>
</html>
