!!!
%html
  %head
    %meta{ :name => "keywords",    :content => "Keywords" }/
    %meta{ :name => "description", :content => "Description" }/

    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }/

    %title
      = @title || "Spot.us Widget"

    = stylesheet_link_tag 'widget', :media => "screen"
    = yield :head
  %body
    = yield
